<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/templates/page.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{userPage.initLayout}
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true"  
                         disabled="#{userPage.get('userTable').createContextEmpty}"
                         actionListener="#{userPage.get('userTable').prepareTransient}"
                         oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
        <p:commandButton title="Change Password" icon="fa fa-key" immediate="true" 
                         disabled="#{userPage.get('userTable').updateContextEmpty}"
                         update=":change-password-dlg :messages" oncomplete="PF('changePasswordDlg').show()" />
        <p:commandButton title="Edit Membership" icon="fa fa-group" immediate="true" 
                         disabled="#{userPage.get('userTable').updateContextEmpty}"
                         update=":membership-dlg :messages" oncomplete="PF('membershipDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{userPage.get('userTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" /> 
    </ui:define>

    <ui:define name="editor-content">

        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{userPage.get('userTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{userPage.get('userTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Real Name" />
                        <p:column headerText="Username" />
                        <p:column headerText="Groups" />
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <h:outputText value="#{item.person.name}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.username}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.securityMaps}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{userPage.get('userTable').prepareTransient}"
                            oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
                <p:menuitem value="Change Password" icon="fa fa-key" immediate="true"
                            update=":change-password-dlg :messages" oncomplete="PF('changePasswordDlg').show()" />
                <p:menuitem value="Edit Membership" icon="fa fa-group" immediate="true"
                            update=":membership-dlg :messages" oncomplete="PF('membershipDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>

    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">
        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="firstname" value="First Name" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{userPage.get('userTable').selection.person.firstName}" id="firstname"
                                         label="First Name" required="true" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="lastname" value="Last Name" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{userPage.get('userTable').selection.person.lastName}" id="lastname"
                                         label="Last Name" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="name" value="Username" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{userPage.get('userTable').selection.username}" id="name"
                                         label="Username" required="true" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="password" value="Password" />
                        </p:column>
                        <p:column>
                            <p:password id="password" value="#{userPage.get('userTable').selection.password}"
                                        match="password-confirm" required="true" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="password-confirm" value="Confirm password" />
                        </p:column>
                        <p:column>
                            <p:password id="password-confirm" value="#{userPage.get('userTable').selection.password}"
                                        required="true" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <h:outputText value="Group" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:pickList id="unit-pick-list" value="#{userPage.get('groupPickList').model}" var="group" itemLabel="#{group}"
                                        itemValue="#{group}" converter="#{userPage.get('groupPickList')}" >
                                <p:ajax event="transfer" listener="#{userPage.get('groupPickList').onTransfer}"
                                        update=":messages" />
                                <f:facet name="sourceCaption">Available Group</f:facet>	
                                <f:facet name="targetCaption">Selected Group</f:facet> 
                            </p:pickList>
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Create" actionListener="#{userPage.get('userTable').create}"
                                                 update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="change-password-dlg" widgetVar="changePasswordDlg" modal="true" resizable="false" header="Change Password" >
            <h:form id="change-password-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="password" value="Password" />
                    <p:password id="password" value="#{userPage.get('userTable').selection.password}"
                                match="password-confirm" required="true" />

                    <p:outputLabel for="password-confirm" value="Confirm password" />
                    <p:password id="password-confirm" value="#{userPage.get('userTable').selection.password}"
                                required="true" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{userPage.get('userTable').changePassword}"
                                         update=":messages" oncomplete="PF('changePasswordDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="membership-dlg" widgetVar="membershipDlg" modal="true" resizable="false" header="Edit Membership" >
            <h:form id="membership-frm">
                <p:panelGrid columns="1">

                    <p:pickList id="unit-pick-list" value="#{userPage.get('groupPickList').model}" var="group" itemLabel="#{group}"
                                itemValue="#{group}" converter="#{userPage.get('groupPickList')}" >
                        <p:ajax event="transfer" listener="#{userPage.get('groupPickList').onTransfer}"
                                update=":messages" />
                        <f:facet name="sourceCaption">Available Group</f:facet>	
                        <f:facet name="targetCaption">Selected Group</f:facet> 
                    </p:pickList>

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{userPage.get('userTable').editMembership}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('membershipDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{userPage.get('userTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{userPage.get('userTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
