<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        #{accountingTransactionPage.initLayout}
    </ui:define>

    <ui:define name="editor-options"> 

    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         actionListener="#{accountingTransactionPage.get('transactionTable').prepareTransient}"
                         update=":create-dlg :create-frm" oncomplete="PF('createDlg').show()"/>
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{accountingTransactionPage.get('transactionTable').updateContextEmpty}"
                         update=":edit-dlg" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{accountingTransactionPage.get('transactionTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">
            <p:dataTable id="dt-tbl" value="#{accountingTransactionPage.get('transactionTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{accountingTransactionPage.get('transactionTable').selections}" styleClass="parent-tbl"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false" 
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" expandedRow="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":editor-tool-frm" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":editor-tool-frm" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":editor-tool-frm" />

                <p:column headerText="Date" width="101" styleClass="center-cols">
                    <h:outputText value="#{item.transactionDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Account and Explanation">
                    <h:outputText value="#{item.description}" styleClass="explanation" />
                </p:column>

                <p:column width="25" styleClass="right-cols">                    

                </p:column>

                <p:column headerText="Debit" width="100">

                </p:column>

                <p:column headerText="Credit" width="101">

                </p:column>

                <p:rowExpansion styleClass="acctg">
                    <p:dataTable id="dt-tbl-detail" value="#{item.acctgTransDetails}" var="detail"
                                 rowKey="#{detail}" disabledSelection="true" >


                        <p:column width="100" styleClass="noheader center-cols">
                        </p:column>

                        <p:column>
                            <h:outputText value="#{detail.account}" styleClass="#{detail.transactionType}" />
                        </p:column>

                        <p:column style="width:25px;" styleClass="noheader">
                            <h:outputText value="#{detail.amount.currency.symbol}" />
                        </p:column>

                        <p:column styleClass="noheader right-cols" >
                            <h:outputText value="#{detail.debit}">
                                <f:convertNumber />
                            </h:outputText>
                        </p:column>

                        <p:column styleClass="noheader right-cols">
                            <h:outputText value="#{detail.credit}" >
                                <f:convertNumber />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>

                </p:rowExpansion>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{accountingTransactionPage.get('transactionTable').prepareTransient}"
                            oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="components">

        <p:dialog width="50%" dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" position="left top"
                  resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="date" value="Date" />
                        </p:column>
                        <p:column>
                            <p:calendar id="date" value="#{accountingTransactionPage.get('transactionTable').selection.transactionDate}" mode="popup" showOn="button" pattern="dd/MM/yyyy" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="exp" value="Explanation" />
                        </p:column>
                        <p:column>
                            <p:inputTextarea id="exp" value="#{accountingTransactionPage.get('transactionTable').selection.description}" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:dataTable id="create-tbl" value="#{accountingTransactionPage.get('transactionTable').detail}" var="entry" lazy="true"
                                         selectionMode="single" selection="#{accountingTransactionPage.get('transactionDetailTable').selection}"
                                         editable="true" editMode="cell" scrollable="true"
                                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false" rowsPerPageTemplate="5 10 15 20 25" rows="15"                                 
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                <p:ajax event="cellEdit" listener="#{accountingTransactionPage.get('transactionDetailTable').handleCellEdit}" update=":messages" />
                                <p:ajax event="contextMenu" process="create-tbl" update=":messages" />
                                <p:ajax event="rowSelect" process="create-tbl" update=":messages" />
                                <p:ajax event="rowUnselect" process="create-tbl" update=":messages" />

                                <f:facet name="header">
                                    <p:commandButton title="Add Detail" icon="ui-icon-plusthick" immediate="true"
                                                     actionListener="#{accountingTransactionPage.get('transactionDetailTable').addDetail}"
                                                     update="create-tbl :messages" />
                                    <p:commandButton title="Delete Detail" icon="ui-icon-closethick" immediate="true"
                                                     actionListener="#{accountingTransactionPage.get('transactionDetailTable').deleteDetail}"
                                                     update="create-tbl :messages" />
                                </f:facet>

                                <p:column headerText="Account">
                                    <p:cellEditor>
                                        <f:facet name="input">
                                            <p:selectOneMenu value="#{entry.account}" converter="#{gLAccountDataList}" style="width:100%" >
                                                <p:ajax listener="#{accountingTransactionPage.get('transactionDetailTable').onAccountChange}" update="curr-col rate-col rate-ref-col :messages" />
                                                <f:selectItem itemLabel="Select Account" itemValue="" />
                                                <f:selectItems  value="#{gLAccountDataList.data}" var="acc" itemValue="#{acc}" itemLabel="#{acc.canonicalName}" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <f:facet name="output">
                                            <h:outputText value="#{entry.account}" />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column>
                                    <h:outputText id="curr-col" value="#{entry.amount.currency.symbol}" />
                                </p:column>

                                <p:column headerText="Debit" styleClass="right-cols" >
                                    <p:cellEditor>
                                        <f:facet name="input">
                                            <p:inputText value="#{entry.debit}" styleClass="right-cols" style="width:100%">
                                            </p:inputText>
                                        </f:facet>
                                        <f:facet name="output">
                                            <h:outputText id="d-col" value="#{entry.debit}">
                                                <f:convertNumber />
                                            </h:outputText>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Credit" styleClass="right-cols">
                                    <p:cellEditor>
                                        <f:facet name="input">
                                            <p:inputText  value="#{entry.credit}" styleClass="right-cols" style="width:100%" >
                                                <p:ajax update="d-col" />
                                            </p:inputText>
                                        </f:facet>
                                        <f:facet name="output">
                                            <h:outputText id="c-col" value="#{entry.credit}" >
                                                <f:convertNumber />
                                            </h:outputText>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Exch. Rate">
                                    <h:outputText id="rate-ref-col" style="float:left;" value="#{entry.exchangeRate.referenceSecurity.symbol}" />
                                    <h:outputText id="rate-col" style="float:right" value="#{entry.exchangeRate.price}">
                                        <f:convertNumber />
                                    </h:outputText>
                                </p:column>

                            </p:dataTable>

                            <p:contextMenu for="create-tbl">
                                <p:menuitem value="Delete" title="Delete Detail" icon="ui-icon-closethick" immediate="true"
                                                 actionListener="#{accountingTransactionPage.get('transactionDetailTable').deleteDetail}"
                                                 update="create-tbl :messages" />
                            </p:contextMenu>
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Create" actionListener="#{accountingTransactionPage.get('transactionTable').create}" icon="ui-icon-check" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid>



                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{accountingTransactionPage.get('transactionTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{accountingTransactionPage.get('transactionTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{accountingTransactionPage.get('transactionTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :editor-tool-frm :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
