<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:view locale="#{userSession.locale}" transient="true" >
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>#{theApp.title}</title>
            <h:outputStylesheet library="base" name="css/layout.css" />
            <h:outputStylesheet library="base" name="css/typography.css" />
            <h:outputStylesheet library="base" name="css/widget.css" />
        </h:head>

        <h:body id="body">
            <ui:insert name="initializer" />
            <p:layout fullPage="true" id="layout">
                <p:layoutUnit id="layout-north" position="north" >
                    <h:form id="main-menu"> 
                        <p:megaMenu model="#{menuBean.model}" style="float:left" /> 
                    </h:form>
                    <h:form id="tool-content" >
                        <p:toolbar>
                            <f:facet name="right">
                                <p:breadCrumb model="#{menuBean.breadcrumb}" homeDisplay="text" style="float:right"/>
                            </f:facet>
                        </p:toolbar>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit id="west" position="west" resizable="true" size="#{pageCtx.explorerWidth}" visible="#{pageCtx.explorerVisibility}"> 
                    <f:facet name="header">
                        <h:form id="explorer-tool-frm" prependId="false">
                            <p:toolbar id="toolbar-upper"> 
                                <f:facet name="left">
                                    <h:outputText id="explorer-title" value="#{pageCtx.explorerTitle}" />
                                </f:facet>
                            </p:toolbar>
                            <p:toolbar id="toolbar-lower">
                                <f:facet name="right">
                                    <ui:insert name="explorer-tool" /> 
                                </f:facet>
                            </p:toolbar>
                        </h:form>
                    </f:facet>
                    <ui:insert name="explorer" />
                </p:layoutUnit>

                <p:layoutUnit id="center" resizable="true" position="center" size="#{pageCtx.editorWidth}" visible="#{pageCtx.editorVisibility}"  > 
                    <f:facet name="header">
                        <h:form styleClass="unit-header">
                            <p:menuButton  id="editor-title" value="#{pageCtx.editorTitle}" >
                                <ui:insert name="editor-options" />
                            </p:menuButton>
                        </h:form>
                        <h:form id="editor-tool-frm" prependId="false" target="popup">
                            <p:toolbar>
                                <f:facet name="right">
                                    <ui:insert name="editor-tool" /> 
                                </f:facet>
                            </p:toolbar>
                        </h:form>
                    </f:facet>
                    <ui:insert name="editor-content" />
                </p:layoutUnit>                  

                <p:layoutUnit id="east" position="east" size="#{pageCtx.propertiesWidth}" visible="#{pageCtx.propertiesVisibility}" > 
                    <f:facet name="header">
                        <h:form id="properties-tool-frm" prependId="false">
                            <p:toolbar> 
                                <f:facet name="left">
                                    <h:outputText id="properties-title" value="#{pageCtx.propertiesTitle}" />
                                </f:facet>
                                <f:facet name="right">
                                    <ui:insert name="properties-tool" /> 
                                </f:facet>
                            </p:toolbar>
                        </h:form>
                    </f:facet>           
                    <ui:insert name="properties" />
                </p:layoutUnit>

                <p:layoutUnit position="south" id="layout-south"> 

                    <h:form id="status-frm" >
                        <p:remoteCommand name="reload" action="#{userSession.switchLocale}" update=":layout" />
                        <p:toolbar>
                            <f:facet name="right">
                                <p:selectOneButton value="#{userSession.locale}" onchange="reload()" >
                                    <f:selectItem itemLabel="EN" itemValue="en" />
                                    <f:selectItem itemLabel="ID" itemValue="id" />
                                </p:selectOneButton>
                            </f:facet>
                            <f:facet name="left">
                                <p:commandButton id="btn-config" icon="ui-icon-gear" immediate="true"
                                                 oncomplete="PF('configPanel').show('#{component.clientId}')" />
                                <ui:insert name="statusbar" />
                            </f:facet>
                        </p:toolbar>
                    </h:form>

                    <p:overlayPanel widgetVar="configPanel" style="width:50%" >
                        <h:form id="config-frm">
                            <p:dataTable id="config-tbl" value="#{pageCtx.configTable.model}" var="item" rowIndexVar="rowIndexVar0"
                                         selectionMode="single" editable="true" editMode="cell"
                                         emptyMessage="No Configuration" paginator="true" paginatorAlwaysVisible="false"
                                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                <p:column headerText="Configuration">
                                    <h:outputText value="#{item.humanName}" />
                                </p:column>

                                <p:column headerText="Remarks">
                                    <h:outputText value="#{item.remarks}" />
                                </p:column>

                                <p:column headerText="Value">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{item.value}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputTextarea value="#{item.value}" />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:overlayPanel>
                </p:layoutUnit>
            </p:layout>


            <p:growl id="messages" />

            <ui:insert name="components" />
            
            <p:dialog id="vars-dlg" widgetVar="vars-dlg" visible="true" header="Page Data Watcher" width="500"
                      position="right bottom" resizable="false"  >
                <h:form id="vars-frm">
                    <p:dataTable id="vars-tbl" value="#{current.page.vars}" var="item"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                        
                        <f:facet name="header">
                            <p:commandButton immediate="true" update="vars-tbl" icon="ui-icon-refresh" />
                        </f:facet>
                        
                        <p:column headerText="Key" >
                            <h:outputText value="#{item.key}" style="word-wrap: break-word" />
                        </p:column>
                        
                        <p:column headerText="Value" >
                            <h:outputText style="word-wrap: break-word" value="#{item.value}" />
                        </p:column>
                        
                    </p:dataTable>
                </h:form>
            </p:dialog>

            <p:ajaxStatus onstart="PF('stats').show()" onsuccess="PF('stats').hide()">
                <p:dialog widgetVar="stats" modal="true" resizable="false" showHeader="false" closable="false">
                    <p:graphicImage library="base" name="images/ajaxloading.gif" style="display: block;" />
                    <h:outputText value="Please wait..." style="display: block; font-size: smaller; text-align: center" />
                </p:dialog>
            </p:ajaxStatus>

            <!--ui:debug /-->

        </h:body>

    </f:view>

</html>
