<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/templates/page.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{attendanceLogPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">

    </ui:define>

    <ui:define name="explorer">
        <h:form id="group-frm">
            <p:dataTable id="group-tbl" value="#{attendanceLogPage.get('machineGroupTable').model}" var="item"
                         selectionMode="single" selection="#{attendanceLogPage.get('machineGroupTable').selection}" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="group-tbl" update=":dt-frm:dt-tbl :messages" />
                <p:ajax event="contextMenu" process="group-tbl" update=":dt-frm:dt-tbl :messages" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="group-tbl">
                <p:menuitem value="Download Logs" icon="fa fa-download" immediate="true" 
                            actionListener="#{attendanceLogPage.get('machineGroupTable').downloadLog}"
                            update=":dt-frm:dt-tbl" />
            </p:contextMenu>
        </h:form>
    </ui:define>

    <ui:define name="editor-tool">
        <p:outputLabel for="date" value="Date: " />
        <p:calendar id="date" value="#{attendanceLogPage.get('logTable').selectedWorkDate}"
                    pattern="dd/MM/yyyy" showOn="button" >
            <p:ajax event="dateSelect" update=":dt-frm:dt-tbl" />
        </p:calendar>
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">
            <p:dataTable id="dt-tbl" value="#{attendanceLogPage.get('logTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{attendanceLogPage.get('logTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                
                <p:column headerText="PIN" filterBy="#{item.machineUser.pin2}" filterMatchMode="exact">
                    <h:outputText value="#{item.machineUser.pin2}" />
                </p:column>
                
                <p:column headerText="User" filterBy="#{item.machineUser.name}" filterMatchMode="contains">
                    <h:outputText value="#{item.machineUser.name}" />
                </p:column>

                <p:column headerText="Log Time">
                    <h:outputText value="#{item.dateTime.time}" >
                        <f:convertDateTime pattern="dd/MM/YYYY HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Machine">
                    <h:outputText value="#{item.machine.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">


            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="components">

    </ui:define>

</ui:composition>
