<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../WEB-INF/templates/page.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="initializer">
        #{machineUserManagementPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">

    </ui:define>

    <ui:define name="explorer">
        <h:form id="group-frm"> 
            <p:dataTable id="group-tbl" value="#{machineUserManagementPage.get('fingerprintMachineGroupTree').model}" var="item"
                         selectionMode="single" selection="#{machineUserManagementPage.get('fingerprintMachineGroupTree').selection}" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="group-tbl" update=":dt-frm:dt-tbl" />
                <p:ajax event="contextMenu" process="group-tbl" update=":dt-frm:dt-tbl" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="group-tbl">
                <p:menuitem value="Download User" icon="ui-icon-person" immediate="true" 
                            actionListener="#{machineUserManagementPage.get('fingerprintMachineGroupTree').backupUsers}"
                            update=":dt-frm:dt-tbl" />
            </p:contextMenu>
        </h:form>
    </ui:define>

    <ui:define name="editor-tool">

    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm"> 
            <p:dataTable id="dt-tbl" value="#{machineUserManagementPage.get('machineUserTable').model}" var="item"
                         selectionMode="single" selection="#{machineUserManagementPage.get('machineUserTable').selection}" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="dt-tbl" update=":dt-frm:dt-tbl" />
                <p:ajax event="contextMenu" process="dt-tbl" update=":dt-frm:dt-tbl" />

                <p:column headerText="PIN">
                    <h:outputText value="#{item.pin2}" />
                </p:column>

                <p:column headerText="Name" filterBy="#{item.name}" filterMatchMode="contains">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

    <ui:define name="components">

    </ui:define>

</ui:composition>
