<ui:composition template="./../../WEB-INF/templates/page.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{userMappingPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">
    </ui:define>

    <ui:define name="explorer">

        <h:form id="group-frm">
            <p:dataTable id="group-tbl" value="#{userMappingPage.get('workUnitTable').model}" var="item"
                         selectionMode="single" selection="#{userMappingPage.get('workUnitTable').selection}"
                         paginator="true" paginatorAlwaysVisible="false" lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="group-tbl" update=":dt-frm:dt-tbl :explorer-tool-frm" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="group-tbl">
            </p:contextMenu>
        </h:form>

    </ui:define>

    <ui:define name="editor-tool">

    </ui:define>

    <ui:define name="editor-content">

        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{userMappingPage.get('userMapTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="single" selection="#{userMappingPage.get('userMapTable').selection}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":prop-frm:prop-tbl :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":prop-frm:prop-tbl :messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="NIK" />
                        <p:column headerText="Name" filterBy="#{item.employee.person.name}" filterMatchMode="contains" />
                        <p:column headerText="Position" />
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <h:outputText value="#{item.employee.nik}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.employee.person.name}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.positionFulfillment.position.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem title="Map to User" value="Map to User" icon="fa fa-link" immediate="true"
                            update=":map-frm:map-tbl" oncomplete="PF('mapDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="properties-tool">

    </ui:define>

    <ui:define name="properties">
        <h:form id="prop-frm"> 
            <p:dataTable id="prop-tbl" value="#{userMappingPage.get('machineUserTable').model}" var="item"
                         selectionMode="single" selection="#{userMappingPage.get('machineUserTable').selection}" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="prop-tbl"/>
                <p:ajax event="contextMenu" process="prop-tbl" />

                <p:column headerText="PIN">
                    <h:outputText value="#{item.pin2}" />
                </p:column>

                <p:column headerText="Group">
                    <h:outputText value="#{item.machineGroup.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="prop-tbl">
                <p:menuitem title="Unmap User" value="Unmap User" icon="fa fa-unlink" immediate="true"
                            update=":unmap-dlg" oncomplete="PF('unmapDlg').show()" />
            </p:contextMenu>
        </h:form>
    </ui:define>

    <ui:define name="components">
        <p:dialog dynamic="true" id="map-dlg" widgetVar="mapDlg" modal="true" resizable="false" header="Mapping Dialog"
                  fitViewport="true" position="left top" width="50%" >
            <h:form id="map-frm">
                <p:dataTable id="map-tbl" value="#{userMappingPage.get('orphanMachineUserTable').model}" var="item"
                             selectionMode="single" selection="#{userMappingPage.get('orphanMachineUserTable').selection}"
                             paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                    <p:ajax event="rowSelect" listener="#{userMappingPage.get('orphanMachineUserTable').onUserSelected}"
                            update=":dt-frm:dt-tbl :prop-frm:prop-tbl map-tbl"
                            oncomplete="PF('mapDlg').hide()" />

                    <p:column headerText="PIN">
                        <h:outputText value="#{item.pin2}" />
                    </p:column>

                    <p:column headerText="Name" filterBy="#{item.name}" filterMatchMode="contains">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Group">
                        <h:outputText value="#{item.machineGroup.name}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:dialog>        

        <p:confirmDialog id="unmap-dlg" widgetVar="unmapDlg" closable="false" header="Confirmation"
                         message="Are you sure about unmapping &quot;#{userMappingPage.get('userMapTable').selection.employee.person.name}&quot; to &quot;#{machineUserManagementPage.get('machineUserTable').selection.pin2}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{userMappingPage.get('machineUserTable').onUnlink}"
                                 oncomplete="PF('unmapDlg').hide()" update=":prop-frm:prop-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('unmapDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

    <ui:define name="statusbar">
    </ui:define>

</ui:composition>
