<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:fieldset legend="Addresses" toggleable="true">
        <p:dataScroller id="address" value="#{partyRoleDataTable.selection.party.partyPostalAddresses}" var="address">
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:panelGrid columns="2">
                            <p:outputLabel for="address-line-1" value="Line 1" />
                            <p:inputText id="address-line-1" value="#{address.postalAddress.address1}" />

                            <p:outputLabel for="address-line-2" value="Line 2" />
                            <p:inputText id="address-line-2" value="#{address.postalAddress.address2}" />
                        </p:panelGrid>
                    </p:column>
                    <p:column>
                        <p:commandButton icon="ui-icon-plus" immediate="true"
                                         actionListener="#{partyRoleDataTable.addPostalAddress}"
                                         update="address"/>
                        <p:commandButton icon="ui-icon-trash" immediate="true"
                                         action="#{partyRoleDataTable.delPostalAddress(address)}"
                                         update="address"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:dataScroller>
    </p:fieldset>

</ui:composition>

