<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:fieldset legend="Contacts" toggleable="true">
        <p:dataScroller id="contacts" value="#{partyRoleDataTable.selection.party.partyContactMechanisms}" var="partyContact">
            <p:panelGrid>
                <p:row>
                    <p:column>                                                        
                        <p:selectOneMenu value="#{partyContact.contactMechanism.contactMechanismType}"
                                         converter="#{contactMechanismTypeDataList}" label="Contact Type" required="true" >
                            <f:selectItem itemLabel="Select Type" itemValue="" />
                            <f:selectItems value="#{contactMechanismTypeDataList.data}" var="type" 
                                           itemValue="#{type}" itemLabel="#{type}" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{partyContact.contactMechanism.contactValue}" required="true" label="Contact Value" />
                    </p:column>
                    <p:column>
                        <p:commandButton icon="ui-icon-plus" immediate="true"
                                         actionListener="#{partyRoleDataTable.addPartyContactMechanism}" 
                                         update="contacts"/>
                        <p:commandButton icon="ui-icon-trash" immediate="true"
                                         action="#{partyRoleDataTable.delPartyContactMechanism(partyContact)}"
                                         update="contacts"/>
                    </p:column>
                </p:row>
            </p:panelGrid> 
        </p:dataScroller>
    </p:fieldset>

</ui:composition>

