<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="sidemenu-frm">
        <p:menu model="#{menuBean.contextMenu}"/>
    </h:form>

</ui:composition>

