<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <p:dataTable id="gl-tbl" value="#{gLDataTable.model}" var="item" rowIndexVar="rowIndexVar0" rowKey="#{item.id}"
                 selectionMode="single" selection="#{gLDataTable.selection}"
                 emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                 lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

        <p:ajax event="contextMenu" listener="#{gLDataTable.handleContextMenu}" update=":tool-content" />
        <p:ajax event="rowSelect" listener="#{gLDataTable.handleContextMenu}" update=":tool-content" />

        <p:column headerText="Date">

        </p:column>

        <p:column headerText="Description">

        </p:column>

        <p:column headerText="Debit">

        </p:column>

        <p:column headerText="Credit">

        </p:column>

        <p:column headerText="Balance">

        </p:column>

    </p:dataTable>

</ui:composition>

