<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:fieldset legend="Identity" toggleable="true">
        <p:panelGrid columns="2">
            <p:outputLabel for="name" value="Name" />
            <p:inputText id="name" value="#{partyRoleDataTable.selection.party.name}" />
        </p:panelGrid>
    </p:fieldset>

</ui:composition>

