<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <p:dataTable id="party-picker-tbl" value="#{partyDataPicker.model}" var="item" rowIndexVar="rowIndexVar0" rowKey="#{item}"
                 selectionMode="single" selection="#{partyDataPicker.selection}"
                 emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                 lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="10"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

        <p:ajax event="rowSelect" listener="#{partyDataPicker.selectData}"
                update=":messages" oncomplete="PF('partyPickerDlg').hide();updatePickerClient()" />

        <p:column headerText="Name" filterBy="#{item.party.name}" filterMatchMode="contains">
            <h:outputText value="#{item}" />
        </p:column>

        <p:column headerText="Type">
            <h:outputText value="#{item.type}" />
        </p:column>

        <p:column headerText="Addresses">
            <h:outputText value="#{item.addresses}" escape="false" />
        </p:column>

        <p:column headerText="Contacts">
            <h:outputText value="#{item.contacts}" escape="false" />
        </p:column>

    </p:dataTable>

</ui:composition>

