<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:fieldset legend="Identity" toggleable="true">
        <p:panelGrid columns="2">
            <p:outputLabel for="first-name" value="First Name" />
            <p:inputText id="first-name" value="#{partyRoleDataTable.selection.party.firstName}" />

            <p:outputLabel for="last-name" value="Last Name" />
            <p:inputText id="last-name" value="#{partyRoleDataTable.selection.party.lastName}" />

        </p:panelGrid>
    </p:fieldset>

</ui:composition>

