<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="initializer">
        #{equipmentStatePage.initLayout}
    </ui:define>

    <ui:define name="tool">
        <h:form id="tool-content">
            <p:toolbar>
                <f:facet name="right">
                    <ui:include src="/WEB-INF/common/breadcrumb.xhtml"  />
                </f:facet>
                <f:facet name="left">
                    <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                     actionListener="#{equipmentStatePage.get('placementTable').prepareTransient}"
                                     update=":create-dlg" oncomplete="PF('createDlg').show()"/>
                    <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                     disabled="#{equipmentStatePage.get('placementTable').updateContextEmpty}"
                                     update=":edit-dlg" oncomplete="PF('editDlg').show()" />
                    <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                     disabled="#{equipmentStatePage.get('placementTable').deleteContextEmpty}"
                                     update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
                </f:facet>
            </p:toolbar>
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="dt-frm">
            <p:dataTable id="dt-tbl" value="#{equipmentStatePage.get('placementTable').model}" var="item" rowIndexVar="rowIndexVar0" rowKey="#{item}"
                         selectionMode="multiple" selection="#{equipmentStatePage.get('placementTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":tool-content :messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":tool-content :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":tool-content :messages" />

                <p:column headerText="Type">
                    <h:outputText value="" />
                </p:column>

                <p:column headerText="Class">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="S/N">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Last Action">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Last Placement">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Qty">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="UoM">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="From">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Thru">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Rcvd. By">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Clerk">
                    <h:outputText value=""  />
                </p:column>

                <p:column headerText="Ref.">
                    <h:outputText value=""  />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{equipmentStatePage.get('placementTable').prepareTransient}"
                            oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                             update=":edit-dlg" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                             update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="components">
        
        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{equipmentStatePage.get('placementTable').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{equipmentStatePage.get('placementTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{equipmentStatePage.get('placementTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{equipmentStatePage.get('placementTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :tool-content :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
