body{font:75%/1.5em "lucida grande","lucida sans unicode", sans-serif;}
p{color:#111;padding:0 0 1em;}
p.first:first-letter{float:left;font-family:Palatino,'Palatino Linotype',Georgia, sans-serif;font-size:3em;font-weight:700;line-height:1em;margin-bottom:-0.2em;padding:0.2em 0.1em 0 0;}
p img{float:left;margin:0.3em 0.833em 0.833em 0;padding:0;}
p img.right{float:right;margin:0.3em 0 0.833em 0.833em;}
h1{font-size:2.2em;margin-bottom:0.682em;}
h2{font-size:1.9em;margin-bottom:0.79em;}
h3{font-size:1.7em;margin-bottom:0.882em;}
h4{font-size:1.4em;margin-bottom:1.071em;}
h5,h6{font-size:1.3em;margin-bottom:1.154em;}
.water{color:#5582d1;}
.earth{color:#4e3e2c;}
.air{color:#f1fff7;}
.fire{color:#ff8a19;}
.wine{color:#4a040a;}
.beer{color:#F0C030;}
.caffe{color:#473523;}
.caffe-cream{color:#b68d3d;}
.espresso{color:#2c1901;}
.caramel{color:#ab671f;}
.chocolate{color:#290200;}
.black-pepper{color:#444334;}
.pepper-lite{color:#8d8a72;}
.lipstick{color:#c20c0c;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em;}
dl{margin:0 0 1.5em;}
dl dd{margin-left:1.5em;}
a{color:#035292;text-decoration:none;}
a:hover{text-decoration:underline;}
caption{text-align:center;font-family:Georgia, serif;}
abbr,acronym{border-bottom:1px dotted #000;}
address{margin-top:1.5em;font-style:italic;}
del{color:#000;}
blockquote{font-family:baskerville,"palatino linotype",serif;padding:1em 1em 1em 1.5em;}
blockquote > *:first-child:before{content:"\201C";font-size:2.5em;margin-left:-0.62em;font-family:georgia,serif;padding-right:.2em;color:#aaa;line-height:0;}
strong{ont-weight:bold;}
pre,code{white-space:pre;margin:1.5em 0;}
pre,code,tt{font:1em monospace;line-height:1.5;}
tt{display:block;margin:1.5em 0;}
hr{margin-bottom:1.5em;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.indent{text-indent:1.5em;}
.open{font-variant:small-caps;}
p.break{text-align:center;text-indent:0;line-height:0;}
p.zero{margin:0;padding:0;}
p.one{color:#111;padding:0 1em 1em;}
p img.right10{float:right;margin:0.833em;}
.oldbook{font-family:"Book Antiqua","Warnock Pro","Goudy Old Style","Palatino",Georgia,serif;}
.note{font-family:Georgia, "Times New Roman", Times, serif;font-style:italic;font-size:0.9em;color:#333;margin:0.1em;}
.mono{font-family:"Courier New", Courier, monospace;}
h1,h2,h3,h4,h5,h6{color:#333;}
dl dt,th,dfn,.b{font-weight:700;}
em,dfn,.i{font-style:italic;}