/*
Copyright 2014 Medinacom <hq.medinacom at gmail.com>.
All rights reserved

A lot of time, effort and money is spent designing and implementing the software.
All system design, text, graphics, the selection and arrangement thereof, and
all software compilations, underlying source code, software and all other material
on this software are copyright Medinacom <hq.medinacom at gmail.com> and any affiliates.

In simple terms, every element of this software is protected by copyright.
Unless you have our express written permission, you are not allowed
to copy partially and or completely, modify partially and or completely,
use partially and or completely and or reproduce any part of this  software
in any way, shape and or form.

Taking material from other source code and or document Medinacom <hq.medinacom at gmail.com> and affiliates has designed is
also prohibited. You can be prosecuted by the licensee as well as by us as licensor.

Any other use of materials of this software, including reproduction for purposes other
than that noted in the business agreement, modification, distribution, or republication,
without the prior written permission of Medinacom <hq.medinacom at gmail.com> is strictly prohibited.

The source code, partially and or completely, shall not be presented and or shown
and or performed to public and or other parties without the prior written permission
of Medinacom <hq.medinacom at gmail.com>

*/
/* 
    Created on : Apr 7, 2014, 10:10:28 AM
    Author     : Medinacom <hq.medinacom at gmail.com>
*/

/*#top .ui-corner-all{border-radius: 0;}
#top .ui-menubar{}
#top .ui-menubar .ui-menuitem .selected{
    background-color: #0081C2;
    background-image: linear-gradient(bottom, #0088CC, #0077B3);
    background-position: 0 center;
    background-repeat: repeat-x;
    color: #FFFFFF!important;
    text-decoration: none;}
#top .ui-menubar .ui-menuitem a.ui-menuitem-link{padding:0!important;}
#top .ui-menu.ui-widget li > .ui-menuitem-link{padding:0.4em 0.3em!important;}
#top .ui-menu.ui-widget li > .ui-state-hover{background-color:#d9d9d9!important; background-image: none; color: black;}

#tool .ui-corner-all{border-radius: 0;}

#explorer .ui-menu{padding: 0!important;}
#explorer .ui-corner-all{border-radius: 0;}
#explorer .ui-layout-unit-content{overflow:visible!important}
#explorer .ui-menu.ui-widget li > .ui-menuitem-link{padding:0.4em 0!important; line-height: 24px!important;}
#explorer .ui-menu.ui-widget li > .ui-state-hover{background-color:#d9d9d9!important; background-image: none; color: black;}
#explorer .ui-menu .ui-menu-list .ui-widget-header{margin:0;}
#explorer .ui-menu .ui-menu-list .ui-menuitem{border-top: 1px solid #cbcbcb; margin:0;}
#explorer .ui-menu .ui-menu-list .ui-menuitem .highlight{
    background-color: #0081C2;
    background-image: linear-gradient(bottom, #0088CC, #0077B3);
    background-position: 0 center;
    background-repeat: repeat-x;
    color: #FFFFFF!important;
    text-decoration: none;}*/

#dt-tbl table{width:100%;}
#editor .ui-datatable .ui-datatable-header{overflow: auto;}
#editor .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {white-space: normal!important}
#editor .ui-datatable .ui-datatable-header{overflow: auto;}
#editor .ui-datatable-header button{float:right;}
#editor .ui-treetable .ui-treetable-header{overflow: auto;}
#editor .ui-treetable-header button{float:right;}

/*#properties .ui-menu{padding: 0!important;}
#properties .ui-corner-all{border-radius: 0;}
#properties .ui-layout-unit-content{overflow:visible!important}
#properties .ui-menu.ui-widget li > .ui-menuitem-link{padding:0.4em 0!important; line-height: 24px!important;}
#properties .ui-menu.ui-widget li > .ui-state-hover{background-color:#d9d9d9!important; background-image: none; color: black;}
#properties .ui-menu .ui-menu-list .ui-widget-header{margin:0;}
#properties .ui-menu .ui-menu-list .ui-menuitem{border-top: 1px solid #cbcbcb; margin:0;}
#properties .ui-menu .ui-menu-list .ui-menuitem .highlight{
    background-color: #0081C2;
    background-image: linear-gradient(bottom, #0088CC, #0077B3);
    background-position: 0 center;
    background-repeat: repeat-x;
    color: #FFFFFF!important;
    text-decoration: none;}*/

form {
    margin-bottom: 0;
    /* float: left; */
}

#layout-north.ui-layout-unit, #layout-north .ui-layout-unit-content, #layout-south.ui-layout-unit, #layout-south .ui-layout-unit-content {
    padding: 0!important;
    overflow: visible;
}

#layout-north.ui-corner-all, #layout-south.ui-corner-all, #layout-south.ui-corner-all, #main-menu .ui-corner-all, #tool-content  .ui-corner-all {
    border-radius: 0!important;
}

#tool-content  .ui-corner-all, #status-frm  .ui-corner-all {
    border-radius: 0!important;
    border: none;
}

#tool-content .ui-toolbar, #status-frm .ui-toolbar {
    padding: 0!important;
}

#tool-content .ui-breadcrumb {
    margin-top: 3px;
}

#tool-content .ui-selectonemenu{top:.5em;margin:0 5px;}
#tool-content .ui-selectonemenu + .ui-button {float:right;margin-left:3px;}

#status-frm .ui-toolbar-group-right {padding: 2px;}
#status-frm .ui-buttonset{margin-right: 0;}

.acctg > td{padding: 0!important;}
.acctg thead{display:none;}
.noheader{width: 100px;}
.explanation {font-style: italic; font-weight: bold;}
.CREDIT{padding-left: 20px;}
td.cell-tight{
    text-align: center;
    padding: 5px !important;
    width: 5em;}

.ui-dashboard-column{padding-bottom: 0 !important;}
#west .ui-layout-unit-content, #east .ui-layout-unit-content {padding-top:0;}
#west .ui-toolbar.ui-corner-all, #east .ui-toolbar.ui-corner-all{border-radius:0;}
#west .ui-layout-unit-header.ui-corner-all, #east .ui-layout-unit-header.ui-corner-all, #center .ui-layout-unit-header.ui-corner-all{border-radius: 6px 6px 0 0 !important;}
#west #toolbar-upper.ui-toolbar, #east.collapsible .ui-toolbar{padding: 0 25px 0 0!important;}
#west #toolbar-lower.ui-toolbar{padding-right: 0;}
#center .ui-toolbar{padding: 0 0px 0 0!important;}
#west .ui-toolbar.ui-widget-header, #east .ui-toolbar.ui-widget-header, #center .ui-toolbar.ui-widget-header{border: none!important;}
#west #explorer-title, #east #properties-title, #center #editor-title{
    float: left;
    margin-top: 5px;
}
#west .ui-layout-unit-content  .ui-widget-content.ui-corner-all, #east .ui-layout-unit-content  .ui-widget-content.ui-corner-all{border-radius: 0!important;}
#center .ui-layout-unit-content {padding-top: 0!important;}
#west .ui-layout-unit-header-icon, #east .ui-layout-unit-header-icon{position: absolute;top: 17px;right: 5px;}
.table-noheader th {display: none;}
#prop-frm .ui-panel-content{padding-top: 0em; padding-left: 0.4em; padding-right: 0.4em;}
#prop-frm .fc-header-title, #schedule-frm .fc-header-title{margin-top: 0.5em;}
#prop-frm .fc-button, #prop-frm .fc-header-title h2, #schedule-frm .fc-button, #schedule-frm .fc-header-title h2{margin-bottom: 0.3em; margin-top: 0.1em; font-size: 1.1em;}
#prop-frm #schedule .fc-event-inner, #schedule-frm #schedule .fc-event-inner{text-align: center;}
.ui-panelgrid-footer .ui-button {margin-left:0.5em; margin-top: 0.5em; margin-bottom: 0.5em;}
.unit-header {
    /* display: inline; */
    float: left;
}
.ui-datatable .ui-datalist .ui-datalist-content {border: none;background: transparent;}
.ui-datatable .ui-state-hover .ui-datalist .ui-datalist-content {color: white;}
.ui-panelgrid-cell .ui-datalist .ui-datalist-content {border: none;background: none;}
.ui-datatable dd, .ui-panelgrid-cell .ui-datalist dd {margin-left: 0;}
.top-valign-label {vertical-align: top;}