<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        #{accountPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">

    </ui:define>

    <ui:define name="explorer">
        <h:form id="acc-frm">
            <p:tree id="acc-tbl" value="#{accountPage.get('accountTree').model.wrappedData}" var="item" dynamic="true"
                    selectionMode="single" selection="#{accountPage.get('accountTree').nodeSelection}" >              

                <p:ajax event="select" listener="#{accountPage.get('accountTree').handleNodeSelected}" update=":messages" />
                <p:ajax event="unselect" listener="#{accountPage.get('accountTree').handleNodeUnselected}" update=":messages" />
                <p:ajax event="contextMenu" listener="#{accountPage.get('accountTree').handleContextMenu}" update=":messages" />

                <p:treeNode type="folder">
                    <h:outputText value="#{item.code} #{item.name}" style="font-weight: bold; font-style: italic" />
                </p:treeNode>

                <p:treeNode type="document">
                    <h:outputText value="#{item.code} #{item.name} (#{item.currency.abbreviation})" />
                </p:treeNode>

            </p:tree>

            <p:contextMenu for="acc-tbl" nodeType="folder">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{accountPage.get('accountTree').prepareTransient}"
                            update=":create-dlg" oncomplete="PF('createDlg').show()" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
                <p:menuitem value="Cut" icon="ui-icon-scissors" immediate="true"
                            disabled="#{accountPage.get('accountTree').deleteContextEmpty}"
                            actionListener="#{accountPage.get('accountTree').cutAction}" />
                <p:menuitem value="Paste" icon="ui-icon-clipboard" immediate="true"
                            disabled="#{accountPage.get('accountTree').pasteContextEmpty}"
                            actionListener="#{accountPage.get('accountTree').pasteAction}"
                            update=":dt-frm:dt-tab-view :editor-tool-frm" />
            </p:contextMenu>

            <p:contextMenu for="acc-tbl" nodeType="document">
                <p:menuitem value="General Ledger" icon="ui-icon-calculator"
                            actionListener="#{accountPage.get('accountTree').addTab}" immediate="true"
                            update=":dt-frm:dt-tab-view" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
                <p:menuitem value="Cut" icon="ui-icon-scissors" immediate="true"
                            disabled="#{accountPage.get('accountTree').deleteContextEmpty}"
                            actionListener="#{accountPage.get('accountTree').cutAction}" />
            </p:contextMenu>

            <p:contextMenu for="acc-tbl" nodeType="ancestor">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{accountPage.get('accountTree').prepareTransient}"
                            update=":create-dlg" oncomplete="PF('createDlg').show()" />
                <p:menuitem value="Paste" icon="ui-icon-clipboard" immediate="true"
                            disabled="#{accountPage.get('accountTree').pasteContextEmpty}"
                            actionListener="#{accountPage.get('accountTree').pasteAction}" update=":acc-frm:acc-tbl :editor-tool-frm" />
            </p:contextMenu>
        </h:form>
    </ui:define>

    <ui:define name="editor-options">      
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true"
                         disabled="#{accountPage.get('accountTree').createContextEmpty}" 
                         actionListener="#{accountPage.get('accountTree').prepareTransient}"
                         update=":create-dlg" oncomplete="PF('createDlg').show()" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                         disabled="#{accountPage.get('accountTree').updateContextEmpty}"
                         update=":edit-dlg" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{accountPage.get('accountTree').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
        <p:commandButton title="Cut" icon="ui-icon-scissors" immediate="true"
                         disabled="#{accountPage.get('accountTree').deleteContextEmpty}"
                         actionListener="#{accountPage.get('accountTree').cutAction}" />
        <p:commandButton title="Paste" icon="ui-icon-clipboard" immediate="true"
                         disabled="#{accountPage.get('accountTree').pasteContextEmpty}"
                         actionListener="#{accountPage.get('accountTree').pasteAction}" update=":dt-frm:dt-tab-view :editor-tool-frm" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">
            <h:outputScript>
                function tabShow(i) {
                processShow([{name:'tab-idx', value:i}]);
                }
                function tabClose(i) {
                processClose([{name:'tab-idx', value:i}]);
                }
                function tabChange(i) {
                processChange([{name:'tab-idx', value:i}]);
                }
            </h:outputScript>
            <p:remoteCommand name="processShow" actionListener="#{accountPage.get('accountTree').handleTabShow}"  />
            <p:remoteCommand name="processClose" actionListener="#{accountPage.get('accountTree').handleTabClose}"  />
            <p:remoteCommand name="processChange" actionListener="#{accountPage.get('accountTree').handleTabChange}"  />
            <p:tabView id="dt-tab-view" value="#{accountPage.get('accountTree').tabs}" var="tab"
                       scrollable="true" activeIndex="#{accountPage.get('accountTree').activeIndex}" dynamic="true" 
                       onTabClose="tabClose(index)" onTabChange="tabChange(index)" onTabShow="tabShow(index)"  >

                <p:tab id="dt-tab" title="#{tab.name}" closable="true" >                                   

                    <p:dataTable id="dt-tbl-acc" value="#{accountPage.get('transactionDetailTable').getModel(tab.account)}" var="item" rowIndexVar="rowIndexVar0" lazy="true"
                                 selectionMode="single" selection="#{accountPage.get('transactionDetailTable').selection}" rendered="#{tab.closable}"
                                 emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false" rowsPerPageTemplate="5 10 15 20 25" rows="15"                                 
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                        <p:ajax event="contextMenu" process="dt-tbl-acc" update=":editor-tool-frm" />
                        <p:ajax event="rowSelect" process="dt-tbl-acc" update=":editor-tool-frm" />

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="Date"/>
                                <p:column rowspan="2" headerText="Explanation" />
                                <p:column rowspan="2" headerText="Currency" />
                                <p:column rowspan="2" headerText="Debit" /> 
                                <p:column rowspan="2" headerText="Credit" /> 
                                <p:column colspan="2" headerText="Balance" />                                  
                            </p:row>
                            <p:row>                                
                                <p:column headerText="Debit" />                              
                                <p:column headerText="Credit" /> 
                            </p:row>
                        </p:columnGroup>

                        <p:column>
                            <h:outputText value="#{item.acctgTrans.transactionDate}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.acctgTrans.description}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.amount.currency.abbreviation}" />
                        </p:column>

                        <p:column styleClass="noheader right-cols">
                            <h:outputText value="#{item.debit}">
                                <f:convertNumber />
                            </h:outputText>
                        </p:column>

                        <p:column styleClass="noheader right-cols">
                            <h:outputText value="#{item.credit}" >
                                <f:convertNumber />
                            </h:outputText>
                        </p:column>

                        <p:column styleClass="noheader right-cols">
                            <h:outputText value="#{item.balance.debit}">
                                <f:convertNumber />
                            </h:outputText>
                        </p:column>

                        <p:column styleClass="noheader right-cols">
                            <h:outputText value="#{item.balance.credit}" >
                                <f:convertNumber />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>

                    <p:contextMenu for="dt-tbl-acc">
                        <p:menuitem value="Review Journal" title="Review Detail" icon="fa fa-eye" immediate="true"
                                    actionListener="#{accountPage.get('transactionDetailTable').reviewJournal}"
                                    update="journal-frm :messages" oncomplete="PF('journalDlg').show()" />
                    </p:contextMenu>

                </p:tab>
            </p:tabView>

        </h:form>
    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="journal-dlg" widgetVar="journalDlg" modal="true" resizable="false" header="General Journal Entry" width="50%" >
            <h:form id="journal-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="date" value="Date" />
                        </p:column>
                        <p:column>
                            <p:calendar id="date" value="#{accountPage.get('transactionTable').selection.transactionDate}" mode="popup" showOn="button" pattern="dd/MM/yyyy" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="exp" value="Explanation" />
                        </p:column>
                        <p:column>
                            <p:inputTextarea id="exp" value="#{accountPage.get('transactionTable').selection.description}" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:dataTable id="create-tbl" value="#{accountPage.get('transactionTable').detail}" var="entry" lazy="true"
                                         selectionMode="single" selection="#{accountPage.get('transactionDetailTable').selection}"
                                         editable="true" editMode="cell" scrollable="true"
                                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false" rowsPerPageTemplate="5 10 15 20 25" rows="15"                                 
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                <p:ajax event="cellEdit" listener="#{accountPage.get('transactionDetailTable').handleCellEdit}" update=":messages" />
                                <p:ajax event="contextMenu" process="create-tbl" update=":messages" />
                                <p:ajax event="rowSelect" process="create-tbl" update=":messages" />
                                <p:ajax event="rowUnselect" process="create-tbl" update=":messages" />

                                <f:facet name="header">
                                    <p:commandButton title="Add Detail" icon="ui-icon-plusthick" immediate="true"
                                                     actionListener="#{accountPage.get('transactionDetailTable').addDetail}"
                                                     update="create-tbl :messages" />
                                    <p:commandButton title="Delete Detail" icon="ui-icon-closethick" immediate="true"
                                                     actionListener="#{accountPage.get('transactionDetailTable').deleteDetail}"
                                                     update="create-tbl :messages" />
                                </f:facet>

                                <p:column headerText="Account">
                                    <p:cellEditor>
                                        <f:facet name="input">
                                            <p:selectOneMenu value="#{entry.account}" converter="#{gLAccountDataList}" style="width:100%" >
                                                <p:ajax listener="#{accountPage.get('transactionDetailTable').onAccountChange}" update="curr-col rate-col rate-ref-col :messages" />
                                                <f:selectItem itemLabel="Select Account" itemValue="" />
                                                <f:selectItems  value="#{gLAccountDataList.data}" var="acc" itemValue="#{acc}" itemLabel="#{acc.canonicalName}" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <f:facet name="output">
                                            <h:outputText value="#{entry.account}" />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column>
                                    <h:outputText id="curr-col" value="#{entry.amount.currency.symbol}" />
                                </p:column>

                                <p:column headerText="Debit" styleClass="right-cols" >
                                    <p:cellEditor>
                                        <f:facet name="input">
                                            <p:inputText value="#{entry.debit}" styleClass="right-cols" style="width:100%">
                                            </p:inputText>
                                        </f:facet>
                                        <f:facet name="output">
                                            <h:outputText id="d-col" value="#{entry.debit}">
                                                <f:convertNumber />
                                            </h:outputText>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Credit" styleClass="right-cols">
                                    <p:cellEditor>
                                        <f:facet name="input">
                                            <p:inputText  value="#{entry.credit}" styleClass="right-cols" style="width:100%" >
                                                <p:ajax update="d-col" />
                                            </p:inputText>
                                        </f:facet>
                                        <f:facet name="output">
                                            <h:outputText id="c-col" value="#{entry.credit}" >
                                                <f:convertNumber />
                                            </h:outputText>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Exch. Rate">
                                    <h:outputText id="rate-ref-col" style="float:left;" value="#{entry.exchangeRate.referenceSecurity.symbol}" />
                                    <h:outputText id="rate-col" style="float:right" value="#{entry.exchangeRate.price}">
                                        <f:convertNumber />
                                    </h:outputText>
                                </p:column>

                            </p:dataTable>

                            <p:contextMenu for="create-tbl">
                                <p:menuitem value="Delete" title="Delete Detail" icon="ui-icon-closethick" immediate="true"
                                            actionListener="#{accountPage.get('transactionDetailTable').deleteDetail}"
                                            update="create-tbl :messages" />
                            </p:contextMenu>
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Update" actionListener="#{accountPage.get('transactionTable').create}" icon="ui-icon-check" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{accountPage.get('accountTree').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="code" value="Code" />
                    <p:inputText value="#{accountPage.get('accountTree').selection.code}" id="code" label="Code" />

                    <p:outputLabel for="placeholder" value="Placeholder" />
                    <p:selectBooleanCheckbox id="placeholder" label="Placeholder" value="#{accountPage.get('accountTree').selection.placeholder}" />

                    <p:outputLabel for="currency" value="Currency" />
                    <p:selectOneMenu id="currency" value="#{accountPage.get('accountTree').selection.currency}"
                                     converter="#{accountPage.get('currencyList')}" >
                        <f:selectItem itemLabel="Select Currency" itemValue="" />
                        <f:selectItems  value="#{accountPage.get('currencyList').data}" var="curr" itemValue="#{curr}" itemLabel="#{curr}(#{curr.symbol})" />
                    </p:selectOneMenu>

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{accountPage.get('accountTree').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{accountPage.get('accountTree').create}"
                                         update=":acc-frm:acc-tbl :editor-tool-frm :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{accountPage.get('accountTree').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="code" value="Code" />
                    <p:inputText value="#{accountPage.get('accountTree').selection.code}" id="code" label="Code" />

                    <p:outputLabel for="placeholder" value="Placeholder" />
                    <p:selectBooleanCheckbox id="placeholder" label="Placeholder" value="#{accountPage.get('accountTree').selection.placeholder}" />

                    <p:outputLabel for="currency" value="Currency" />
                    <p:selectOneMenu id="currency" value="#{accountPage.get('accountTree').selection.currency}"
                                     converter="#{accountPage.get('currencyList')}" >
                        <f:selectItem itemLabel="Select Currency" itemValue="" />
                        <f:selectItems  value="#{accountPage.get('currencyList').data}" var="curr" itemValue="#{curr}" itemLabel="#{curr}(#{curr.symbol})" />
                    </p:selectOneMenu>

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{accountPage.get('accountTree').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{accountPage.get('accountTree').update}"
                                         update=":acc-frm:acc-tbl :editor-tool-frm :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{accountPage.get('accountTree').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" actionListener="#{accountPage.get('accountTree').delete}"
                                 update=":acc-frm:acc-tbl :editor-tool-frm :messages" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-check" />
                <p:commandButton value="Not Yet" onclick="PF('deleteDlg').hide()" icon="ui-icon-closethick" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
