<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/templates/page.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{financialStatementsPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         actionListener="#{financialStatementsPage.get('accountingPeriodTree').prepareTransient}"
                         update=":period-create-dlg" oncomplete="PF('periodCreateDlg').show()" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                         disabled="#{financialStatementsPage.get('accountingPeriodTree').updateContextEmpty}"
                         update=":period-edit-dlg" oncomplete="PF('periodEditDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{financialStatementsPage.get('accountingPeriodTree').deleteContextEmpty}"
                         update=":period-delete-dlg" oncomplete="PF('periodDeleteDlg').show()" />
    </ui:define>

    <ui:define name="explorer">
        <h:form id="period-frm">
            <p:treeTable  id="period-tbl" value="#{financialStatementsPage.get('accountingPeriodTree').model.wrappedData}" var="item"
                          selectionMode="single" selection="#{financialStatementsPage.get('accountingPeriodTree').nodeSelection}" >              

                <p:ajax event="select" listener="#{financialStatementsPage.get('accountingPeriodTree').handleNodeSelected}"
                        update=":stats-view:income-dt-frm:income-dt-tbl :messages" />
                <p:ajax event="unselect" listener="#{financialStatementsPage.get('accountingPeriodTree').handleNodeUnselected}" update=":messages" />

                <p:column headerText="Type" >
                    <h:outputText title="#{item.type}" value="#{item.type}" />
                </p:column>

                <p:column headerText="From">
                    <h:outputText title="#{item.type}" value="#{item.fromDate}">
                        <f:convertDateTime pattern="dd/MM/YYYY" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Thru">
                    <h:outputText title="#{item.type}" value="#{item.thruDate}">
                        <f:convertDateTime pattern="dd/MM/YYYY" />
                    </h:outputText>
                </p:column>

            </p:treeTable>

            <p:contextMenu for="period-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{financialStatementsPage.get('accountingPeriodTree').prepareTransient}"
                            update=":period-create-dlg" oncomplete="PF('periodCreateDlg').show()" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":period-edit-dlg" oncomplete="PF('periodEditDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":period-delete-dlg" oncomplete="PF('periodDeleteDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="editor-options">
        <p:menuitem value="Period Types" icon="fa fa-list" immediate="true"
                    update=":period-type-dlg" oncomplete="PF('periodTypeDlg').show()" />
    </ui:define>

    <ui:define name="editor-tool">

    </ui:define>

    <ui:define name="editor-content">
        <p:tabView id="stats-view" dynamic="true">
            <p:tab title="Income">
                <h:form id="income-dt-frm">
                    <p:dataTable id="income-dt-tbl" var="entry" value="#{financialStatementsPage.get('incomeStatementForm').summary.entries}" >
                        <p:subTable var="detail" value="#{entry.details}" >
                            <f:facet name="header">
                                <h:outputText value="#{entry.label}" />
                            </f:facet>
                            <p:column>

                            </p:column>
                            <p:column>
                                <h:outputText value="#{detail.account.code}" style="float:left;" />
                                <h:outputText value="#{detail.account.name}" style="float:left; margin-left: .5em;" />
                            </p:column>
                            <p:column>
                                <h:outputText rendered="#{detail.account['class'].simpleName eq 'GLExpenseAccount'}" value="#{detail.amount.currency.abbreviation}" style="float:left;" />
                                <h:outputText rendered="#{detail.account['class'].simpleName eq 'GLExpenseAccount'}" value="#{detail.amount.amount}" style="float:right" >
                                    <f:convertNumber currencySymbol="" type="currency" locale="#{userSession.locale}" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:outputText rendered="#{detail.account['class'].simpleName eq 'GLRevenueAccount'}" value="#{detail.amount.currency.abbreviation}" style="float:left;" />
                                <h:outputText rendered="#{detail.account['class'].simpleName eq 'GLRevenueAccount'}" value="#{detail.amount.amount}" style="float:right" >
                                    <f:convertNumber currencySymbol="" type="currency" locale="#{userSession.locale}" />
                                </h:outputText>
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column />
                                    <p:column rendered="#{entry.label eq 'Revenue'}" footerText="Total Revenue" />
                                    <p:column rendered="#{entry.label eq 'Expense'}" footerText="Total Expenses" />
                                    <p:column />
                                    <p:column footerText="#{entry.totalAsString}" style="text-align: right; font-weight: normal" />
                                </p:row>
                            </p:columnGroup>
                        </p:subTable>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column colspan="3" footerText="Net #{financialStatementsPage.get('incomeStatementForm').summary.netIncomeStatus}" style="text-align: left;" />
                                    <p:column footerText="#{financialStatementsPage.get('incomeStatementForm').summary.netIncomeAsString}" style="text-align: right; font-weight: normal;" />
                                </p:row>
                            </p:columnGroup>
                    </p:dataTable>
                </h:form>                    
            </p:tab>
            <p:tab title="Capital">
                <h:form id="capital-dt-frm">
                </h:form>
            </p:tab>
            <p:tab title="Balance">
                <h:form id="balance-dt-frm">
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="period-create-dlg" widgetVar="periodCreateDlg" modal="true" resizable="false" header="Add Accounting Period" >
            <h:form id="period-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="type" value="Type" />                    
                    <p:selectOneMenu id="type" value="#{financialStatementsPage.get('accountingPeriodTree').selection.type}"
                                     converter="#{financialStatementsPage.get('accountingPeriodTypeList')}" var="t" label="Period Type">
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{financialStatementsPage.get('accountingPeriodTypeList').data}" var="type" 
                                       itemValue="#{type}" itemLabel="#{type}" />

                        <p:column>
                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                           onclick="PF('periodTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                        </p:column>

                    </p:selectOneMenu>

                    <p:outputLabel for="from" value="From" />                    
                    <p:calendar navigator="true" value="#{financialStatementsPage.get('accountingPeriodTree').selection.fromDate}" pattern="dd/MM/yyyy" id="from" label="From" />

                    <p:outputLabel for="thru" value="Thru" />                    
                    <p:calendar navigator="true" value="#{financialStatementsPage.get('accountingPeriodTree').selection.thruDate}" pattern="dd/MM/yyyy" id="thru" label="Thru" />


                    <f:facet name="footer">
                        <p:commandButton value="Create" icon="ui-icon-check"
                                         actionListener="#{financialStatementsPage.get('accountingPeriodTree').create}"
                                         update=":period-frm:period-tbl :messages" oncomplete="PF('periodCreateDlg').hide()" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="period-edit-dlg" widgetVar="periodEditDlg" modal="true" resizable="false" header="Edit Accounting Period" >
            <h:form id="period-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="type" value="Type" />                    
                    <p:selectOneMenu id="type" value="#{financialStatementsPage.get('accountingPeriodTree').selection.type}" converter="#{accountingPeriodTypeDataList}" >
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{accountingPeriodTypeDataList.data}" var="type" itemValue="#{type}" itemLabel="#{type}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="from" value="From" />                    
                    <p:calendar navigator="true" value="#{financialStatementsPage.get('accountingPeriodTree').selection.fromDate}" pattern="dd/MM/yyyy" id="from" label="From" />

                    <p:outputLabel for="thru" value="Thru" />                    
                    <p:calendar navigator="true" value="#{financialStatementsPage.get('accountingPeriodTree').selection.thruDate}" pattern="dd/MM/yyyy" id="thru" label="Thru" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{financialStatementsPage.get('accountingPeriodTree').update}"
                                         update=":period-frm:period-tbl :messages" oncomplete="PF('periodEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="period-delete-dlg" widgetVar="periodDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{financialStatementsPage.get('accountingPeriodTree').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" actionListener="#{financialStatementsPage.get('accountingPeriodTree').delete}" immediate="true"
                                 update=":period-frm:period-tbl :tool-content :messages" oncomplete="PF('periodDeleteDlg').hide()" icon="ui-icon-check" />
                <p:commandButton value="Not Yet" onclick="PF('periodDeleteDlg').hide()" icon="ui-icon-closethick" type="button" />
            </h:form>
        </p:confirmDialog>        

        <p:dialog dynamic="true" id="period-type-dlg" widgetVar="periodTypeDlg" modal="true" resizable="false"
                  header="Accounting Period Type" fitViewport="true" width="50%" >
            <h:form id="period-type-frm">
                <p:dataTable id="period-type-tbl" value="#{financialStatementsPage.get('accountingPeriodTypeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{financialStatementsPage.get('accountingPeriodTypeTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" resizableColumns="0 1"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="period-type-tbl" update=":period-type-frm:period-type-tbl :messages" />
                    <p:ajax event="rowSelect" process="period-type-tbl" update=":period-type-frm:period-type-tbl :messages" />
                    <p:ajax event="rowUnselect" process="period-type-tbl" update=":period-type-frm:period-type-tbl :messages" />                    

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{financialStatementsPage.get('accountingPeriodTypeTable').prepareTransient}"
                                         oncomplete="PF('periodTypeCreateDlg').show()" update=":period-type-create-dlg"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{financialStatementsPage.get('accountingPeriodTypeTable').updateContextEmpty}"
                                         update=":period-type-edit-dlg" oncomplete="PF('periodTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{financialStatementsPage.get('accountingPeriodTypeTable').deleteContextEmpty}"
                                         update=":period-type-delete-dlg" oncomplete="PF('periodTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText style="text-align: justify" value="#{item.description}"  />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="period-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{financialStatementsPage.get('accountingPeriodTypeTable').prepareTransient}"
                                oncomplete="PF('periodTypeCreateDlg').show()" update=":period-type-create-dlg" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":period-type-edit-dlg" oncomplete="PF('periodTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":period-type-delete-dlg" oncomplete="PF('periodTypeDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="period-type-create-dlg" widgetVar="periodTypeCreateDlg" modal="true" resizable="false" header="Add Period Type" >
            <h:form id="period-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{financialStatementsPage.get('accountingPeriodTypeList').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{financialStatementsPage.get('accountingPeriodTypeList').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{financialStatementsPage.get('accountingPeriodTypeList').create}"
                                         update=":period-type-frm:period-type-tbl :period-create-frm:type :messages" oncomplete="PF('periodTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="period-type-edit-dlg" widgetVar="periodTypeEditDlg" modal="true" resizable="false" header="Edit Period Type" >
            <h:form id="period-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{financialStatementsPage.get('accountingPeriodTypeTable').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{financialStatementsPage.get('accountingPeriodTypeTable').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{financialStatementsPage.get('accountingPeriodTypeTable').update}"
                                         update=":period-type-frm:period-type-tbl :period-create-frm:type :messages" oncomplete="PF('periodTypeEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="period-type-delete-dlg" widgetVar="periodTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{financialStatementsPage.get('accountingPeriodTypeTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" actionListener="#{financialStatementsPage.get('accountingPeriodTypeTable').delete}"
                                 update=":period-type-frm:period-type-tbl :period-create-frm:type :messages" oncomplete="PF('periodTypeDeleteDlg').hide()" icon="ui-icon-check" />
                <p:commandButton value="Not Yet" onclick="PF('periodTypeDeleteDlg').hide()" icon="ui-icon-closethick" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
