<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        #{currencyPage.initLayout}
    </ui:define>

    <ui:define name="editor-options"> 
        
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         actionListener="#{currencyPage.get('currencyTable').prepareTransient}"
                         update=":create-dlg" oncomplete="PF('createDlg').show()"/>
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{currencyPage.get('currencyTable').updateContextEmpty}"
                         update=":edit-dlg" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{currencyPage.get('currencyTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">
            <p:dataTable id="dt-tbl" value="#{currencyPage.get('currencyTable').model}" var="item" rowIndexVar="rowIndexVar0" rowKey="#{item}"
                         selectionMode="multiple" selection="#{currencyPage.get('currencyTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" resizableColumns="0 1"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":editor-tool-frm" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":editor-tool-frm" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":editor-tool-frm" />

                <p:column headerText="Symbol">
                    <h:outputText value="#{item.abbreviation}"  />
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column headerText="Display">
                    <h:outputText value="#{item.symbol}"  />
                </p:column>

                <p:column styleClass="act-col" headerText="Default">
                    <p:selectBooleanCheckbox  value="#{item.defaulted}" >
                        <f:attribute name="item" value="#{item}" />
                        <p:ajax event="change" listener="#{currencyPage.handleDefaultChange}" update=":dt-frm:dt-tbl" />
                    </p:selectBooleanCheckbox>
                </p:column>
            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Exchange Rate" icon="ui-icon-script" immediate="true"
                            oncomplete="PF('rateDlg').show()" update=":rate-dlg :messages" />
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{currencyPage.get('currencyTable').prepareTransient}"
                            oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="symbol" value="Symbol" />
                    <p:inputText value="#{currencyPage.get('currencyTable').selection.abbreviation}" id="symbol" label="Symbol" /> 

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{currencyPage.get('currencyTable').selection.name}" id="name" label="Name" /> 

                    <p:outputLabel for="display" value="Display" />
                    <p:inputText value="#{currencyPage.get('currencyTable').selection.symbol}" id="display" label="Display" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{currencyPage.get('currencyTable').create}"
                                         update=":dt-frm:dt-tbl :editor-tool-frm :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="symbol" value="Symbol" />
                    <p:inputText value="#{currencyPage.get('currencyTable').selection.abbreviation}" id="symbol" label="Symbol" />

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{currencyPage.get('currencyTable').selection.name}" id="name" label="Name" />  

                    <p:outputLabel for="display" value="Display" />
                    <p:inputText value="#{currencyPage.get('currencyTable').selection.symbol}" id="display" label="Display" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{currencyPage.get('currencyTable').update}"
                                         update=":dt-frm:dt-tbl :editor-tool-frm :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog id="rate-dlg" dynamic="true" modal="true" widgetVar="rateDlg" header="Exchange Rate [#{currencyPage.get('currencyTable').selection}]" width="50%" resizable="false">
            <h:form id="rate-frm">
                <p:dataTable id="rate-tbl" value="#{currencyPage.get('exchangeRateTable').model}" var="rate" lazy="true" rowKey="#{rate}"
                             selectionMode="multiple" selection="#{currencyPage.get('exchangeRateTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             rowsPerPageTemplate="5 10 15 20 25" rows="15" resizableColumns="0 1"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="rate-tbl" update=":messages" />
                    <p:ajax event="rowSelect" process="rate-tbl" update=":messages" />
                    <p:ajax event="rowUnselect" process="rate-tbl" update=":messages" />

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{currencyPage.get('exchangeRateTable').prepareTransient}"
                                         update=":create-rate-dlg" oncomplete="PF('createRateDlg').show()"/>
                    </f:facet>

                    <p:column headerText="Date">
                        <h:outputText value="#{rate.checkDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{rate.referenceSecurity.symbol}" />
                    </p:column>

                    <p:column headerText="Rate">
                        <h:outputText value="#{rate.price}">
                            <f:convertNumber  locale="id_ID" />
                        </h:outputText>
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="rate-tbl">
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":edit-rate-dlg" oncomplete="PF('editRateDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":delete-rate-dlg" oncomplete="PF('deleteRateDlg').show()" />
                </p:contextMenu>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="create-rate-dlg" widgetVar="createRateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-rate-frm">
                <p:panelGrid columns="3">

                    <p:outputLabel for="rate" value="#{currencyPage.get('exchangeRateTable').selection.referenceSecurity.abbreviation}" />
                    <p:inputText value="#{currencyPage.get('exchangeRateTable').selection.price}" id="rate" label="Rate" />
                    <h:outputText value="/#{currencyPage.get('exchangeRateTable').selection.foreignSecurity.abbreviation}" id="foreign" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{currencyPage.get('exchangeRateTable').create}"
                                         update=":rate-frm:rate-tbl :messages" oncomplete="PF('createRateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-rate-dlg" widgetVar="editRateDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-rate-frm">
                <p:panelGrid columns="3">

                    <p:outputLabel for="rate" value="#{currencyPage.get('exchangeRateTable').selection.referenceSecurity.abbreviation}" />
                    <p:inputText value="#{currencyPage.get('exchangeRateTable').selection.price}" id="rate" label="Rate" />
                    <h:outputText value="/#{currencyPage.get('exchangeRateTable').selection.foreignSecurity.abbreviation}" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{currencyPage.get('exchangeRateTable').update}"
                                         update=":rate-frm:rate-tbl :messages" oncomplete="PF('editRateDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-rate-dlg" widgetVar="deleteRateDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting them ?">
            <h:form>
                <p:commandButton value="Yes Sure" actionListener="#{currencyPage.get('exchangeRateTable').delete}"
                                 update=":rate-frm:rate-tbl :tool-content :messages" oncomplete="PF('deleteRateDlg').hide()" icon="ui-icon-check" />
                <p:commandButton value="Not Yet" onclick="PF('deleteRateDlg').hide()" icon="ui-icon-closethick" type="button" />
            </h:form>
        </p:confirmDialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{currencyPage.get('currencyTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" actionListener="#{currencyPage.get('currencyTable').delete}"
                                 update=":dt-frm:dt-tbl  :editor-tool-frm :messages" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-check" />
                <p:commandButton value="Not Yet" onclick="PF('deleteDlg').hide()" icon="ui-icon-closethick" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
