<ui:composition template="./../../WEB-INF/templates/page.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"                
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{employeeAttendancePage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">
    </ui:define>

    <ui:define name="explorer">

        <h:form id="group-frm">
            <p:dataTable id="group-tbl" value="#{employeeAttendancePage.get('workUnitTable').model}" var="item"
                         selectionMode="single" selection="#{employeeAttendancePage.get('workUnitTable').selection}"
                         paginator="true" paginatorAlwaysVisible="false" lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="group-tbl" update=":dt-frm:dt-tbl :explorer-tool-frm" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="group-tbl">

            </p:contextMenu>
        </h:form>

    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Calculate Attendance" icon="fa fa-calculator" update=":choose-period-dlg :messages"
                         oncomplete="PF('choosePeriodDlg').show()" />
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span>
        <p:outputLabel for="date" value="Date: " />
        <p:calendar id="date" value="#{employeeAttendancePage.get('employeeAttendanceTable').selectedWorkDate}"
                    pattern="dd/MM/yyyy" showOn="button" >
            <p:ajax event="dateSelect" update=":dt-frm:dt-tbl" />
        </p:calendar>
        <p:commandButton title="Refresh" icon="ui-icon-refresh" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{employeeAttendancePage.get('employeeAttendanceTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{employeeAttendancePage.get('employeeAttendanceTable').selections}"
                         editable="true" emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":messages" />
                <p:ajax event="rowEdit" listener="#{employeeAttendancePage.get('employeeAttendanceTable').onRowEdit}" update="dt-tbl" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column width="35" />
                        <p:column headerText="NIK" width="125" />
                        <p:column headerText="Name" filterBy="#{item.employee.person.name}" filterMatchMode="contains" />
                        <p:column headerText="In" width="125" />
                        <p:column headerText="Out" width="125" />
                        <!--p:column headerText="Raw" /-->
                        <p:column headerText="Remarks" />                      
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <p:rowEditor />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.employee.nik}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.employee.person.name}" />
                </p:column>

                <p:column>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{item.attendance.inTime}" >
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <p:calendar value="#{item.attendance.inTime}" pattern="dd/MM/yyyy HH:mm" mindate="#{employeeAttendancePage.get('employeeAttendanceTable').selectedWorkDate}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{item.attendance.outTime}" >
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <p:calendar value="#{item.attendance.outTime}" pattern="dd/MM/yyyy HH:mm" mindate="#{employeeAttendancePage.get('employeeAttendanceTable').selectedWorkDate}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{item.attendance.remarks}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputTextarea value="#{item.attendance.remarks}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem title="View Attendances" value="View Attendances" icon="fa fa-eye"
                            update=":choose-view-period-dlg :messages"
                            oncomplete="PF('chooseViewPeriodDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="statusbar">
        
    </ui:define>

    <ui:define name="components">
        
        <p:dialog id="choose-period-dlg" widgetVar="choosePeriodDlg" modal="true" resizable="false" header="Attendance Period Dialog">
            <h:form id="choose-period-frm">
                <p:panelGrid columns="2">
                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{employeeAttendancePage.get('employeeAttendanceTable').retrievalFromDate}"
                                pattern="dd/MM/yyyy" showOn="button" />
                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{employeeAttendancePage.get('employeeAttendanceTable').retrievalThruDate}"
                                pattern="dd/MM/yyyy" showOn="button" />

                    <f:facet name="footer">
                        <p:commandButton value="OK" actionListener="#{employeeAttendancePage.get('employeeAttendanceTable').findAttendance}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('choosePeriodDlg').hide()" icon="ui-icon-check" />
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog id="choose-view-period-dlg" widgetVar="chooseViewPeriodDlg" modal="true" resizable="false" header="Attendance Period Dialog">
            <h:form id="choose-view-period-frm">
                <p:panelGrid columns="2">
                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{employeeAttendancePage.get('employeeAttendanceTable').retrievalFromDate}"
                                pattern="dd/MM/yyyy" showOn="button" />
                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{employeeAttendancePage.get('employeeAttendanceTable').retrievalThruDate}"
                                pattern="dd/MM/yyyy" showOn="button" />

                    <f:facet name="footer">
                        <p:commandButton value="OK" actionListener="#{employeeAttendancePage.get('employeeAttendanceTable').viewAttendance}"
                                         update=":attendances-frm:attendances-tbl :messages"
                                         oncomplete="PF('chooseViewPeriodDlg').hide(); PF('attendancesDlg').show()"
                                         icon="ui-icon-check" />
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog id="attendances-dlg" widgetVar="attendancesDlg" dynamic="true" modal="true" resizable="false"
                  header="Attendances Data [#{employeeAttendancePage.get('employeeAttendanceTable').selection.employee.person.name}]" width="500" >
            
            <h:form id="attendances-frm">

                <p:dataTable id="attendances-tbl" value="#{employeeAttendancePage.get('attendanceTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{employeeAttendancePage.get('attendanceTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Date" />
                            <p:column headerText="In" />
                            <p:column headerText="Out" />
                        </p:row>
                    </p:columnGroup>

                    <p:column>
                        <h:outputText value="#{item.workDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{item.inTime.time}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{item.outTime.time}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText>
                    </p:column>

                </p:dataTable>

            </h:form>
            
        </p:dialog>

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{beanPage.get('editorViewComponent').selection.name}" id="name" label="Name" />            

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{beanPage.get('editorViewComponent').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{beanPage.get('editorViewComponent').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{beanPage.get('editorViewComponent').selection.name}" id="name" label="Name" />            

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{beanPage.get('editorViewComponent').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{beanPage.get('editorViewComponent').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{beanPage.get('editorViewComponent').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{beanPage.get('editorViewComponent').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
