<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/templates/page.xhtml"          
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{leaveManagementPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">
    </ui:define>

    <ui:define name="explorer">
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         actionListener="#{leaveManagementPage.get('leaveRequestTable').prepareTransient}"
                         update=":leave-request-create-dlg :explorer-tool-frm" oncomplete="PF('leaveRequestCreateDlg').show()" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                         disabled="#{leaveManagementPage.get('leaveRequestTable').updateContextEmpty}"
                         actionListener="#{leaveManagementPage.get('leaveRequestTable').clearCutNode}"
                         update=":leave-request-edit-dlg :explorer-tool-frm" oncomplete="PF('leaveRequestEditDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{leaveManagementPage.get('leaveRequestTable').deleteContextEmpty}"
                         actionListener="#{leaveManagementPage.get('leaveRequestTable').clearCutNode}"
                         update=":leave-request-delete-dlg :explorer-tool-frm" oncomplete="PF('leaveRequestDeleteDlg').show()" />
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span>
        <p:menuButton value="Options" >
            <p:menuitem value="Leave Type" icon="ui-icon-calendar" immediate="true"
                        update=":leave-type-dlg" oncomplete="PF('leaveTypeDlg').show()" />
            <p:menuitem value="Leave Period" icon="ui-icon-calendar" immediate="true"
                        update=":leave-period-dlg" oncomplete="PF('leavePeriodDlg').show()" />
            <p:menuitem value="Leave Period Type" icon="ui-icon-calendar" immediate="true"
                        update=":leave-period-type-dlg" oncomplete="PF('leavePeriodTypeDlg').show()" />
        </p:menuButton>
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="explorer-frm"> 
            <p:dataTable id="dt-tbl" value="#{leaveManagementPage.get('leaveRequestTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{leaveManagementPage.get('leaveRequestTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" style="margin-top: 10px"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="rowSelect" process="dt-tbl" update=":editor-tool-frm" />
                <p:ajax event="contextMenu" process="dt-tbl" update=":editor-tool-frm" />

                <f:facet name="header">
                    <h:outputText value="Request" />
                </f:facet>

                <p:column headerText="Type">
                    <h:outputText value="#{item.leaveType}" />
                </p:column>

                <p:column headerText="Employee">
                    <h:outputText value="#{item.positionFulfillment.employee.person}" />
                </p:column>

                <p:column headerText="NIK">
                    <h:outputText value="#{item.positionFulfillment.employee.nik}" />
                </p:column>

                <p:column headerText="Position">
                    <h:outputText value="#{item.positionFulfillment.position.name}" />
                </p:column>

                <p:column headerText="Work Unit">
                    <h:outputText value="#{item.positionFulfillment.position.workUnits}" />
                </p:column>

                <p:column headerText="From">
                    <h:outputText value="#{item.fromDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Thru">
                    <h:outputText value="#{item.thruDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Remarks">
                    <h:outputText value="#{item.remarks}" />
                </p:column>

                <p:column headerText="Approved" style="text-align: center">
                    <p:selectBooleanCheckbox value="#{item.approved}">
                    </p:selectBooleanCheckbox>
                </p:column>

            </p:dataTable>
        </h:form>
        <h:form id="dt-frm"> 
            <p:dataTable id="dt-tbl" value="#{leaveManagementPage.get('actualLeaveTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{leaveManagementPage.get('actualLeaveTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" style="margin-top: 10px"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


                <f:facet name="header">
                    <h:outputText value="Running" />
                </f:facet>

                <p:column headerText="Type">
                    <h:outputText value="#{item.request.leaveType}" />
                </p:column>

                <p:column headerText="Approval">
                    <h:outputText value="#{item.approvedDate}" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Employee">
                    <h:outputText value="#{item.request.positionFulfillment.employee.person}" />
                </p:column>

                <p:column headerText="NIK">
                    <h:outputText value="#{item.request.positionFulfillment.employee.nik}" />
                </p:column>

                <p:column headerText="Position">
                    <h:outputText value="#{item.request.positionFulfillment.position.name}" />
                </p:column>

                <p:column headerText="Work Unit">
                    <h:outputText value="#{item.request.positionFulfillment.position.workUnits}" />
                </p:column>

                <p:column headerText="From">
                    <h:outputText value="#{item.actualFromDate}" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Thru">
                    <h:outputText value="#{item.actualThruDate}" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="leave-request-create-dlg" widgetVar="leaveRequestCreateDlg" modal="true" resizable="false"
                  header="Create Leave Request Dialog" position="top" >
            <h:form id="leave-request-create-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="employee" value="Employee"/>
                        </p:column>
                        <p:column>
                            <h:outputText id="employee" value="#{leaveManagementPage.get('leaveRequestTable').selection.positionFulfillment.employee.person.name}" />
                            <p:commandButton id="search-employee" icon="ui-icon-search" style="float: right" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="position" value="Position"/>
                        </p:column>
                        <p:column>
                            <h:outputText id="position" value="#{leaveManagementPage.get('leaveRequestTable').selection.positionFulfillment.position.name}" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="workunit" value="Work Unit"/>
                        </p:column>
                        <p:column>
                            <h:outputText id="workunit" value="#{leaveManagementPage.get('leaveRequestTable').selection.positionFulfillment.position.workUnits}" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="type" value="Type"/>
                        </p:column>
                        <p:column>                        
                            <p:selectOneMenu id="type" value="#{leaveManagementPage.get('leaveRequestTable').selection.leaveType}" 
                                             converter="#{leaveManagementPage.get('leaveTypeList')}" var="t">
                                <f:selectItem itemLabel="Select Type" itemValue="" />
                                <f:selectItems value="#{leaveManagementPage.get('leaveTypeList').data}" var="type" 
                                               itemValue="#{type}" itemLabel="#{type}" />
                                <p:column>
                                    <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                    <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                   onclick="PF('leaveTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                </p:column>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="from" value="From" />
                        </p:column>
                        <p:column>
                            <p:calendar id="from" value="#{leaveManagementPage.get('leaveRequestTable').selection.fromDate}"
                                        navigator="true" yearRange="c-100:c"
                                        pattern="dd/MM/yyyy" showOn="button"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="thru" value="Thru" />
                        </p:column>
                        <p:column>
                            <p:calendar id="thru" value="#{leaveManagementPage.get('leaveRequestTable').selection.thruDate}"
                                        navigator="true" yearRange="c-100:c"
                                        pattern="dd/MM/yyyy" showOn="button"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="remarks" value="Remarks" />
                        </p:column>
                        <p:column>
                            <h:outputText id="remarks" value="#{leaveManagementPage.get('leaveRequestTable').selection.remarks}" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton icon="ui-icon-check" value="Save"
                                                 actionListener="#{leaveManagementPage.get('leaveRequestTable').create}"
                                                 oncomplete="PF('leaveRequestCreateDlg').hide()" update=":explorer-frm:dt-tbl :explorer-tool-frm :messages" />
                            </p:column>
                        </p:row>
                    </f:facet>
                </p:panelGrid>

                <p:overlayPanel for="search-employee" widgetVar="searchEmployee">                  
                    <p:dataTable id="search-employee-tbl" value="#{leaveManagementPage.get('employeeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                                 selectionMode="single" emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                                 lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="5" style="width:400px"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                        <p:ajax event="rowSelect" listener="#{leaveManagementPage.get('employeeTable').onPositionFulfillmentSelected}"
                                oncomplete="PF('searchEmployee').hide()"
                                update=":leave-request-create-frm:employee :leave-request-create-frm:position :leave-request-create-frm:workunit :messages" />

                        <p:column headerText="NIK">
                            <h:outputText value="" />
                        </p:column>

                        <p:column headerText="Name">
                            <h:outputText value="#{item.employee.person.name}" />
                        </p:column>

                        <p:column headerText="Position">
                            <h:outputText value="#{item.position.name}" />
                        </p:column>

                        <p:column headerText="WorkUnits">
                            <h:outputText value="#{item.position.workUnits}" />
                        </p:column>

                    </p:dataTable>
                </p:overlayPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="leave-request-edit-dlg" widgetVar="leaveRequestEditDlg" modal="true" resizable="false" header="Edit Leave Request Dialog" >
            <h:form id="leave-request-edit-frm">
                <p:panelGrid columns="3">

                    <f:facet name="footer">
                        <p:commandButton icon="ui-icon-refresh" value="Update" actionListener="#{leaveManagementPage.get('leaveRequestTable').update}"
                                         oncomplete="PF('leaveRequestEditDlg').hide()" update=":explorer-frm:dt-tbl :messages"/>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="leave-request-delete-dlg" widgetVar="leaveRequestDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{internalOrganizationPage.get('internalOrganizationTree').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{leaveManagementPage.get('leaveRequestTable').delete}"
                                 oncomplete="PF('leaveRequestDeleteDlg').hide()" update=":explorer-frm:dt-tbl :dt-frm:dt-tbl :tool-content :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('leaveRequestDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
        
        <p:dialog dynamic="true" id="leave-type-dlg" widgetVar="leaveTypeDlg" modal="false" resizable="false" header="Leave Type Dialog" >
            <h:form id="leave-type-frm">
                <p:dataTable id="leave-type-tbl" value="#{leaveManagementPage.get('leaveTypeTable').model}" var="item"
                             selectionMode="multiple" selection="#{leaveManagementPage.get('leaveTypeTable').selections}"
                             paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" style="width:380px"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{leaveManagementPage.get('leaveTypeTable').prepareTransient}"
                                         update=":leave-type-create-dlg" oncomplete="PF('leaveTypeCreateDlg').show()" />
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                                         disabled="#{leaveManagementPage.get('leaveTypeTable').updateContextEmpty}"
                                         update=":leave-type-edit-dlg" oncomplete="PF('leaveTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{leaveManagementPage.get('leaveTypeTable').deleteContextEmpty}"
                                         update=":leave-type-delete-dlg" oncomplete="PF('leaveTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:ajax event="rowSelect" process="leave-type-tbl" update=":leave-type-frm:leave-type-tbl :messages" />
                    <p:ajax event="contextMenu" process="leave-type-tbl" update=":messages" />

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Max. Days">
                        <h:outputText value="#{item.maxDay}" />
                    </p:column>

                    <p:column headerText="Max. Taken">
                        <h:outputText value="#{item.maxTaken}" />
                    </p:column>

                    <p:column headerText="Recurrence">
                        <h:outputText value="#{item.recurrenceType}" />
                    </p:column>

                    <p:column headerText="Remarks">
                        <h:outputText value="#{item.remarks}" />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="leave-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true" 
                                actionListener="#{leaveManagementPage.get('leaveTypeTable').prepareTransient}"
                                update=":leave-type-create-dlg" oncomplete="PF('leaveTypeCreateDlg').show()" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":leave-type-edit-dlg" oncomplete="PF('leaveTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":leave-type-delete-dlg" oncomplete="PF('leaveTypeDeleteDlg').show()" />
                </p:contextMenu>                
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="leave-type-create-dlg" widgetVar="leaveTypeCreateDlg" modal="false" resizable="false" header="Add Leave Type Dialog" >
            <h:form id="leave-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{leaveManagementPage.get('leaveTypeTable').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="maxday" value="Days" />
                    <p:inputText value="#{leaveManagementPage.get('leaveTypeTable').selection.maxDay}" id="maxday" label="Max. Days" />

                    <p:outputLabel for="maxtaken" value="Max. Taken" />
                    <p:inputText value="#{leaveManagementPage.get('leaveTypeTable').selection.maxTaken}" id="maxtaken" label="Max. Taken" />

                    <p:outputLabel for="recurrence" value="Recurrence" />                                            
                    <p:selectOneMenu id="recurrence" value="#{leaveManagementPage.get('leaveTypeTable').selection.recurrenceType}" 
                                     converter="#{leaveManagementPage.get('leavePeriodTypeList')}" var="t">
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{leaveManagementPage.get('leavePeriodTypeList').data}" var="type" 
                                       itemValue="#{type}" itemLabel="#{type}" />
                        <p:column>
                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                           onclick="PF('leavePeriodTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                        </p:column>
                    </p:selectOneMenu>

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{leaveManagementPage.get('leaveTypeTable').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{leaveManagementPage.get('leaveTypeTable').create}"
                                         update=":leave-request-create-frm:type :leave-type-frm:leave-type-tbl :messages" oncomplete="PF('leaveTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        <p:dialog dynamic="true" id="leave-type-edit-dlg" widgetVar="leaveTypeEditDlg" modal="false" resizable="false" header="Edit Leave Type Dialog" >
            <h:form id="leave-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{leaveManagementPage.get('leaveTypeTable').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="maxday" value="Days" />
                    <p:inputText value="#{leaveManagementPage.get('leaveTypeTable').selection.maxDay}" id="maxday" label="Max. Days" />

                    <p:outputLabel for="maxtaken" value="Max. Taken" />
                    <p:inputText value="#{leaveManagementPage.get('leaveTypeTable').selection.maxTaken}" id="maxtaken" label="Max. Taken" />

                    <p:outputLabel for="recurrence" value="Recurrence" />                                            
                    <p:selectOneMenu id="recurrence" value="#{leaveManagementPage.get('leaveTypeTable').selection.recurrenceType}" 
                                     converter="#{leaveManagementPage.get('leavePeriodTypeList')}" var="t">
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{leaveManagementPage.get('leavePeriodTypeList').data}" var="type" 
                                       itemValue="#{type}" itemLabel="#{type}" />
                        <p:column>
                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                           onclick="PF('leavePeriodTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                        </p:column>
                    </p:selectOneMenu>

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{leaveManagementPage.get('leaveTypeTable').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{leaveManagementPage.get('leaveTypeTable').update}"
                                         update=":leave-type-frm:leave-type-tbl :messages" oncomplete="PF('leaveTypeEditDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>        

        <p:confirmDialog id="leave-type-delete-dlg" widgetVar="leaveTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{leaveManagementPage.get('leaveTypeTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{leaveManagementPage.get('leaveTypeTable').delete}"
                                 oncomplete="PF('leaveTypeDeleteDlg').hide()" update=":leave-type-frm:leave-type-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('leaveTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="leave-period-dlg" widgetVar="leavePeriodDlg" modal="false" resizable="false" header="Leave Period" >
            <h:form id="leave-period-frm">
                <p:dataTable id="leave-period-tbl" value="#{leaveManagementPage.get('leavePeriodTable').model}" var="item"
                             selectionMode="single" selection="#{leaveManagementPage.get('leavePeriodTable').selection}"
                             paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" style="width:380px"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{leaveManagementPage.get('leavePeriodTable').prepareTransient}"
                                         update=":leave-period-create-dlg" oncomplete="PF('leavePeriodCreateDlg').show()" />
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                                         disabled="#{leaveManagementPage.get('leavePeriodTable').updateContextEmpty}"
                                         update=":leave-period-edit-dlg" oncomplete="PF('leavePeriodEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{leaveManagementPage.get('leavePeriodTable').deleteContextEmpty}"
                                         update=":leave-period-delete-dlg" oncomplete="PF('leavePeriodDeleteDlg').show()" />
                    </f:facet>

                    <p:ajax event="rowSelect" process="leave-period-tbl" update=":leave-period-frm:leave-period-tbl :messages" />
                    <p:ajax event="contextMenu" process="leave-period-tbl" update=":messages" />

                    <p:column headerText="Type">
                        <h:outputText value="#{item.leavePeriodType}" />
                    </p:column>

                    <p:column headerText="From">
                        <h:outputText value="#{item.fromDate}"  >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Thru">
                        <h:outputText value="#{item.thruDate}"  >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Remarks">
                        <h:outputText value="#{item.remarks}" />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="leave-period-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true" 
                                actionListener="#{leaveManagementPage.get('leavePeriodTable').prepareTransient}"
                                update=":leave-period-create-dlg" oncomplete="PF('leavePeriodCreateDlg').show()" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":leave-period-edit-dlg" oncomplete="PF('leavePeriodEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":leave-period-delete-dlg" oncomplete="PF('leavePeriodDeleteDlg').show()" />
                </p:contextMenu>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="leave-period-type-dlg" widgetVar="leavePeriodTypeDlg" modal="false" resizable="false" header="Leave Period Type Dialog" >
            <h:form id="leave-period-type-frm">
                <p:dataTable id="leave-period-type-tbl" value="#{leaveManagementPage.get('leavePeriodTypeTable').model}" var="item"
                             selectionMode="multiple" selection="#{leaveManagementPage.get('leavePeriodTypeTable').selections}"
                             paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15" style="width:380px"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{leaveManagementPage.get('leavePeriodTypeTable').prepareTransient}"
                                         update=":leave-period-type-create-dlg" oncomplete="PF('leavePeriodTypeCreateDlg').show()" />
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                                         disabled="#{leaveManagementPage.get('leavePeriodTypeTable').updateContextEmpty}"
                                         update=":leave-period-type-edit-dlg" oncomplete="PF('leavePeriodTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{leaveManagementPage.get('leavePeriodTypeTable').deleteContextEmpty}"
                                         update=":leave-period-type-delete-dlg" oncomplete="PF('leavePeriodTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:ajax event="rowSelect" process="leave-period-type-tbl" update=":leave-period-type-frm:leave-period-type-tbl :messages" />
                    <p:ajax event="contextMenu" process="leave-period-type-tbl" update=":messages" />

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Remarks">
                        <h:outputText value="#{item.remarks}" />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="leave-period-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true" 
                                actionListener="#{leaveManagementPage.get('leavePeriodTypeTable').prepareTransient}"
                                update=":leave-period-type-create-dlg" oncomplete="PF('leavePeriodTypeCreateDlg').show()" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":leave-period-type-edit-dlg" oncomplete="PF('leavePeriodTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":leave-period-type-delete-dlg" oncomplete="PF('leavePeriodTypeDeleteDlg').show()" />
                </p:contextMenu>                
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="leave-period-type-create-dlg" widgetVar="leavePeriodTypeCreateDlg" modal="false" resizable="false" header="Add Leave Period Type Dialog" >
            <h:form id="leave-period-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText id="name" value="#{leaveManagementPage.get('leavePeriodTypeTable').selection.name}"/>

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea id="remarks" value="#{leaveManagementPage.get('leavePeriodTypeTable').selection.remarks}" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{leaveManagementPage.get('leavePeriodTypeTable').create}"
                                         update=":leave-period-create-frm:type :leave-period-type-frm:leave-period-type-tbl :messages" oncomplete="PF('leavePeriodTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="leave-period-type-edit-dlg" widgetVar="leavePeriodTypeEditDlg" modal="false" resizable="false" header="Add Leave Period Type Dialog" >
            <h:form id="leave-period-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText id="name" value="#{leaveManagementPage.get('leavePeriodTypeTable').selection.name}"/>

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea id="remarks" value="#{leaveManagementPage.get('leavePeriodTypeTable').selection.remarks}" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{leaveManagementPage.get('leavePeriodTypeTable').update}"
                                         update=":leave-period-type-frm:leave-period-type-tbl :messages" oncomplete="PF('leavePeriodTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="leave-period-type-delete-dlg" widgetVar="leavePeriodTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{leaveManagementPage.get('leavePeriodTypeTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{leaveManagementPage.get('leavePeriodTypeTable').delete}"
                                 oncomplete="PF('leavePeriodTypeDeleteDlg').hide()" update=":leave-period-type-frm:leave-period-type-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('leavePeriodTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="leave-period-create-dlg" widgetVar="leavePeriodCreateDlg" modal="false" resizable="false" header="Add Leave Period Dialog" >
            <h:form id="leave-period-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="type" value="Type" />                                            
                    <p:selectOneMenu id="type" value="#{leaveManagementPage.get('leavePeriodTable').selection.leavePeriodType}" 
                                     converter="#{leaveManagementPage.get('leavePeriodTypeList')}" var="t">
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{leaveManagementPage.get('leavePeriodTypeList').data}" var="type" 
                                       itemValue="#{type}" itemLabel="#{type}" />
                        <p:column>
                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                           onclick="PF('leavePeriodTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                        </p:column>
                    </p:selectOneMenu>


                    <p:outputLabel for="from" value="From" />
                    <p:calendar id="from" value="#{leaveManagementPage.get('leavePeriodTable').selection.fromDate}"
                                navigator="true" yearRange="c-100:c"
                                pattern="dd/MM/yyyy" showOn="button"/>

                    <p:outputLabel for="thru" value="Thru" />
                    <p:calendar id="thru" value="#{leaveManagementPage.get('leavePeriodTable').selection.thruDate}"
                                navigator="true" yearRange="c-100:c"
                                pattern="dd/MM/yyyy" showOn="button"/>

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea id="remarks" value="#{leaveManagementPage.get('leavePeriodTable').selection.remarks}" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{leaveManagementPage.get('leavePeriodTable').create}"
                                         update=":leave-period-frm:leave-period-tbl :messages" oncomplete="PF('leavePeriodCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="leave-period-edit-dlg" widgetVar="leavePeriodEditDlg" modal="false" resizable="false" header="Edit Leave Period Dialog" >
            <h:form id="leave-period-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="type" value="Type" />                                            
                    <p:selectOneMenu id="type" value="#{leaveManagementPage.get('leavePeriodTable').selection.leavePeriodType}" 
                                     converter="#{leaveManagementPage.get('leavePeriodTypeList')}" var="t">
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{leaveManagementPage.get('leavePeriodTypeList').data}" var="type" 
                                       itemValue="#{type}" itemLabel="#{type}" />
                        <p:column>
                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                           onclick="PF('leavePeriodTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                        </p:column>
                    </p:selectOneMenu>


                    <p:outputLabel for="from" value="From" />
                    <p:calendar id="from" value="#{leaveManagementPage.get('leavePeriodTable').selection.fromDate}"
                                navigator="true" yearRange="c-100:c"
                                pattern="dd/MM/yyyy" showOn="button"/>

                    <p:outputLabel for="thru" value="Thru" />
                    <p:calendar id="thru" value="#{leaveManagementPage.get('leavePeriodTable').selection.thruDate}"
                                navigator="true" yearRange="c-100:c"
                                pattern="dd/MM/yyyy" showOn="button"/>

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea id="remarks" value="#{leaveManagementPage.get('leavePeriodTable').selection.remarks}" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{leaveManagementPage.get('leavePeriodTable').update}"
                                         update=":leave-period-frm:leave-period-tbl :messages" oncomplete="PF('leavePeriodEditDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="leave-period-delete-dlg" widgetVar="leavePeriodDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{leaveManagementPage.get('leavePeriodTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{leaveManagementPage.get('leavePeriodTable').delete}"
                                 oncomplete="PF('leavePeriodDeleteDlg').hide()" update=":leave-period-frm:leave-period-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('leavePeriodDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
