<ui:composition template="./../../WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="initializer">
        #{employeeSchedulePage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">

    </ui:define>

    <ui:define name="explorer">

        <h:form id="group-frm"> 
            <p:dataTable id="group-tbl" value="#{employeeSchedulePage.get('workUnitTable').model}" var="item"
                         selectionMode="single" selection="#{employeeSchedulePage.get('workUnitTable').selection}" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="group-tbl" update=":dt-frm:dt-tbl :explorer-tool-frm :prop-frm :prop-frm:schedule" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="group-tbl">
            </p:contextMenu>
        </h:form>
        
    </ui:define>

    <ui:define name="editor-tool">

    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">
            
            <p:dataTable id="dt-tbl" value="#{employeeSchedulePage.get('employeeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{employeeSchedulePage.get('employeeTable').selections}"
                         emptyMessage="Select Work Unit" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="rowSelect" process="dt-tbl" update=":prop-frm :prop-frm:schedule :editor-tool-frm :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":editor-tool-frm :messages" />

                <p:column headerText="NIK" width="50" >
                    <h:outputText value="" />
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value="#{item.employee.person.name}" />
                </p:column>

                <p:column headerText="Position">
                    <h:outputText value="#{item.position.name}" />
                </p:column>

            </p:dataTable>

        </h:form>
    </ui:define>

    <ui:define name="properties-tool">
        <p:commandButton icon="ui-icon-gear" />
    </ui:define>

    <ui:define name="properties">
        <h:form id="prop-frm" prependId="false">
            <p:panel id="prop-panel" >
                <p:schedule id="schedule" value="#{employeeSchedulePage.get('employeeWorkSchedule').model}" view="basicWeek" ignoreTimezone="false" draggable="false"
                            rightHeaderTemplate="next" rendered="#{not employeeSchedulePage.get('employeeTable').updateContextEmpty}" 
                            leftHeaderTemplate="prev" resizable="false" aspectRatio="10.5" >
                    <p:ajax event="dateSelect" listener="#{employeeSchedulePage.get('employeeWorkSchedule').onDateSelect}"
                            update=":schedule-create-dlg :schedule-create-frm" oncomplete="PF('scheduleCreateDlg').show()" />
                    <p:ajax event="eventSelect" listener="#{employeeSchedulePage.get('employeeWorkSchedule').onEventSelect}"
                            update=":schedule-edit-dlg :schedule-create-frm" oncomplete="PF('scheduleEditDlg').show()" />                   
                </p:schedule>
            </p:panel>
        </h:form>
    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">
        <p:dialog dynamic="true" id="schedule-create-dlg" widgetVar="scheduleCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="schedule-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{employeeSchedulePage.get('employeeWorkSchedule').selection.event.fromDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{employeeSchedulePage.get('employeeWorkSchedule').selection.event.thruDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />                    

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{employeeSchedulePage.get('employeeWorkSchedule').create}"
                                         update=":prop-frm:schedule :messages" oncomplete="PF('scheduleCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-edit-dlg" widgetVar="scheduleEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="schedule-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{employeeSchedulePage.get('employeeWorkSchedule').selection.event.fromDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{employeeSchedulePage.get('employeeWorkSchedule').selection.event.thruDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{employeeSchedulePage.get('employeeWorkSchedule').update}"
                                         update=":prop-frm:schedule :messages" oncomplete="PF('scheduleEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
