<ui:composition template="./../../WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="initializer">
        #{positionSchedulePage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">

    </ui:define>

    <ui:define name="explorer">

        <h:form id="org-frm"> 
            <p:tree id="org-tbl" value="#{positionSchedulePage.get('internalOrganizationTree').model.wrappedData}" var="item"
                    selectionMode="single" selection="#{positionSchedulePage.get('internalOrganizationTree').nodeSelection}" style="width:99.5%" >

                <p:ajax event="select" process="org-tbl" listener="#{positionSchedulePage.get('internalOrganizationTree').handleNodeSelected}"
                        update=":explorer-tool-frm :dt-frm:dt-tbl :varian-frm:varian-tbl :schedule-frm" />

                <p:treeNode type="folder">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

                <p:treeNode type="document">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

            </p:tree>
        </h:form>
    </ui:define>

    <ui:define name="editor-tool">

    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{positionSchedulePage.get('positionTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="single" selection="#{positionSchedulePage.get('positionTable').selection}"
                         emptyMessage="Select Organization" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="rowSelect" process="dt-tbl" update=":varian-frm:varian-tbl :schedule-frm :schedule-frm:schedule :tool-content :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":varian-frm:varian-tbl :tool-content :messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column rowspan="2" headerText="Name" />
                        <p:column rowspan="2" headerText="Work Unit" />
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.workUnits}" />
                </p:column>

            </p:dataTable>

        </h:form>
    </ui:define>

    <ui:define name="properties-tool">
        <p:commandButton icon="ui-icon-gear" actionListener="#{positionSchedulePage.get('positionScheduleVarianTable').interpolateSchedule}"
                         immediate="true" update=":schedule-frm:schedule" />
    </ui:define>

    <ui:define name="properties">
        <p:panel header="Varian">
            <h:form id="varian-frm">
                <p:dataTable id="varian-tbl" value="#{positionSchedulePage.get('positionScheduleVarianTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" selection="#{positionSchedulePage.get('positionScheduleVarianTable').selection}"
                             emptyMessage="Select Position" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="rowSelect" process="varian-tbl" update=":schedule-frm :schedule-frm:schedule :tool-content :messages" />
                    <p:ajax event="rowUnselect" process="varian-tbl" update=":tool-content :messages" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" headerText="Name" width="50%"/>
                            <p:column rowspan="2" headerText="Used" width="20%" style="text-align: center" />
                            <p:column rowspan="2" headerText="Default" width="30%" style="text-align: center" />
                        </p:row>
                    </p:columnGroup>

                    <p:column>
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column style="text-align: center">
                        <p:selectBooleanCheckbox value="#{item.used}" >
                            <f:attribute name="item" value="#{item}" />
                            <p:ajax event="change" listener="#{positionSchedulePage.get('positionScheduleVarianTable').handleUsed}" update=":varian-frm:varian-tbl" />
                        </p:selectBooleanCheckbox>
                    </p:column>

                    <p:column style="text-align: center">
                        <p:selectBooleanCheckbox value="#{item.defaulted}" >
                            <f:attribute name="item" value="#{item}" />
                            <p:ajax event="change" listener="#{positionSchedulePage.get('positionScheduleVarianTable').handleDefaulted}" update=":varian-frm:varian-tbl" />
                        </p:selectBooleanCheckbox>
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:panel>
        <p:panel>
            <h:form id="schedule-frm">
                <p:schedule id="schedule" value="#{positionSchedulePage.get('positionSchedule').model}" view="basicWeek" ignoreTimezone="false" draggable="false"
                            rightHeaderTemplate="next" rendered="#{not positionSchedulePage.get('positionScheduleVarianTable').updateContextEmpty}" 
                            leftHeaderTemplate="prev" resizable="false" aspectRatio="7.5" >
                    <p:ajax event="eventSelect" listener="#{positionSchedulePage.get('positionSchedule').onEventSelect}"
                            update=":schedule-edit-dlg :schedule-create-frm" oncomplete="PF('scheduleEditDlg').show()" />                   
                </p:schedule>
            </h:form>
        </p:panel>
    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">        

        <p:dialog dynamic="true" id="schedule-create-dlg" widgetVar="scheduleCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="schedule-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{positionSchedulePage.get('positionSchedule').selection.event.interpolatedFromDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{positionSchedulePage.get('positionSchedule').selection.event.interpolatedThruDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />                    

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{positionSchedulePage.get('positionSchedule').create}"
                                         update=":schedule-frm:schedule :messages" oncomplete="PF('scheduleCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-edit-dlg" widgetVar="scheduleEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="schedule-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{positionSchedulePage.get('positionSchedule').selection.event.usedFromDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{positionSchedulePage.get('positionSchedule').selection.event.usedThruDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="propagate" value="Propagate ?" />
                    <p:selectBooleanCheckbox id="propagate" value="#{positionSchedulePage.get('positionSchedule').selection.event.propagate}" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{positionSchedulePage.get('positionSchedule').update}"
                                         update=":schedule-frm:schedule :messages" oncomplete="PF('scheduleEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
