<ui:composition template="./../../WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.std.hr.strings" var="msgs" />
        <h:outputStylesheet library="std" name="hr/css/widget.css" />
        <h:outputScript library="std" name="hr/js/locale.js" />
        #{workUnitSchedulePage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">
    </ui:define>

    <ui:define name="explorer">

        <h:form id="group-frm"> 
            <p:dataTable id="group-tbl" value="#{workUnitSchedulePage.get('workUnitTable').model}" var="item"
                         selectionMode="single" selection="#{workUnitSchedulePage.get('workUnitTable').selection}" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                <p:ajax event="rowSelect" process="group-tbl" update=":explorer-tool-frm :editor-tool-frm :dt-frm:dt-tbl :prop-frm :prop-frm:schedule" />
                <p:ajax event="contextMenu" process="group-tbl" update=":dt-frm:dt-tbl" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="group-tbl">
            </p:contextMenu>
        </h:form>

    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         disabled="#{workUnitSchedulePage.get('workUnitTable').updateContextEmpty}"
                         actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').prepareTransient}"
                         update=":explorer-tool-frm :schedule-varian-create-dlg" oncomplete="PF('scheduleVarianCreateDlg').show()" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                         disabled="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').updateContextEmpty}"
                         update=":explorer-tool-frm :schedule-varian-edit-dlg" oncomplete="PF('scheduleVarianEditDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').deleteContextEmpty}"
                         actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').clearCutNode}"
                         update=":explorer-tool-frm :schedule-varian-delete-dlg" oncomplete="PF('scheduleVarianDeleteDlg').show()" />
    </ui:define>

    <ui:define name="editor-options">
        <p:menuitem value="Schedule Templates" icon="fa fa-list" immediate="true"
                    update=":schedule-template-dlg" oncomplete="PF('scheduleTemplateDlg').show()" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="single" selection="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').selection}"
                         emptyMessage="Select Work Unit" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=" :editor-tool-frm :prop-frm :prop-frm:schedule :messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Name" />
                    </p:row>
                </p:columnGroup> 

                <p:column>
                    <h:outputText value="#{item.name}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').prepareTransient}"
                            oncomplete="PF('scheduleVarianCreateDlg').show()" update=":schedule-varian-create-dlg :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":schedule-varian-edit-dlg :messages" oncomplete="PF('scheduleVarianEditDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":schedule-varian-delete-dlg" oncomplete="PF('scheduleVarianDeleteDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="properties-tool">
        <p:commandButton icon="ui-icon-gear" actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').interpolateSchedule}"
                         immediate="true" update=":prop-frm:schedule" />
        <p:commandButton icon="ui-icon-script" immediate="true"
                         oncomplete="PF('scriptDlg').show()" update=":script-dlg :messages" />
    </ui:define>

    <ui:define name="properties">
        <h:form id="prop-frm" prependId="false">
            <p:panel id="prop-panel" >
                <p:schedule id="schedule" value="#{workUnitSchedulePage.get('workUnitSchedule').model}" view="basicWeek" draggable="false"
                            rightHeaderTemplate="next" rendered="#{not workUnitSchedulePage.get('workUnitScheduleVarianTable').updateContextEmpty}" 
                            locale="#{userSession.lang}" leftHeaderTemplate="prev" resizable="true" aspectRatio="10.5" clientTimeZone="local" timeFormat="HH:mm"  >
                    <p:ajax event="dateSelect" listener="#{workUnitSchedulePage.get('workUnitSchedule').onDateSelect}"
                            update=":schedule-create-dlg :schedule-create-frm" oncomplete="PF('scheduleCreateDlg').show()" />
                    <p:ajax event="eventSelect" listener="#{workUnitSchedulePage.get('workUnitSchedule').onEventSelect}"
                            update=":schedule-edit-dlg :schedule-edit-frm" oncomplete="PF('scheduleEditDlg').show()" />                   
                </p:schedule>
            </p:panel>
        </h:form>
    </ui:define>

    <ui:define name="statusbar">
        
    </ui:define>

    <ui:define name="components">
        
        <p:dialog dynamic="true" id="schedule-template-dlg" widgetVar="scheduleTemplateDlg" modal="true" resizable="false"
                  header="Schedule Template Editor" width="75%">
            <h:form id="schedule-template-frm">
                <p:dataTable id="schedule-template-tbl" value="#{workUnitSchedulePage.get('scheduleTemplateTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" selection="#{workUnitSchedulePage.get('scheduleTemplateTable').selection}"
                             emptyMessage="Select Work Unit" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="rowSelect" process="schedule-template-tbl" update=":schedule-template-frm:schedule-template-tbl"  />
                    <p:ajax event="contextMenu" process="schedule-template-tbl" update=":schedule-template-frm:schedule-template-tbl" />

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{workUnitSchedulePage.get('scheduleTemplateTable').prepareTransient}"
                                         update=":schedule-template-create-dlg" oncomplete="PF('scheduleTemplateCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{workUnitSchedulePage.get('scheduleTemplateTable').updateContextEmpty}"
                                         update=":schedule-template-edit-dlg" oncomplete="PF('scheduleTemplateEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{workUnitSchedulePage.get('scheduleTemplateTable').deleteContextEmpty}"
                                         update=":schedule-template-delete-dlg" oncomplete="PF('scheduleTemplateDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name" width="200">
                        <h:outputText value="#{item.name}" />
                    </p:column>
                    <p:column headerText="Schedule">
                        <p:schedule value="#{workUnitSchedulePage.get('scheduleTemplateTable').retrieveScheduleModel(item)}"
                                    view="basicWeek" draggable="true" resizable="true" aspectRatio="10" locale="#{userSession.lang}"
                                    showHeader="true" clientTimeZone="local" >
                            <p:ajax event="eventSelect" listener="#{workUnitSchedulePage.get('scheduleTemplateTable').onDayTemplateSelect}"
                                    update=":schedule-template-day-edit-dlg :schedule-template-day-edit-frm" oncomplete="PF('scheduleTemplateDayEditDlg').show()"  />
                            <p:ajax event="dateSelect" listener="#{workUnitSchedulePage.get('scheduleTemplateTable').onDateSelect}"
                                    update=":schedule-template-day-create-dlg :schedule-template-day-create-frm" oncomplete="PF('scheduleTemplateDayCreateDlg').show()"  />           
                        </p:schedule>
                    </p:column>
                </p:dataTable>

                <p:contextMenu for="schedule-template-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true" 
                                actionListener="#{workUnitSchedulePage.get('scheduleTemplateTable').prepareTransient}"
                                update=":schedule-template-create-dlg" oncomplete="PF('scheduleTemplateCreateDlg').show()" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true" 
                                update=":schedule-template-edit-dlg" oncomplete="PF('scheduleTemplateEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":schedule-template-delete-dlg" oncomplete="PF('scheduleTemplateDeleteDlg').show()" />
                </p:contextMenu>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-create-dlg" widgetVar="scheduleTemplateDayCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="schedule-template-day-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{workUnitSchedulePage.get('scheduleTemplateTable').dayTemplateSelection.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true">
                        <p:ajax event="dateSelect" listener="#{workUnitSchedulePage.get('scheduleTemplateTable').onEditFromDate}" />
                    </p:calendar>

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workUnitSchedulePage.get('scheduleTemplateTable').dayTemplateSelection.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" >
                        <p:ajax event="dateSelect" listener="#{workUnitSchedulePage.get('scheduleTemplateTable').onEditThruDate}" />
                    </p:calendar>

                    <f:facet name="footer">
                        <p:commandButton value="Create" action="#{workUnitSchedulePage.get('scheduleTemplateTable').createScheduleDayTemplate}"
                                         update=":schedule-template-frm:schedule-template-tbl :messages" oncomplete="PF('scheduleTemplateDayCreateDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-edit-dlg" widgetVar="scheduleTemplateDayEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="schedule-template-day-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{workUnitSchedulePage.get('scheduleTemplateTable').dayTemplateSelection.apparentFromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true">
                        <p:ajax event="dateSelect" listener="#{workUnitSchedulePage.get('scheduleTemplateTable').onEditFromDate}" />
                    </p:calendar>

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workUnitSchedulePage.get('scheduleTemplateTable').dayTemplateSelection.apparentThruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" >
                        <p:ajax event="dateSelect" listener="#{workUnitSchedulePage.get('scheduleTemplateTable').onEditThruDate}" />
                    </p:calendar>

                    <f:facet name="footer">
                        <p:commandButton value="Update" action="#{workUnitSchedulePage.get('scheduleTemplateTable').updateScheduleDayTemplate}"
                                         update=":schedule-template-frm:schedule-template-tbl :messages" oncomplete="PF('scheduleTemplateDayEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-create-dlg" widgetVar="scheduleTemplateCreateDlg" modal="true" resizable="false"
                  header="Schedule Template Create Dialog" >
            <h:form id="schedule-template-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{workUnitSchedulePage.get('scheduleTemplateTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{workUnitSchedulePage.get('scheduleTemplateTable').create}"
                                         update=":schedule-template-frm:schedule-template-tbl :messages" oncomplete="PF('scheduleTemplateCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-edit-dlg" widgetVar="scheduleTemplateEditDlg" modal="true" resizable="false"
                  header="Schedule Template Edit Dialog" >
            <h:form id="schedule-template-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{workUnitSchedulePage.get('scheduleTemplateTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{workUnitSchedulePage.get('scheduleTemplateTable').update}"
                                         update=":schedule-template-frm:schedule-template-tbl :messages" oncomplete="PF('scheduleTemplateEditDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="schedule-template-delete-dlg" widgetVar="scheduleTemplateDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{workUnitSchedulePage.get('scheduleTemplateTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{workUnitSchedulePage.get('scheduleTemplateTable').delete}"
                                 oncomplete="PF('scheduleTemplateDeleteDlg').hide()" update=":schedule-template-frm:schedule-template-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('scheduleTemplateTable').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="script-dlg" widgetVar="scriptDlg" modal="true" resizable="true" header="Script Editor" >
            <h:form id="script-frm">
                <p:panelGrid columns="1">
                    <p:inputTextarea value="#{workUnitSchedulePage.interpolationScript.content}" cols="60" rows="20"
                                     style="font-family: monospace; font-size: large" />
                    <f:facet name="footer">
                        <p:commandButton value="Save" oncomplete="PF('scriptDlg').hide()" icon="ui-icon-refresh" /> 
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-create-dlg" widgetVar="scheduleCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="schedule-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{workUnitSchedulePage.get('workUnitSchedule').selection.event.interpolatedFromDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workUnitSchedulePage.get('workUnitSchedule').selection.event.interpolatedThruDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />                    

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{workUnitSchedulePage.get('workUnitSchedule').create}"
                                         update=":prop-frm:schedule :messages" oncomplete="PF('scheduleCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-edit-dlg" widgetVar="scheduleEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="schedule-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" />
                    <p:calendar id="from-date" value="#{workUnitSchedulePage.get('workUnitSchedule').selection.event.usedFromDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workUnitSchedulePage.get('workUnitSchedule').selection.event.usedThruDate}"
                                pattern="d/M/yyyy HH:mm" showOn="button" />

                    <p:outputLabel for="propagate" value="Propagate ?" />
                    <p:selectBooleanCheckbox id="propagate" value="#{workUnitSchedulePage.get('workUnitSchedule').selection.event.propagate}" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{workUnitSchedulePage.get('workUnitSchedule').update}"
                                         update=":prop-frm:schedule :messages" oncomplete="PF('scheduleEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-varian-create-dlg" widgetVar="scheduleVarianCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="schedule-varian-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleVarianCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-varian-edit-dlg" widgetVar="scheduleVarianEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="schedule-varian-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleVarianEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="schedule-varian-delete-dlg" widgetVar="scheduleVarianDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{workUnitSchedulePage.get('workUnitScheduleVarianTable').selection.name}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{workUnitSchedulePage.get('workUnitScheduleVarianTable').delete}"
                                 oncomplete="PF('scheduleVarianDeleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('scheduleVarianDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
