<ui:composition template="./../../WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.std.hr.strings" var="msgs" />
        <h:outputStylesheet library="std" name="hr/css/widget.css" />
        <h:outputScript library="std" name="hr/js/locale.js" />
        #{workSchedulePage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool"> 
        <p:commandButton title="Generate Schedule" icon="fa fa-magic" immediate="true"
                         update=":generate-schedule-dlg :generate-schedule-frm" oncomplete="PF('generateScheduleDlg').show()" />                  
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span>
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         actionListener="#{workSchedulePage.get('scheduleTemplateTable').prepareTransient}"
                         update=":schedule-template-create-dlg" oncomplete="PF('scheduleTemplateCreateDlg').show()"/>
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{workSchedulePage.get('scheduleTemplateTable').updateContextEmpty}"
                         update=":schedule-template-edit-dlg" oncomplete="PF('scheduleTemplateEditDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{workSchedulePage.get('scheduleTemplateTable').deleteContextEmpty}"
                         update=":schedule-template-delete-dlg" oncomplete="PF('scheduleTemplateDeleteDlg').show()" />
    </ui:define>

    <ui:define name="explorer">

        <h:form id="schedule-template-frm" prependId="false"> 
            <p:dataTable id="schedule-template-tbl" value="#{workSchedulePage.get('scheduleTemplateTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="single" selection="#{workSchedulePage.get('scheduleTemplateTable').selection}"
                         emptyMessage="Select Work Unit" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         >

                <p:ajax event="rowSelect" process="schedule-template-tbl" update=":schedule-template-frm:schedule-template-tbl :dt-frm:dt-tbl :prop-frm"  />
                <p:ajax event="contextMenu" process="schedule-template-tbl" update=":schedule-template-frm:schedule-template-tbl :dt-frm:dt-tbl :prop-frm" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>
            </p:dataTable>

            <p:contextMenu for="schedule-template-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true" 
                            actionListener="#{workSchedulePage.get('scheduleTemplateTable').prepareTransient}"
                            update=":schedule-template-create-dlg" oncomplete="PF('scheduleTemplateCreateDlg').show()" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true" 
                            update=":schedule-template-edit-dlg" oncomplete="PF('scheduleTemplateEditDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":schedule-template-delete-dlg" oncomplete="PF('scheduleTemplateDeleteDlg').show()" />
            </p:contextMenu>
        </h:form>

    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton icon="fa fa-chevron-left" immediate="true"
                         actionListener="#{workSchedulePage.get('workSchedule').onPrevWeek}"
                         update=":dt-frm:dt-tbl :messages" />
        <p:commandButton icon="fa fa-chevron-right" immediate="true"
                         actionListener="#{workSchedulePage.get('workSchedule').onNextWeek}"
                         update=":dt-frm:dt-tbl :messages" /> 
    </ui:define>

    <ui:define name="editor-options">

    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">
            <p:schedule id="dt-tbl" value="#{workSchedulePage.get('workSchedule').model}" binding="#{workSchedulePage.get('workSchedule').schedule}"
                        locale="#{userSession.lang}" showHeader="true" rightHeaderTemplate="" leftHeaderTemplate=""
                        view="basicWeek" aspectRatio="10" clientTimeZone="local" timeFormat="MM/D HH:mm"  >
                <p:ajax event="eventSelect" listener="#{workSchedulePage.get('workSchedule').onEventSelect}" />
                <p:ajax event="dateSelect" listener="#{workSchedulePage.get('workSchedule').onDateSelect}" />
                <p:ajax event="viewChange" listener="#{workSchedulePage.get('workSchedule').onViewChange}"
                        update=":schedule-template-day-create-dlg :schedule-template-day-create-frm" oncomplete="PF('scheduleTemplateDayCreateDlg').show()"  />
            </p:schedule>
        </h:form>
    </ui:define>

    <ui:define name="properties-tool">

    </ui:define>

    <ui:define name="properties">
        <h:form id="prop-frm">
            <p:panelGrid style="width: 100%">
                <f:facet name="header">
                    <p:row>
                        <p:column>
                            Attribute
                        </p:column>
                        <p:column>
                            Value
                        </p:column>
                    </p:row>
                </f:facet>
                <p:row>
                    <p:column>
                        <p:outputLabel for="workhour" value="Workhour" />
                    </p:column>
                    <p:column>
                        <p:inputNumber id="workhour" size="10" decimalPlaces="0" value="#{workSchedulePage.get('scheduleTemplateTable').selection.workhour}" >
                            <p:ajax event="change" listener="#{workSchedulePage.get('scheduleTemplateTable').onWorkhourChange}" />
                        </p:inputNumber>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel for="date-period" value="Date Period" />
                    </p:column>
                    <p:column>
                        <p:inputNumber id="date-period" size="10" decimalPlaces="0" value="#{workSchedulePage.get('scheduleTemplateTable').selection.datePeriod}" >
                            <p:ajax event="change" listener="#{workSchedulePage.get('scheduleTemplateTable').onDatePeriodChange}" />
                        </p:inputNumber>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel for="time-period" value="Time Period" />
                    </p:column>
                    <p:column>
                        <p:inputNumber id="time-period" size="10" decimalPlaces="0" value="#{workSchedulePage.get('scheduleTemplateTable').selection.timePeriod}" >
                            <p:ajax event="change" listener="#{workSchedulePage.get('scheduleTemplateTable').onTimePeriodChange}" />
                        </p:inputNumber>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="generate-schedule-dlg" widgetVar="generateScheduleDlg" modal="true" resizable="false" header="Generate Schedule Dialog">
            <h:form id="generate-schedule-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="length" value="Length" /> 
                    <p:inputNumber id="length" value="#{workSchedulePage.get('scheduleTemplateTable').generationLen}" />

                    <f:facet name="footer">
                        <p:commandButton value="Generate" actionListener="#{workSchedulePage.get('scheduleTemplateTable').generateSchedule}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('generateScheduleDlg').hide()" icon="fa fa-magic" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-exception-create-dlg" widgetVar="scheduleTemplateDayExceptionCreateDlg"
                  modal="true" resizable="false" header="Create Schedule Exception Dialog" >
            <h:form id="schedule-template-day-exception-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{workSchedulePage.get('workSchedule').exception.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true">

                    </p:calendar>

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workSchedulePage.get('workSchedule').exception.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" >

                    </p:calendar>

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{workSchedulePage.get('workSchedule').addException}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionCreateDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-create-dlg" widgetVar="scheduleTemplateDayCreateDlg" modal="true" resizable="false" header="Create Schedule Dialog" >
            <h:form id="schedule-template-day-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{workSchedulePage.get('workSchedule').selection.event.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true">

                    </p:calendar>

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workSchedulePage.get('workSchedule').selection.event.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" >

                    </p:calendar>

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{workSchedulePage.get('workSchedule').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateDayCreateDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-edit-dlg" widgetVar="scheduleTemplateDayEditDlg" modal="true"
                  resizable="false" header="Edit Schedule Dialog" >
            <h:form id="schedule-template-day-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{workSchedulePage.get('workSchedule').selection.data.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true">
                    </p:calendar>

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workSchedulePage.get('workSchedule').selection.data.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" >
                    </p:calendar>

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{workSchedulePage.get('workSchedule').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateDayEditDlg').hide()" icon="ui-icon-refresh" />
                        <p:commandButton value="Delete" actionListener="#{workSchedulePage.get('workSchedule').delete}" style="float:right"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateDayEditDlg').hide()" icon="ui-icon-trash" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-exception-edit-dlg" widgetVar="scheduleTemplateDayExceptionEditDlg" modal="true"
                  resizable="false" header="Edit Schedule Exception Dialog" >
            <h:form id="schedule-template-day-exception-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{workSchedulePage.get('workSchedule').exception.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true">
                    </p:calendar>

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{workSchedulePage.get('workSchedule').exception.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" >
                    </p:calendar>

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{workSchedulePage.get('workSchedule').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionEditDlg').hide()" icon="ui-icon-refresh" />
                        <p:commandButton value="Delete" actionListener="#{workSchedulePage.get('workSchedule').deleteException}" style="float:right"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionEditDlg').hide()" icon="ui-icon-trash" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-create-dlg" widgetVar="scheduleTemplateCreateDlg" modal="true" resizable="false"
                  header="Schedule Template Create Dialog" >
            <h:form id="schedule-template-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{workSchedulePage.get('scheduleTemplateTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{workSchedulePage.get('scheduleTemplateTable').create}"
                                         update=":schedule-template-frm:schedule-template-tbl :dt-frm:dt-tbl :messages" oncomplete="PF('scheduleTemplateCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-edit-dlg" widgetVar="scheduleTemplateEditDlg" modal="true" resizable="false"
                  header="Schedule Template Edit Dialog" >
            <h:form id="schedule-template-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{workSchedulePage.get('scheduleTemplateTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{workSchedulePage.get('scheduleTemplateTable').update}"
                                         update=":schedule-template-frm:schedule-template-tbl :messages" oncomplete="PF('scheduleTemplateEditDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="schedule-template-delete-dlg" widgetVar="scheduleTemplateDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{workSchedulePage.get('scheduleTemplateTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{workSchedulePage.get('scheduleTemplateTable').delete}"
                                 oncomplete="PF('scheduleTemplateDeleteDlg').hide()" update=":schedule-template-frm:schedule-template-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('scheduleTemplateTable').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
