<ui:composition template="./../../WEB-INF/templates/editor.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="initializer">
        #{beanPage.initLayout}
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true"  
                         disabled="#{beanPage.get('viewComponent').createContextEmpty}"
                         actionListener="#{beanPage.get('viewComponent').prepareTransient}"
                         oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{beanPage.get('viewComponent').updateContextEmpty}"
                         update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{beanPage.get('viewComponent').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" /> 
    </ui:define>

    <ui:define name="editor-content">

        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{beanPage.get('viewComponent').model}" var="item" rowKey="#{item}" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{beanPage.get('viewComponent').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Name" />
                        <p:column headerText="Remarks" />
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.remarks}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{beanPage.get('viewComponent').prepareTransient}"
                            oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>
        
    </ui:define>

    <ui:define name="components">
        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{beanPage.get('viewComponent').selection.name}" id="name" label="Name" />            

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{beanPage.get('viewComponent').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{beanPage.get('viewComponent').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{beanPage.get('viewComponent').selection.name}" id="name" label="Name" />            

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{beanPage.get('viewComponent').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{beanPage.get('viewComponent').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{beanPage.get('viewComponent').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{beanPage.get('viewComponent').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

    <ui:define name="statusbar">
    </ui:define>

</ui:composition>
