<ui:composition template="/WEB-INF/templates/main.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <h:form id="dt-frm" prependId="false">
            <p:schedule id="dt-tbl" value="#{Page.get('Schedule').model}" widgetVar="schedule" 
                        centerHeaderTemplate="title" rightHeaderTemplate=""  >
                <p:ajax event="dateSelect" listener="#{Page.get('Schedule').onDateSelect}"
                        update=":marking-dlg" oncomplete="markingDlg.show()" />
                <p:ajax event="eventSelect" listener="#{Page.get('Schedule').onEventSelect}"
                        update=":edit-frm" oncomplete="editDlg.show()" />                
                <p:ajax event="eventMove" listener="#{Page.get('Schedule').onEventMove}"
                        update=":messages" />
                <p:ajax event="eventResize" listener="#{Page.get('Schedule').onEventResize}"
                        update=":messages"/>
            </p:schedule>
        </h:form>
    </ui:define>

    <ui:define name="components">
        
        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{Page.get('Schedule').selection.event.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{Page.get('Schedule').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="createDlg.hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{Page.get('Schedule').selection.event.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{Page.get('Schedule').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="editDlg.hide()" icon="ui-icon-refresh" />
                        <p:commandButton value="Delete" update=":delete-dlg :messages" icon="ui-icon-trash"
                                         oncomplete="PF('editDlg').hide();PF('deleteDlg').show()" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        <p:confirmDialog id="marking-dlg" widgetVar="markingDlg" closable="false" header="Confirmation"
                         message="Are you sure about marking #{Page.get('Schedule').selectedDate} as a special day ?">
            <h:form>        
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{Page.get('Schedule').create}"
                                 oncomplete="markingDlg.hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="markingDlg.hide()" />
            </h:form>
        </p:confirmDialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{Page.get('Schedule').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{Page.get('Schedule').delete}"
                                 oncomplete="deleteDlg.hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="deleteDlg.hide()" />
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
