<ui:composition template="/WEB-INF/templates/main.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="tool">
        <h:form id="tool-content">
            <p:toolbar>
                <f:facet name="right">
                    <ui:include src="/WEB-INF/common/breadcrumb.xhtml"  />
                </f:facet>
                <f:facet name="left">
                    <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                     actionListener="#{Page.get('Tree').prepareTransient}"
                                     update=":create-dlg :tool-content :dt-frm:ctx-menu" oncomplete="PF('createDlg').show()" />
                    <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                                     disabled="#{Page.get('Tree').updateContextEmpty}"
                                     actionListener="#{Page.get('Tree').clearCutNode}"
                                     update=":edit-dlg :tool-content :dt-frm:ctx-menu" oncomplete="PF('editDlg').show()" />
                    <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                     disabled="#{Page.get('Tree').deleteContextEmpty}"
                                     actionListener="#{Page.get('Tree').clearCutNode}"
                                     update=":delete-dlg :tool-content :dt-frm:ctx-menu" oncomplete="PF('deleteDlg').show()" />
                    <p:commandButton title="Cut" icon="ui-icon-scissors" immediate="true"
                                     disabled="#{Page.get('Tree').deleteContextEmpty}"
                                     actionListener="#{Page.get('Tree').cutAction}"
                                     update=":dt-frm:ctx-menu :tool-content" />
                    <p:commandButton title="Paste" icon="ui-icon-clipboard" immediate="true"
                                     disabled="#{Page.get('Tree').pasteContextEmpty}"
                                     actionListener="#{Page.get('Tree').pasteAction}"
                                     update=":dt-frm :dt-frm:ctx-menu :tool-content" />
                </f:facet>
            </p:toolbar>
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="dt-frm">
            <p:treeTable id="dt-tbl" value="#{Page.get('Tree').model.wrappedData}" var="item" selectionMode="single"
                         selection="#{Page.get('Tree').nodeSelection}" >              

                <p:ajax  event="select" listener="#{Page.get('Tree').handleNodeSelected}"
                         update=":tool-content"  />
                <p:ajax event="unselect" listener="#{Page.get('Tree').handleNodeUnselected}"
                        update=":tool-content" />

                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column headerText="Description">
                    <h:outputText value="#{item.description}"  />
                </p:column>

            </p:treeTable>

            <p:contextMenu id="ctx-menu" for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{Page.get('Tree').prepareTransient}"
                            update=":create-dlg :tool-content :dt-frm:ctx-menu" oncomplete="PF('createDlg').show()" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            actionListener="#{Page.get('Tree').clearCutNode}"
                            update=":edit-dlg :tool-content :dt-frm:ctx-menu" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            actionListener="#{Page.get('Tree').clearCutNode}"
                            update=":delete-dlg :tool-content :dt-frm:ctx-menu" oncomplete="PF('deleteDlg').show()" />
                <p:menuitem value="Cut" icon="ui-icon-scissors" immediate="true"
                            update=":dt-frm:ctx-menu :tool-content"
                            actionListener="#{Page.get('Tree').cutAction}" />
                <p:menuitem value="Paste" icon="ui-icon-clipboard" immediate="true"
                            disabled="#{Page.get('Tree').pasteContextEmpty}"
                            update=":dt-frm :dt-frm:ctx-menu :tool-content"
                            actionListener="#{Page.get('Tree').pasteAction}" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{Page.get('Tree').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{Page.get('Tree').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{Page.get('Tree').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{Page.get('Tree').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{Page.get('Tree').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{Page.get('Tree').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{Page.get('Tree').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" actionListener="#{Page.get('Tree').delete}"
                                 update=":dt-frm:dt-tbl :tool-content :messages" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-check" />
                <p:commandButton value="Not Yet" onclick="PF('deleteDlg').hide()" icon="ui-icon-closethick" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>

    <ui:define name="explorer">
        <ui:include src="/WEB-INF/common/explorer.xhtml"  />
    </ui:define>

</ui:composition>
