/*
Copyright 2016 mbahbejo.
All rights reserved

A lot of time, effort and money is spent designing and implementing the software.
All system design, text, graphics, the selection and arrangement thereof, and
all software compilations, underlying source code, software and all other material
on this software are copyright mbahbejo and any affiliates.

In simple terms, every element of this software is protected by copyright.
Unless you have our express written permission, you are not allowed
to copy partially and or completely, modify partially and or completely,
use partially and or completely and or reproduce any part of this  software
in any way, shape and or form.

Taking material from other source code and or document mbahbejo and affiliates has designed is
also prohibited. You can be prosecuted by the licensee as well as by us as licensor.

Any other use of materials of this software, including reproduction for purposes other
than that noted in the business agreement, modification, distribution, or republication,
without the prior written permission of mbahbejo is strictly prohibited.

The source code, partially and or completely, shall not be presented and or shown
and or performed to public and or other parties without the prior written permission
of mbahbejo

*/
/* 
    Created on : Feb 23, 2016, 10:30:41 AM
    Author     : mbahbejo
*/

.fc-title, #schedule-template-frm .fc .fc-title  {
    float:right;
    font-weight: bold;
}
#schedule-template-frm .fc table {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    font-size: 1em !important;
}
#schedule-template-frm  .fc thead th, #schedule-template-frm .fc td {
    padding: 0 !important;
    overflow: hidden !important;
    border-width: 1px !important;
    border-style: solid !important;
}
#schedule-template-frm  .fc td {border-color: #d9d6c4;}
.exception {background-color: green;}
.position-exception{background-color: brown;}
.schedule-active{background-color: green;}
.schedule-inactive{background-color: grey;}
#alias-create-frm #type.ui-selectonemenu{min-width: 150px!important;}