<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{displayPage.initLayout}
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{displayPage.get('displayerTable').updateContextEmpty}"
                         update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{displayPage.get('displayerTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" /> 
    </ui:define>

    <ui:define name="editor-content">

        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{displayPage.get('displayerTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{displayPage.get('displayerTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages :editor-tool-frm" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":messages :editor-tool-frm" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":messages :editor-tool-frm" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="ID" />
                        <p:column headerText="Name" />
                        <p:column headerText="Address" />
                        <p:column headerText="Ready" />
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <h:outputText value="#{item.id}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.hostname}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.address}" />
                </p:column>

                <p:column>
                    <p:selectBooleanCheckbox value="#{item.ready}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:submenu label="Line Counter">
                    <p:menuitem value="Show" action="#{displayPage.get('displayerTable').changeTo('LineCounter')}" immediate="true" />
                    <p:menuitem value="Set As Default" action="#{displayPage.get('displayerTable').setAsDefault('LineCounter')}" immediate="true" />
                    <p:menuitem value="Configure" icon="ui-icon-gear" immediate="true"
                                update="line-counter-display-dlg" oncomplete="PF('lineCounterDisplayDlg').show()"/>
                </p:submenu>
                <p:submenu label="Helpdesk">
                    <p:menuitem value="Show" action="#{displayPage.get('displayerTable').changeTo('HelpDesk')}" immediate="true" />
                    <p:menuitem value="Set As Default" action="#{displayPage.get('displayerTable').setAsDefault('HelpDesk')}" immediate="true" />
                    <p:menuitem value="Configure" icon="ui-icon-gear" immediate="true"/>
                </p:submenu>
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>

    </ui:define>

    <ui:define name="components">

        <p:overlayPanel widgetVar="searchWorkUnit" dynamic="true" dismissable="true" appendToBody="true" >
            <h:form>
                <p:dataTable id="search-workunit-tbl" value="#{displayPage.get('workUnitSelector').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" style="width:250px" emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="5" paginatorPosition="top" paginatorTemplate="{PreviousPageLink}  {NextPageLink}">

                    <p:ajax event="rowSelect" process="search-workunit-tbl" listener="#{displayPage.get('workUnitSelector').onWorkUnitSelect}"
                            update=":line-counter-display-frm:line-counter-display-tbl" oncomplete="PF('searchWorkUnit').hide()" />

                    <p:column headerText="Host">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:overlayPanel>

        <p:dialog id="line-counter-display-dlg" widgetVar="lineCounterDisplayDlg" header="Work Unit" resizable="false" width="50%" >
            <h:form id="line-counter-display-frm">
                <p:dataTable id="line-counter-display-tbl" value="#{displayPage.get('workUnitDisplayerTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{displayPage.get('workUnitDisplayerTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="line-counter-display-tbl" update=":line-counter-display-frm:line-counter-display-tbl :messages" />
                    <p:ajax event="rowSelect" process="line-counter-display-tbl" update=":line-counter-display-frm:line-counter-display-tbl :messages" />
                    <p:ajax event="rowUnselect" process="line-counter-display-tbl" update=":line-counter-display-frm:line-counter-display-tbl :messages" />

                    <f:facet name="header">
                        <p:commandButton title="Add" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{displayPage.get('workUnitDisplayerTable').prepareTransient}"
                                         oncomplete="PF('searchWorkUnit').show('#{component.clientId}')"
                                         update=":line-counter-display-frm:line-counter-display-tbl" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{displayPage.get('workUnitDisplayerTable').deleteContextEmpty}"
                                         update=":line-counter-display-delete-dlg" oncomplete="PF('lineCounterDisplayDeleteDlg').show()" />
                    </f:facet>


                    <p:column headerText="Name">
                        <h:outputText value="#{item.workUnit.name}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="line-counter-display-delete-dlg" widgetVar="lineCounterDisplayDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{displayPage.get('workUnitDisplayerTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{displayPage.get('workUnitDisplayerTable').delete}"
                                 oncomplete="PF('lineCounterDisplayDeleteDlg').hide()" update=":line-counter-display-frm:line-counter-display-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('lineCounterDisplayDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
        
        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">         

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{displayPage.get('displayerTable').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{displayPage.get('displayerTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{displayPage.get('displayerTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{displayPage.get('displayerTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

    <ui:define name="statusbar">
    </ui:define>

</ui:composition>
