<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        #{counterGroupPage.initLayout}
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{counterGroupPage.get('counterGroupTable').updateContextEmpty}"
                         update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{counterGroupPage.get('counterGroupTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" /> 
    </ui:define>

    <ui:define name="editor-content">

        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{counterGroupPage.get('counterGroupTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{counterGroupPage.get('counterGroupTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages :editor-tool-frm" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":messages :editor-tool-frm" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":messages :editor-tool-frm" />

                <p:column headerText="ID">
                    <h:outputText value="#{item.id}" />
                </p:column>

                <p:column headerText="Host">
                    <h:outputText value="#{item.hostname}" />
                </p:column>

                <p:column headerText="Address">
                    <h:outputText value="#{item.address}" />
                </p:column>

                <p:column headerText="Ready ?">
                    <p:selectBooleanCheckbox value="#{item.ready}" />
                </p:column>

                <p:column headerText="Remarks">
                    <h:outputText value="#{item.remarks}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>

    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">         

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{counterGroupPage.get('counterGroupTable').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{counterGroupPage.get('counterGroupTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{counterGroupPage.get('counterGroupTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{counterGroupPage.get('counterGroupTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

    <ui:define name="statusbar">
    </ui:define>

</ui:composition>
