<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:dataTable value="#{selectionCache.entries}" var="entry" >
                <p:column headerText="Key">
                    <h:outputText value="#{entry.key}" />
                </p:column>
                <p:column headerText="Value">                    
                    <h:outputText value="#{entry.value}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

