<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Forbidden</title>
        <h:outputStylesheet library="base" name="css/typography.css" />
    </h:head>
    <h:body>
        <p:dialog id="forbidden-dlg" closable="false" modal="true" visible="true" resizable="false" header="Warning">
            <h:form>
                <h:outputText value="Access denied !" />
            </h:form>
        </p:dialog>
    </h:body>
</html>

