<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/page.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <ui:define name="initializer"> 
        #{homePage.initLayout}
    </ui:define>    

    <ui:define name="editor-content">
    </ui:define>

</ui:composition>
