<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Login Error</title>
        <h:outputStylesheet library="base" name="css/typography.css" />
    </h:head>
    <h:body>
        <p:dialog id="login-dlg" closable="false" modal="false" draggable="false" visible="true" resizable="false" header="Login">
            <form method="POST" action="j_security_check">
                <p:panelGrid>

                    <p:row>
                        <p:column colspan="2">
                            <h:outputText styleClass="error-msg" value="Wrong username and/or password !" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="Username" />
                        </p:column>
                        <p:column>
                            <input class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" type="text" name="j_username" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputText value="Password" />
                        </p:column>
                        <p:column>
                            <input class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" type="password" name="j_password" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" >
                                    <span class="ui-button-text">Submit</span>
                                </button>
                            </p:column>
                        </p:row>
                    </f:facet> 
                </p:panelGrid>
            </form>
        </p:dialog>
    </h:body>
</html>

