<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:mf="http://mukafaces.com/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        #{asessementPage.initLayout}
    </ui:define>

    <ui:define name="editor-tool">
    </ui:define>


    <ui:define name="editor-content">
        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{asessementPage.get('asessementTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{asessementPage.get('asessementTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":editor-tool-frm :messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":editor-tool-frm :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":editor-tool-frm :messages" />

                <p:column headerText="NIK" filterBy="#{item.employee.nik}" filterMatchMode="exact" style="text-align: center;">
                    <h:outputText value="#{item.employee.nik}" />
                </p:column>

                <p:column headerText="Name" filterBy="#{item.employee.person.name}" filterMatchMode="contains">
                    <h:outputText value="#{item.employee.person.name}" />
                </p:column>

                <p:column headerText="Position" filterBy="#{item.position.name}" filterMatchMode="exact" style="text-align: center;">
                    <h:outputText value="#{item.position.name}" />
                </p:column>

                <p:column headerText="Work Unit" filterBy="#{item.position.workUnits}" filterMatchMode="exact"
                          filterOptions="#{employeePage.get('workUnitList').typeList}" >
                    <h:outputText value="#{item.position.workUnits}" />
                </p:column>
                
                <p:column headerText="Asessement">
                    
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
            </p:contextMenu>

        </h:form>

    </ui:define>

    <ui:define name="components">

    </ui:define>

    <ui:define name="explorer">

        <h:form id="org-frm">
            <p:tree id="org-tbl" value="#{employeePage.get('internalOrganizationTree').model.wrappedData}" var="item" style="width: 99.5%"
                    selectionMode="single" selection="#{employeePage.get('internalOrganizationTree').nodeSelection}" >

                <p:ajax event="select" listener="#{employeePage.get('internalOrganizationTree').handleNodeSelected}"
                        update=":dt-frm:dt-tbl :editor-tool-frm" />

                <p:treeNode type="folder">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

                <p:treeNode type="document">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

            </p:tree>
        </h:form>

    </ui:define>



</ui:composition>

