<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:mf="http://mukafaces.com/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.std.hr.strings" var="msgs" />
        <h:outputStylesheet library="std" name="hr/css/widget.css" />
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="#{msgs['createDialogTitle']}" icon="ui-icon-plusthick" immediate="true"
                         actionListener="#{current.page.get('employeeTable').prepareTransient}"
                         action="#{current.spawn('EmployeeDetailPage')}" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{current.page.get('employeeTable').updateContextEmpty}"
                         action="#{current.spawn('EmployeeDetailPage')}"  />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{current.page.get('employeeTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />                    
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span>
        <p:commandButton title="Prepare ID Card" icon="ui-icon-script" immediate="true"
                         actionListener="#{current.page.get('bucket').open}"
                         update=":id-card-dlg" oncomplete="PF('idCardDlg').show()" />
    </ui:define>

    <ui:define name="editor-options">
        <p:menuitem value="Agreement Types" icon="fa fa-list" immediate="true"
                    update=":agreement-type-dlg" oncomplete="PF('agreementTypeDlg').show()" />
        <p:menuitem value="Identity Types" icon="fa fa-list" immediate="true"
                    update=":id-type-dlg" oncomplete="PF('idTypeDlg').show()" />
        <p:menuitem value="Contact Types" icon="fa fa-list" immediate="true"
                    update=":contact-mechanism-type-dlg" oncomplete="PF('contactMechanismTypeDlg').show()" />
        <p:menuitem value="Alias Types" icon="fa fa-list" immediate="true"
                    update=":alias-types-dlg" oncomplete="PF('aliasTypesDlg').show()" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{current.page.get('employeeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{current.page.get('employeeTable').selections}" sortBy="#{1}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":editor-tool-frm :messages" />
                <p:ajax event="rowSelect" process="dt-tbl" listener="#{current.page.get('employeeTable').onPositionFulfillmentSelected}" update=":id-card-frm:id-card-tbl :editor-tool-frm :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":editor-tool-frm :messages" />

                <p:column headerText="NIK" filterBy="#{item.employee.nik}" filterMatchMode="exact" style="text-align: center;">
                    <h:outputText value="#{item.employee.nik}" />
                </p:column>

                <p:column headerText="Photo" style="text-align: center!important">
                    <mf:blobData data="#{item.employee.person.photo}" />                            
                </p:column>

                <p:column headerText="Name" filterBy="#{item.employee.person.name}" filterMatchMode="contains">
                    <h:outputText value="#{item.employee.person.name}" />
                </p:column>

                <p:column headerText="Gender" filterBy="#{item.employee.person.gender}" filterMatchMode="exact"
                          filterOptions="#{current.page.get('genderList').typeList}" style="text-align: center;">
                    <h:outputText value="#{item.employee.person.gender}" />
                </p:column>

                <p:column headerText="Age" style="text-align: center; width: 30px">
                    <h:outputText value="#{item.employee.person.age}" />
                </p:column>

                <p:column headerText="Position" filterBy="#{item.position.name}" filterMatchMode="exact" style="text-align: center;">
                    <h:outputText value="#{item.position.name}" />
                </p:column>

                <p:column headerText="Work Unit" filterBy="#{item.position.workUnits}" filterMatchMode="exact"
                          filterOptions="#{current.page.get('workUnitList').typeList}" >
                    <h:outputText value="#{item.position.workUnits}" />
                </p:column>

                <p:column headerText="Agreement" filterBy="#{item.employment.agreementType}" filterMatchMode="exact"
                          filterOptions="#{current.page.get('agreementTypeList').typeList}" style="text-align: center;">
                    <h:outputText value="#{item.employment.agreementType}" />
                </p:column>

                <p:column headerText="Status" filterBy="#{item.employee.status}" filterMatchMode="exact"
                          filterOptions="#{current.page.get('employeeStatusList').typeList}" style="text-align: center;">
                    <h:outputText value="#{item.employee.status}" />
                </p:column>

                <p:summaryRow>
                    <p:column colspan="8" style="text-align: right; font-weight: bold">
                        <h:outputText value="Total" />
                    </p:column>
                    <p:column style="text-align: center">
                        <h:outputText value="#{current.page.get('employeeTable').model.rowCount}" />
                    </p:column>
                </p:summaryRow>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Change Position" icon="fa fa-exchange" immediate="true"
                            actionListener="#{current.page.get('employeeTable').prepareNewPosition}"
                            update=":change-position-dlg :messages" />                
                <p:menuitem value="Termination" icon="fa fa-sign-out" immediate="true"
                            actionListener="#{current.page.get('employeeTable').prepareNewPosition}"
                            update=":change-position-dlg :messages" />
                <p:menuitem value="Work Schedule" icon="fa fa-calendar" immediate="true"
                            update=":work-schedule-dlg" oncomplete="PF('workScheduleDlg').show()" />
                <p:menuitem value="Aliases" icon="fa fa-users" immediate="true"
                            update=":aliases-dlg :aliases-frm:aliases-tbl" oncomplete="PF('aliasesDlg').show()" />
                <p:separator />
                <p:menuitem value="Position History" icon="fa fa-history" immediate="true"
                            update=":position-history-dlg :messages" oncomplete="PF('positionHistoryDlg').show()" />
                <p:menuitem value="Agreement History" icon="fa fa-history" immediate="true"
                            update=":agreement-history-dlg :messages" oncomplete="PF('agreementHistoryDlg').show()" />
                <p:separator />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            actionListener="#{current.page.get('employeeTable').prepareEdit}"
                            update=":messages" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
            </p:contextMenu>

        </h:form>

    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="alias-types-dlg" widgetVar="aliasTypesDlg" modal="true" resizable="false"
                  header="Alias Types" fitViewport="true" position="center,top" width="30%" >
            <h:form id="alias-types-frm">
                <p:dataTable id="alias-types-tbl" value="#{current.page.get('aliasTypesTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('aliasTypesTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="alias-types-tbl" update=":alias-types-frm:alias-types-tbl :messages" />
                    <p:ajax event="rowSelect" process="alias-types-tbl" update=":alias-types-frm:alias-types-tbl :messages" />
                    <p:ajax event="rowUnselect" process="alias-types-tbl" update=":alias-types-frm:alias-types-tbl :messages" />                    

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{current.page.get('aliasTypesTable').prepareTransient}"
                                         update=":alias-type-create-dlg" oncomplete="PF('aliasTypeCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{current.page.get('aliasTypesTable').updateContextEmpty}"
                                         update=":alias-type-edit-dlg" oncomplete="PF('aliasTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{current.page.get('aliasTypesTable').deleteContextEmpty}"
                                         update=":alias-type-delete-dlg" oncomplete="PF('aliasTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="ID" style="text-align: center" >
                        <h:outputText value="#{item.id}" />
                    </p:column>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Remarks">
                        <h:outputText value="#{item.remarks}"  />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="alias-types-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{current.page.get('aliasTypesTable').prepareTransient}"
                                oncomplete="PF('aliasTypeCreateDlg').show()" update=":alias-type-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":alias-type-edit-dlg" oncomplete="PF('aliasTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":alias-type-delete-dlg" oncomplete="PF('aliasTypeDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>     
        </p:dialog>

        <p:dialog dynamic="true" id="aliases-dlg" widgetVar="aliasesDlg" modal="true" resizable="false"
                  header="Aliases" fitViewport="true" position="center,top" width="30%" >
            <h:form id="aliases-frm">
                <p:dataTable id="aliases-tbl" value="#{current.page.get('employeeCodeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('employeeCodeTable').selections}" sortBy="#{1}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="aliases-tbl" update=":aliases-frm:aliases-tbl :messages" />
                    <p:ajax event="rowSelect" process="aliases-tbl" update=":aliases-frm:aliases-tbl :messages" />
                    <p:ajax event="rowUnselect" process="aliases-tbl" update=":aliases-frm:aliases-tbl :messages" />                    

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{current.page.get('employeeCodeTable').prepareTransient}"
                                         update=":alias-create-dlg" oncomplete="PF('aliasCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{current.page.get('employeeCodeTable').updateContextEmpty}"
                                         update=":alias-edit-dlg" oncomplete="PF('aliasEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{current.page.get('employeeCodeTable').deleteContextEmpty}"
                                         update=":alias-delete-dlg" oncomplete="PF('aliasDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Code" width="30%">
                        <h:outputText value="#{item.code}" />
                    </p:column>

                    <p:column headerText="Type">
                        <h:outputText value="#{item.codeType}" />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="aliases-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{current.page.get('employeeCodeTable').prepareTransient}"
                                oncomplete="PF('aliasCreateDlg').show()" update=":alias-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":alias-edit-dlg" oncomplete="PF('aliasEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":alias-delete-dlg" oncomplete="PF('aliasDeleteDlg').show()" />
                </p:contextMenu>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="alias-create-dlg" widgetVar="aliasCreateDlg"
                  modal="true" resizable="false" header="Create Alias Dialog" >
            <h:form id="alias-create-frm" prependId="false" >
                <p:panelGrid >

                    <p:row>
                        <p:column>
                            <p:outputLabel for="code" value="Code" />
                        </p:column>
                        <p:column>
                            <p:inputNumber value="#{current.page.get('employeeCodeTable').selection.code}" id="code" label="Code"
                                           decimalPlaces="0" decimalSeparator="" thousandSeparator="" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="type" value="Type" style="font-weight: bold" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="type" value="#{current.page.get('employeeCodeTable').selection.codeType}" 
                                             converter="#{current.page.get('employeeCodeTypeList')}" var="t" >
                                <f:selectItem itemLabel="Select Type" itemValue="" />
                                <f:selectItems value="#{current.page.get('employeeCodeTypeList').data}" var="type" 
                                               itemValue="#{type}" itemLabel="#{type}"  />
                                <p:column>
                                    <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                    <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                   onclick="PF('aliasTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                </p:column>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2" >
                                <p:commandButton value="Create" actionListener="#{current.page.get('employeeCodeTable').create}"
                                                 update=":aliases-frm:aliases-tbl :messages" oncomplete="PF('aliasCreateDlg').hide()" icon="ui-icon-refresh" />
                            </p:column>
                        </p:row>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="alias-edit-dlg" widgetVar="aliasEditDlg"
                  modal="true" resizable="false" header="Edit Alias Dialog" >
            <h:form id="alias-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="code" value="Code" />
                    <p:inputNumber value="#{current.page.get('employeeCodeTable').selection.code}" id="code" label="Code" />

                    <p:outputLabel for="type" value="Type" style="font-weight: bold" />
                    <p:selectOneMenu id="type" value="#{current.page.get('employeeCodeTable').selection.codeType}" 
                                     converter="#{current.page.get('employeeCodeTypeList')}" var="t">
                        <f:selectItem itemLabel="Select Type" itemValue="" />
                        <f:selectItems value="#{current.page.get('employeeCodeTypeList').data}" var="type" 
                                       itemValue="#{type}" itemLabel="#{type}" />
                        <p:column>
                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                           onclick="PF('employeeCodeTypeDlg').show()" style="font-style: italic; font-weight: bold" />
                        </p:column>
                    </p:selectOneMenu>

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{current.page.get('employeeCodeTable').update}"
                                         update=":aliases-frm:aliases-tbl  :messages" oncomplete="PF('aliasEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="alias-delete-dlg" widgetVar="aliasDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{current.page.get('employeeCodeTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{current.page.get('employeeCodeTable').delete}"
                                 oncomplete="PF('aliasDeleteDlg').hide()" update=":aliases-frm:aliases-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('aliasDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="alias-type-create-dlg" widgetVar="aliasTypeCreateDlg"
                  modal="true" resizable="false" header="Create Alias Type Dialog" >
            <h:form id="alias-type-create-frm" prependId="false" >
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('employeeCodeTypeList').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{current.page.get('employeeCodeTypeList').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{current.page.get('employeeCodeTypeList').create}" icon="ui-icon-refresh"
                                         update=":alias-create-frm:type :alias-types-frm:alias-types-tbl :messages" oncomplete="PF('aliasTypeCreateDlg').hide()" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="alias-type-edit-dlg" widgetVar="aliasTypeEditDlg"
                  modal="true" resizable="false" header="Edit Alias Type Dialog" >
            <h:form id="alias-type-edit-frm" prependId="false" >
                
            </h:form>
        </p:dialog>

        <p:confirmDialog id="alias-type-delete-dlg" widgetVar="aliasTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{current.page.get('aliasTypesTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{current.page.get('aliasTypesTable').delete}"
                                 oncomplete="PF('aliasTypeDeleteDlg').hide()" update=":alias-types-frm:alias-types-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('aliasTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="work-schedule-dlg" widgetVar="workScheduleDlg" modal="true" resizable="false"
                  header="Work Schedule" fitViewport="true" position="center,top" >
            <h:form id="work-schedule-frm">
                <p:commandButton icon="fa fa-chevron-left" immediate="true"
                                 actionListener="#{current.page.get('workSchedule').onPrevWeek}"
                                 update="work-schedule-tbl :messages" />
                <p:commandButton icon="fa fa-chevron-right" immediate="true"
                                 actionListener="#{current.page.get('workSchedule').onNextWeek}"
                                 update="work-schedule-tbl :messages" /> 
                <p:schedule id="work-schedule-tbl" value="#{current.page.get('workSchedule').model}"
                            binding="#{current.page.get('workSchedule').schedule}"
                            locale="#{userSession.lang}" showHeader="true" rightHeaderTemplate="" leftHeaderTemplate=""
                            view="basicWeek" aspectRatio="5" clientTimeZone="local" timeFormat="MM/D HH:mm" >
                    <p:ajax event="eventSelect" listener="#{current.page.get('workSchedule').onEventSelect}" />
                    <p:ajax event="dateSelect" listener="#{current.page.get('workSchedule').onDateSelect}" />
                    <p:ajax event="viewChange" listener="#{current.page.get('workSchedule').onViewChange}"
                            update=":messages" />
                </p:schedule>
            </h:form>                      
        </p:dialog>  

        <p:dialog dynamic="true" id="schedule-template-day-exception-create-dlg" widgetVar="scheduleTemplateDayExceptionCreateDlg"
                  modal="true" resizable="false" header="Create Schedule Exception Dialog" >
            <h:form id="schedule-template-day-exception-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{current.page.get('workSchedule').exception.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{current.page.get('workSchedule').exception.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{current.page.get('workSchedule').addException}"
                                         update=":work-schedule-frm:work-schedule-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionCreateDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-exception-edit-dlg" widgetVar="scheduleTemplateDayExceptionEditDlg" modal="true"
                  resizable="false" header="Edit Schedule Exception Dialog" >
            <h:form id="schedule-template-day-exception-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{current.page.get('workSchedule').exception.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{current.page.get('workSchedule').exception.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{current.page.get('workSchedule').update}"
                                         update=":work-schedule-frm:work-schedule-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionEditDlg').hide()" icon="ui-icon-refresh" />
                        <p:commandButton value="Delete" actionListener="#{current.page.get('workSchedule').deleteException}" style="float:right"
                                         update=":work-schedule-frm:work-schedule-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionEditDlg').hide()" icon="ui-icon-trash" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>      

        <p:dialog dynamic="true" id="id-card-color-scheme-dlg" widgetVar="idCardColorSchemeDlg" modal="true" resizable="false"
                  header="ID Card Color Scheme Chooser" fitViewport="true"  >
            <h:form id="id-card-color-scheme-frm" target="popup">
                <p:panelGrid columns="1">
                    <p:selectOneRadio id="customRadio" value="#{current.page.get('bucket').colorScheme}" columns="1">
                        <f:selectItem itemLabel="Normal" itemValue="" />
                        <f:selectItem itemLabel="Yellow" itemValue="_yellow" />
                        <f:selectItem itemLabel="Pink" itemValue="_pink" />
                        <f:selectItem itemLabel="Blue" itemValue="_blue" />
                        <f:selectItem itemLabel="Purple" itemValue="_purple" />
                        <f:selectItem itemLabel="Grey" itemValue="_grey" />
                    </p:selectOneRadio>                   

                    <f:facet name="footer">
                        <p:commandButton icon="ui-icon-check" ajax="false"
                                         actionListener="#{current.page.get('bucket').print}"
                                         onclick="window.open('', 'popup', 'height=600,width=800,status=no,toolbar=no,menubar=no')" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="id-card-dlg" widgetVar="idCardDlg" modal="false" resizable="false" closable="true"
                  header="ID Card Dialog" fitViewport="true" width="50%" position="right top" >
            <p:ajax event="close" listener="#{current.page.get('bucket').clearBucket}" update="id-card-frm:id-card-tbl" />
            <h:form id="id-card-frm">
                <p:panelGrid columns="1">
                    <p:dataTable id="id-card-tbl" value="#{current.page.get('bucket').model}" var="item" rowIndexVar="rowIndexVar0"
                                 selectionMode="multiple" selection="#{current.page.get('bucket').selections}" sortBy="#{1}"
                                 emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                                 lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


                        <p:ajax event="contextMenu" process="id-card-tbl" update=":messages" />
                        <p:ajax event="rowSelect" process="id-card-tbl" update=":messages" />
                        <p:ajax event="rowUnselect" process="id-card-tbl" update=":messages" />

                        <f:facet name="header">
                            <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                             actionListener="#{current.page.get('bucket').delete}"
                                             update="id-card-tbl" />
                            <p:commandButton title="Clear" actionListener="#{current.page.get('bucket').clearBucket}" update="id-card-tbl" icon="ui-icon-refresh" />
                        </f:facet>

                        <p:column headerText="NIK">
                            <h:outputText value="#{item.nik}" />
                        </p:column>

                        <p:column headerText="Name">
                            <h:outputText value="#{item.name}" />
                        </p:column>

                        <p:column headerText="Position">
                            <h:outputText value="#{item.position}" />
                        </p:column>

                        <p:column headerText="Work Unit">
                            <h:outputText value="#{item.workUnits}" />
                        </p:column>

                    </p:dataTable>

                    <p:contextMenu for="id-card-tbl">
                        <p:menuitem value="Delete" immediate="true" icon="ui-icon-trash"
                                    actionListener="#{current.page.get('bucket').delete}"
                                    update="id-card-tbl" />
                    </p:contextMenu>

                    <f:facet name="footer">
                        <p:commandButton title="Generate ID Card" icon="ui-icon-print" oncomplete="PF('idCardColorSchemeDlg').show()" />
                    </f:facet>
                </p:panelGrid>                
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="new-agreement-dlg" widgetVar="newAgreementDlg" modal="true" resizable="false"
                  header="New Agreement Dlg" fitViewport="true"  >
            <h:form id="new-agreement-frm">

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-agreement-dlg" widgetVar="editAgreementDlg" modal="true" resizable="false"
                  header="Edit Agreement Dlg" fitViewport="true"  >
            <h:form id="edit-agreement-frm">

                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="type" value="Type" style="font-weight: bold" />
                        </p:column>
                        <p:column colspan="2">                        
                            <p:selectOneMenu id="type" value="#{current.page.get('employmentTable').selection.agreementType}" 
                                             converter="#{current.page.get('agreementTypeList')}" var="t">
                                <f:selectItem itemLabel="Select Type" itemValue="" />
                                <f:selectItems value="#{current.page.get('agreementTypeList').data}" var="type" 
                                               itemValue="#{type}" itemLabel="#{type}" />
                                <p:column>
                                    <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                    <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                   onclick="PF('agreementTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                </p:column>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="from" value="From" style="font-weight: bold" />
                        </p:column>
                        <p:column colspan="2">
                            <p:calendar id="from" value="#{current.page.get('employmentTable').selection.fromDate}"
                                        navigator="true" yearRange="c-30:c+30"
                                        pattern="dd/MM/yyyy" showOn="button" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="thru" value="Thru" style="font-weight: bold" />
                        </p:column>
                        <p:column colspan="2">
                            <p:calendar id="thru" value="#{current.page.get('employmentTable').selection.thruDate}"
                                        navigator="true" yearRange="c-30:c+30"
                                        pattern="dd/MM/yyyy" showOn="button" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2" >
                                <p:commandButton value="Update" actionListener="#{current.page.get('employmentTable').update}"
                                                 update=":agreement-history-frm:dt-tbl :messages" oncomplete="PF('editAgreementDlg').hide()" icon="ui-icon-check" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="agreement-history-dlg" widgetVar="agreementHistoryDlg" modal="true" resizable="false"
                  header="Agreement History" fitViewport="true" width="50%" >
            <h:form id="agreement-history-tool-frm">
                <p:toolbar>
                    <f:facet name="right">
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{current.page.get('employmentTable').updateContextEmpty}"
                                         update=":edit-agreement-dlg :messages" oncomplete="PF('editAgreementDlg').show()" />
                    </f:facet>
                </p:toolbar>
            </h:form>
            <h:form id="agreement-history-frm">
                <p:dataTable id="dt-tbl" value="#{current.page.get('employmentTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('employmentTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


                    <p:ajax event="contextMenu" process="dt-tbl" update=":agreement-history-tool-frm :messages" />
                    <p:ajax event="rowSelect" process="dt-tbl" update=":agreement-history-tool-frm :messages" />

                    <p:column headerText="Type">                            
                        <h:outputText value="#{item.agreementType.name}" />
                    </p:column>
                    <p:column headerText="Hiring Organization">
                        <h:outputText value="#{item.internalOrganization}" />
                    </p:column>
                    <p:column headerText="From">
                        <h:outputText value="#{item.fromDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Thru">
                        <h:outputText value="#{item.thruDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="dt-tbl">
                    <p:menuitem value="Delete" immediate="true" icon="ui-icon-trash"
                                update=":edit-agreement-dlg :messages" oncomplete="PF('editAgreementDlg').show()" />
                </p:contextMenu>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="position-history-dlg" widgetVar="positionHistoryDlg" modal="true" resizable="false"
                  header="Position History" fitViewport="true" width="50%" >
            <h:form id="position-history-frm">
                <p:dataTable id="dt-tbl" value="#{current.page.get('positionHistoryTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('positionHistoryTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:column headerText="Position">                            
                        <h:outputText value="#{item.position.name}" />
                    </p:column>
                    <p:column headerText="Work Unit">
                        <h:outputText value="#{item.position.workUnits}" />
                    </p:column>
                    <p:column headerText="From">
                        <h:outputText value="#{item.fromDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Thru">
                        <h:outputText value="#{item.thruDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="change-position-dlg" widgetVar="changePositionDlg" modal="true" resizable="false"
                  header="Change Position Dialog" fitViewport="true" >
            <h:form id="change-position-frm"> 
                <p:panelGrid columns="1">
                    <p:panelGrid style="width:100%">
                        <f:facet name="header">
                            <p:row>
                                <p:column colspan="6">
                                    <h:outputLabel value="Active Agreement" />
                                </p:column>
                            </p:row>
                        </f:facet>
                        <p:row>
                            <p:column>
                                <h:outputText value="Type" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').newPosition.employment.agreementType}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="From" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').newPosition.employment.fromDate}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:outputText value="Thru" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').newPosition.employment.thruDate}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <p:panelGrid style="width:100%">

                        <f:facet name="header">
                            <p:row>
                                <p:column colspan="2">
                                    <h:outputLabel value="Current" />
                                </p:column>
                                <p:column colspan="2">
                                    <h:outputLabel value="Next" />
                                </p:column>
                            </p:row>
                        </f:facet>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="Position" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').prevPosition.position.name}"  />
                                <p:spacer width="5" />
                            </p:column>
                            <p:column>
                                <h:outputLabel for="pos" value="Position"  style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <h:outputText id="pos" value="#{current.page.get('employeeTable').newPosition.position.name}"  />
                                <p:spacer width="5" />
                                <p:commandButton id="search-pos" icon="ui-icon-search" style="float:right" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="Work Unit" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').prevPosition.position.workUnits}" />
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Work Unit" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText id="unit" value="#{current.page.get('employeeTable').newPosition.position.workUnits}" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="Organization" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').prevPosition.position.hiringOrganization}" />
                            </p:column>
                            <p:column>
                                <h:outputLabel value="Organization" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText id="org" value="#{current.page.get('employeeTable').newPosition.position.hiringOrganization}" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="From" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{current.page.get('employeeTable').prevPosition.fromDate}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:outputLabel value="From" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <p:calendar id="from" value="#{current.page.get('employeeTable').newPosition.fromDate}"
                                            navigator="true" yearRange="c-30:c+30"
                                            pattern="dd/MM/yyyy" showOn="button" >
                                    <p:ajax event="dateSelect" listener="#{current.page.get('employeeTable').onEditNewPositionFromDate}" update="prev-thru" />
                                </p:calendar>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="Thru" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <h:outputText id="prev-thru" value="#{current.page.get('employeeTable').prevPosition.thruDate}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:outputLabel value="Thru" style="font-weight: bold" />
                            </p:column>
                            <p:column>
                                <p:calendar id="thru" value="#{current.page.get('employeeTable').newPosition.thruDate}"
                                            navigator="true" yearRange="c-30:c+30"
                                            pattern="dd/MM/yyyy" showOn="button" />
                            </p:column>
                        </p:row>

                        <f:facet name="footer">
                            <p:row>
                                <p:column colspan="4">
                                    <p:commandButton value="Save" actionListener="#{current.page.get('employeeTable').saveNewPosition}"
                                                     update=":dt-frm:dt-tbl :messages" oncomplete="PF('changePositionDlg').hide()" icon="ui-icon-check" />
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>
                </p:panelGrid>

                <p:overlayPanel for="search-pos" widgetVar="searchPos" dynamic="true" dismissable="false" showCloseIcon="true" appendToBody="true" >
                    <p:dataTable id="pos-tbl" value="#{current.page.get('positionTable').model}" var="item" rowIndexVar="rowIndexVar0"
                                 selectionMode="single" style="width:250px"
                                 emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                                 lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="5" paginatorPosition="top"
                                 paginatorTemplate="{PreviousPageLink}  {NextPageLink}">

                        <p:ajax event="rowSelect" listener="#{current.page.get('positionTable').onPositionSelected}"
                                update=":change-position-frm:pos :change-position-frm:unit :change-position-frm:org :change-position-frm:varian-tbl" oncomplete="PF('searchPos').hide()" />

                        <p:column headerText="Position">
                            <h:outputText value="#{item.name}" />
                        </p:column>

                        <p:column headerText="Hiring Organization">
                            <h:outputText value="#{item.hiringOrganization.party.name}" />
                        </p:column>

                        <p:column headerText="Work Unit">
                            <h:outputText value="#{item.workUnits}" />
                        </p:column>

                    </p:dataTable>
                </p:overlayPanel>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="agreement-type-dlg" widgetVar="agreementTypeDlg" modal="true" resizable="false" 
                  header="Agreement Type Dialog"  fitViewport="true" width="500" >

            <h:form id="agreement-type-frm">
                <p:dataTable id="agreement-type-tbl" value="#{current.page.get('agreementTypeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('agreementTypeTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="agreement-type-tbl" update=":agreement-type-frm:agreement-type-tbl :messages" />
                    <p:ajax event="rowSelect" process="agreement-type-tbl" update=":agreement-type-frm:agreement-type-tbl :messages" />
                    <p:ajax event="rowUnselect" process="agreement-type-tbl" update=":agreement-type-frm:agreement-type-tbl :messages" />                    

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{current.page.get('agreementTypeTable').prepareTransient}"
                                         update=":agreement-type-create-dlg" oncomplete="PF('agreementTypeCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{current.page.get('agreementTypeTable').updateContextEmpty}"
                                         update=":agreement-type-edit-dlg" oncomplete="PF('agreementTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{current.page.get('agreementTypeTable').deleteContextEmpty}"
                                         update=":agreement-type-delete-dlg" oncomplete="PF('agreementTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Remarks">
                        <h:outputText value="#{item.remarks}"  />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="agreement-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{current.page.get('agreementTypeTable').prepareTransient}"
                                oncomplete="PF('agreementTypeCreateDlg').show()" update=":agreement-type-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":agreement-type-edit-dlg" oncomplete="PF('agreementTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":agreement-type-delete-dlg" oncomplete="PF('agreementTypeDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="agreement-type-create-dlg" widgetVar="agreementTypeCreateDlg" modal="true" resizable="false"
                  header="Agreement Type Create Dialog" >
            <h:form id="agreement-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('agreementTypeList').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{current.page.get('agreementTypeList').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{current.page.get('agreementTypeList').create}"
                                         update=":agreement-type-frm:agreement-type-tbl :create-frm:type :messages" oncomplete="PF('agreementTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="agreement-type-edit-dlg" widgetVar="agreementTypeEditDlg" modal="true" resizable="false" header="Agreement Type Edit Dialog" >
            <h:form id="agreement-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('agreementTypeTable').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{current.page.get('agreementTypeTable').selection.remarks}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{current.page.get('agreementTypeTable').update}"
                                         update=":agreement-type-frm:agreement-type-tbl :create-frm:type :messages" oncomplete="PF('agreementTypeEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="agreement-type-delete-dlg" widgetVar="agreementTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{current.page.get('agreementTypeTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{current.page.get('agreementTypeTable').delete}"
                                 oncomplete="PF('agreementTypeDeleteDlg').hide()" update=":agreement-type-frm:agreement-type-tbl :create-frm:type :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('agreementTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog id="search-pos-panel" widgetVar="searchPosPanel" dynamic="true" header="Select Position">
            <h:form id="search-pos-frm">
                <p:dataTable id="pos-tbl" value="#{current.page.get('positionTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" style="width:500px"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 10" rows="5" paginatorPosition="top"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="rowSelect" listener="#{current.page.get('positionTable').onPositionSelected}"
                            update=":create-frm:pos :create-frm:unit :create-frm:org"
                            oncomplete="PF('searchPosPanel').hide()" />

                    <p:column headerText="Position"  filterBy="#{item.name}" filterMatchMode="contains">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Hiring Organization">
                        <h:outputText value="#{item.hiringOrganization.party.name}" />
                    </p:column>

                    <p:column headerText="Work Unit"  filterBy="#{item.workUnits}"
                              filterOptions="#{internalOrganizationPage.get('workUnitList').typeList}" filterMatchMode="exact">
                        <h:outputText value="#{item.workUnits}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" fitViewport="true" position="left top" >
            <h:form id="create-frm">
                <p:panelGrid columns="1">
                    <p:dashboard model="#{current.page.get('employeeDashboard').model}" >
                        
                        <p:panel id="general" header="General">
                            <p:panelGrid>
                                <p:row>
                                    <p:column rowspan="6">
                                        <p:graphicImage value="#{current.page.streamed}" cache="false" width="180" height="240" />
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel for="nik" value="NIK" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:inputText id="nik" value="#{current.page.get('employeeTable').selection.employee.nik}" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="first-name" value="First Name" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:inputText id="first-name" value="#{current.page.get('employeeTable').selection.employee.person.firstName}" />
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="last-name" value="Last Name" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:inputText id="last-name" value="#{current.page.get('employeeTable').selection.employee.person.lastName}" />
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="dob" value="DoB" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:calendar id="dob" value="#{current.page.get('employeeTable').selection.employee.person.birthInfo.birthDate}"
                                                    navigator="true" yearRange="c-100:c"
                                                    pattern="dd/MM/yyyy" showOn="button" />
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="gender" value="Gender" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">                                            
                                        <p:selectOneMenu id="gender" value="#{current.page.get('employeeTable').selection.employee.person.gender}"
                                                         converter="#{current.page.get('genderList')}" label="Gender" >
                                            <f:selectItem itemLabel="Select Gender" itemValue="" />
                                            <f:selectItems value="#{current.page.get('genderList').data}" var="gender" 
                                                           itemValue="#{gender}" itemLabel="#{gender}" />
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="idcard" value="Identity" style="font-weight: bold" /> 
                                    </p:column>
                                    <p:column>                                        
                                        <p:selectOneMenu id="id-type" value="#{current.page.get('employeeTable').selection.employee.person.identityInfo.idType}"
                                                         converter="#{current.page.get('idTypeList')}" var="t" label="Identity Type" >
                                            <f:selectItem itemLabel="Select Type" itemValue="" />
                                            <f:selectItems value="#{current.page.get('idTypeList').data}" var="idType" 
                                                           itemValue="#{idType}" itemLabel="#{idType}" />
                                            <p:column>
                                                <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                                <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                               onclick="PF('idTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                            </p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:inputText id="idcard" value="#{current.page.get('employeeTable').selection.employee.person.identityInfo.idNumber}" />
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column style="text-align: center!important">
                                        <p:commandButton icon="fa fa-camera" immediate="true"
                                                         update=":capture-frm"
                                                         oncomplete="PF('captureDlg').show()"  />
                                        <p:commandButton icon="fa fa-upload" immediate="true"
                                                         update=":capture-frm"
                                                         oncomplete="PF('uploadDlg').show()"  />
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel for="marital" value="Marital Status" style="font-weight: bold" /> 
                                    </p:column>
                                    <p:column colspan="2">                                          
                                        <p:selectOneMenu id="marital" value="#{current.page.get('employeeTable').selection.employee.person.maritalStatus}"
                                                         converter="#{maritalStatusDataList}" label="Marital Status" >
                                            <f:selectItem itemLabel="Select Status" itemValue="" />
                                            <f:selectItems value="#{maritalStatusDataList.data}" var="marital" 
                                                           itemValue="#{marital}" itemLabel="#{marital}" />
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>

                            </p:panelGrid>
                        </p:panel>
                        
                        <p:panel id="agreement" header="Agreement">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="type" value="Type" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">                        
                                        <p:selectOneMenu id="type" value="#{current.page.get('employeeTable').selection.employment.agreementType}" 
                                                         converter="#{current.page.get('agreementTypeList')}" var="t">
                                            <f:selectItem itemLabel="Select Type" itemValue="" />
                                            <f:selectItems value="#{current.page.get('agreementTypeList').data}" var="type" 
                                                           itemValue="#{type}" itemLabel="#{type}" />
                                            <p:column>
                                                <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                                <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                               onclick="PF('agreementTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                            </p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="from" value="From" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:calendar id="from" value="#{current.page.get('employeeTable').selection.employment.fromDate}"
                                                    navigator="true" yearRange="c-30:c+30"
                                                    pattern="dd/MM/yyyy" showOn="button" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="thru" value="Thru" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:calendar id="thru" value="#{current.page.get('employeeTable').selection.employment.thruDate}"
                                                    navigator="true" yearRange="c-30:c+30"
                                                    pattern="dd/MM/yyyy" showOn="button" />
                                    </p:column>
                                </p:row>

                            </p:panelGrid>
                        </p:panel>
                        
                        <p:panel id="position" header="Position">
                            <p:panelGrid style="width:100%">
                                <p:row>
                                    <p:column>
                                        <h:outputLabel value="Position" style="font-weight: bold" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText id="pos" value="#{current.page.get('employeeTable').selection.position.name}"   />
                                        <p:spacer width="5" />
                                        <p:commandButton id="search-pos" icon="ui-icon-search" style="float:right"
                                                         oncomplete="PF('searchPosPanel').show()"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="unit" value="Work Unit" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <h:outputText id="unit" value="#{current.page.get('employeeTable').selection.position.workUnits}" />
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <h:outputLabel value="Organization" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <h:outputText id="org" value="#{current.page.get('employeeTable').selection.position.hiringOrganization}" />
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <h:outputLabel value="Onboarding" style="font-weight: bold" /> 
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="Deffered" style="font-style: italic" />
                                        <!-- p:selectBooleanCheckbox value="{current.page.get('employeeTable').selection.employee.onboarding}" /-->
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>
                        
                        <p:panel id="address" header="Contact &amp; Address">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="address-line-1" value="Line 1" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:inputText id="address-line-1" size="50"
                                                     value="#{current.page.get('employeeTable').selection.employee.person.postalAddresses.get(0).postalAddress.address1}">
                                            <p:watermark for="address-line-1" value="Type address here" />
                                        </p:inputText>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="address-line-2" value="Line 2" style="font-weight: bold" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:inputText id="address-line-2" size="50"
                                                     value="#{current.page.get('employeeTable').selection.employee.person.postalAddresses.get(0).postalAddress.address2}" >
                                            <p:watermark for="address-line-2" value="Type address here" />
                                        </p:inputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="3">
                                        <p:dataScroller id="contacts" value="#{current.page.get('employeeTable').selection.employee.person.contactMechanisms}" var="partyContact">
                                            <p:panelGrid>
                                                <p:column>                                                        
                                                    <p:selectOneMenu  value="#{partyContact.contactMechanism.contactMechanismType}"
                                                                      converter="#{current.page.get('contactTypeList')}" label="Contact Type"
                                                                      var="t" required="true" >
                                                        <f:selectItem itemLabel="Contact Type" itemValue="" />
                                                        <f:selectItems value="#{current.page.get('contactTypeList').data}" var="type" 
                                                                       itemValue="#{type}" itemLabel="#{type}" />
                                                        <p:column>
                                                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                                           onclick="PF('contactMechanismTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                                        </p:column>
                                                    </p:selectOneMenu>
                                                </p:column>
                                                <p:column>
                                                    <p:inputText value="#{partyContact.contactMechanism.contactValue}" required="true" label="Contact Value" />
                                                </p:column>
                                                <p:column>
                                                    <p:commandButton icon="ui-icon-plus" immediate="true"
                                                                     actionListener="#{current.page.get('employeeTable').addPartyContactMechanism}" 
                                                                     update="contacts"/>
                                                    <p:commandButton icon="ui-icon-trash" immediate="true"
                                                                     action="#{current.page.get('employeeTable').delPartyContactMechanism(partyContact)}"
                                                                     update="contacts"/>
                                                </p:column>
                                            </p:panelGrid>
                                        </p:dataScroller>
                                    </p:column>                                    
                                </p:row>

                            </p:panelGrid>
                        </p:panel>

                    </p:dashboard>

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{current.page.get('employeeTable').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>        

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{current.page.get('employeeTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{current.page.get('employeeTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :tool-content :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>        

        <p:dialog dynamic="true" id="contact-mechanism-type-dlg" widgetVar="contactMechanismTypeDlg" modal="true" resizable="false"
                  header="Contact Type" fitViewport="true" width="500" >
            <h:form id="contact-mechanism-type-frm">
                <p:dataTable id="contact-mechanism-type-tbl" value="#{current.page.get('contactMechanismTypeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('contactMechanismTypeTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="contact-mechanism-type-tbl" update=":contact-mechanism-type-frm:contact-mechanism-type-tbl :messages" />
                    <p:ajax event="rowSelect" process="contact-mechanism-type-tbl" update=":contact-mechanism-type-frm:contact-mechanism-type-tbl :messages" />
                    <p:ajax event="rowUnselect" process="contact-mechanism-type-tbl" update=":contact-mechanism-type-frm:contact-mechanism-type-tbl :messages" />

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{current.page.get('contactMechanismTypeTable').prepareTransient}"
                                         update=":contact-mechanism-type-create-dlg" oncomplete="PF('contactMechanismTypeCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{current.page.get('contactMechanismTypeTable').updateContextEmpty}"
                                         update=":contact-mechanism-type-edit-dlg" oncomplete="PF('contactMechanismTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{current.page.get('contactMechanismTypeTable').deleteContextEmpty}"
                                         update=":contact-mechanism-type-delete-dlg" oncomplete="PF('contactMechanismTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="contact-mechanism-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{current.page.get('contactMechanismTypeTable').prepareTransient}"
                                oncomplete="PF('contactMechanismTypeCreateDlg').show()" update=":contact-mechanism-type-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":contact-mechanism-type-edit-dlg" oncomplete="PF('contactMechanismTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":contact-mechanism-type-delete-dlg" oncomplete="PF('contactMechanismTypeDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="contact-mechanism-type-create-dlg" widgetVar="contactMechanismTypeCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="contact-mechanism-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('contactTypeList').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{current.page.get('contactTypeList').create}"
                                         update=":contact-mechanism-type-frm:contact-mechanism-type-tbl :create-frm:address :messages" oncomplete="PF('contactMechanismTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="contact-mechanism-type-edit-dlg" widgetVar="contactMechanismTypeEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="contact-mechanism-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('contactMechanismTypeTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{current.page.get('contactMechanismTypeTable').update}"
                                         update=":contact-mechanism-type-frm:contact-mechanism-type-tbl :create-frm:address :messages" oncomplete="PF('contactMechanismTypeEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="contact-mechanism-type-delete-dlg" widgetVar="contactMechanismTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{current.page.get('contactMechanismTypeTable').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{current.page.get('contactMechanismTypeTable').delete}"
                                 oncomplete="PF('contactMechanismTypeDeleteDlg').hide()" update=":contact-mechanism-type-frm:contact-mechanism-type-tbl :create-frm:address :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('contactMechanismTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="upload-dlg" widgetVar="uploadDlg" modal="false" resizable="false" responsive="true" position="left top">
            <p:ajax event="close" listener="#{current.page.get('uploader').onClose}" />
            <h:form id="upload-frm">
                <p:panelGrid columns="1">
                    <p:fileUpload fileUploadListener="#{current.page.get('uploader').onUpload}" mode="advanced" update=":upload-frm"
                                  allowTypes="/(\.|\/)(jpe?g)$/" />                    

                    <p:panelGrid rendered="#{current.page.get('temporaryFileManager').tmpUrl ne null}">
                        <p:row>
                            <p:column colspan="2">
                                <p:imageCropper id="cropper" value="#{current.page.get('cropper').croppedImage}"
                                                image="#{current.page.get('temporaryFileManager').tmpUrl}"
                                                minSize="#{current.page.get('cropper').w},#{current.page.get('cropper').h}"
                                                maxSize="#{current.page.get('cropper').w},#{current.page.get('cropper').h}" />
                            </p:column>
                        </p:row>

                        <f:facet name="footer">
                            <p:row>
                                <p:column style="text-align: center">
                                    <p:commandButton value="OK" action="#{current.page.get('cropper').onCrop}"
                                                     update=":create-frm:general"                                                
                                                     oncomplete="PF('uploadDlg').hide()" />
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="capture-dlg" widgetVar="captureDlg" modal="false" resizable="false"
                  header="Capture Dialog" position="left top" >
            <p:ajax event="close" listener="#{current.page.get('camera').onClose}" />
            <h:form id="capture-frm">
                <p:panelGrid columns="2">
                    <p:panelGrid>
                        <p:row>
                            <p:column colspan="2">
                                <p:photoCam id="camera" widgetVar="pc" listener="#{current.page.get('camera').onCapture}"
                                            update=":capture-frm" width="480" height="360" />
                            </p:column>
                        </p:row>

                        <f:facet name="footer">
                            <p:row>
                                <p:column style="text-align: center">
                                    <p:commandButton type="button" value="Capture"
                                                     onclick="PF('pc').capture();" update=":capture-frm" />
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>

                    <p:panelGrid rendered="#{current.page.get('temporaryFileManager').tmpUrl ne null}">
                        <p:row>
                            <p:column colspan="2">
                                <p:imageCropper id="cropper" value="#{current.page.get('cropper').croppedImage}" 
                                                image="#{current.page.get('temporaryFileManager').tmpUrl}"
                                                minSize="#{current.page.get('cropper').w},#{current.page.get('cropper').h}"
                                                maxSize="#{current.page.get('cropper').w},#{current.page.get('cropper').h}" />
                            </p:column>
                        </p:row>

                        <f:facet name="footer">
                            <p:row>
                                <p:column style="text-align: center">
                                    <p:commandButton value="OK" action="#{current.page.get('cropper').onCrop}"
                                                     update=":create-frm:general"                                                
                                                     oncomplete="PF('captureDlg').hide()" />
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="id-type-dlg" widgetVar="idTypeDlg" modal="true" resizable="false"
                  header="Position Type" fitViewport="true" width="500" >
            <h:form id="id-type-frm">
                <p:dataTable id="id-type-tbl" value="#{current.page.get('idTypeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{current.page.get('idTypeTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="id-type-tbl" update=":id-type-frm:id-type-tbl :messages" />
                    <p:ajax event="rowSelect" process="id-type-tbl" update=":id-type-frm:id-type-tbl :messages" />
                    <p:ajax event="rowUnselect" process="id-type-tbl" update=":id-type-frm:id-type-tbl :messages" />

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{current.page.get('idTypeTable').prepareTransient}"
                                         update=":id-type-create-dlg" oncomplete="PF('idTypeCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{current.page.get('idTypeTable').updateContextEmpty}"
                                         update=":id-type-edit-dlg" oncomplete="PF('idTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{current.page.get('idTypeTable').deleteContextEmpty}"
                                         update=":id-type-delete-dlg" oncomplete="PF('idTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="id-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{current.page.get('idTypeTable').prepareTransient}"
                                oncomplete="PF('idTypeCreateDlg').show()" update=":id-type-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":id-type-edit-dlg" oncomplete="PF('idTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":id-type-delete-dlg" oncomplete="PF('idTypeDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="id-type-create-dlg" widgetVar="idTypeCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="id-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('idTypeList').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{current.page.get('idTypeList').create}"
                                         update=":id-type-frm:id-type-tbl :create-frm:id-type :messages" oncomplete="PF('idTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="id-type-edit-dlg" widgetVar="idTypeEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="id-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{current.page.get('idTypeTable').selection.name}" id="name" label="Name" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{current.page.get('idTypeTable').update}"
                                         update=":id-type-frm:id-type-tbl :create-frm:id-type :messages" oncomplete="PF('idTypeEditDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="id-type-delete-dlg" widgetVar="idTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{current.page.get('idTypeTable').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{current.page.get('idTypeTable').delete}"
                                 oncomplete="PF('idTypeDeleteDlg').hide()" update=":id-type-frm:id-type-tbl :create-frm:id-type :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('idTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

    </ui:define>

    <ui:define name="explorer">

        <h:form id="org-frm">
            <p:tree id="org-tbl" value="#{current.page.get('internalOrganizationTree').model.wrappedData}" var="item" style="width: 99%"
                    selectionMode="single" selection="#{current.page.get('internalOrganizationTree').nodeSelection}" >

                <p:ajax event="select" listener="#{current.page.get('internalOrganizationTree').handleNodeSelected}"
                        update=":dt-frm:dt-tbl :editor-tool-frm" />

                <p:treeNode type="folder">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

                <p:treeNode type="document">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

            </p:tree>
        </h:form>

    </ui:define>



</ui:composition>

