<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:mf="http://mukafaces.com/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.std.hr.strings" var="msgs" />
        <h:outputStylesheet library="std" name="hr/css/widget.css" />
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Save" icon="ui-icon-check" immediate="true" />
        <p:commandButton title="Close" icon="ui-icon-close" immediate="true"
                         actionListener="#{current.page.navUp}" />
    </ui:define>

    <ui:define name="editor-content">
        <h:form id="editor-frm">
            <!--p:panelGrid columns="1"-->
                
                <p:dashboard model="#{current.page.get('employeeDashboard').model}" >

                    <p:panel id="general" header="General">
                        <p:panelGrid>
                            <p:row>
                                <p:column rowspan="6">
                                    <p:graphicImage value="#{current.page.get('employeeDashboard').streamed}" cache="false" width="180" height="240" />
                                </p:column>
                                <p:column>
                                    <p:outputLabel for="nik" value="NIK" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:inputText id="nik" value="#{current.page.parent.get('employeeTable').selection.employee.nik}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="first-name" value="First Name" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:inputText id="first-name" value="#{current.page.parent.get('employeeTable').selection.employee.person.firstName}" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="last-name" value="Last Name" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:inputText id="last-name" value="#{current.page.parent.get('employeeTable').selection.employee.person.lastName}" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="dob" value="DoB" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:calendar id="dob" value="#{current.page.parent.get('employeeTable').selection.employee.person.birthInfo.birthDate}"
                                                navigator="true" yearRange="c-100:c"
                                                pattern="dd/MM/yyyy" showOn="button" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="gender" value="Gender" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">                                            
                                    <p:selectOneMenu id="gender" value="#{current.page.parent.get('employeeTable').selection.employee.person.gender}"
                                                     converter="#{current.page.get('genderList')}" label="Gender" >
                                        <f:selectItem itemLabel="Select Gender" itemValue="" />
                                        <f:selectItems value="#{current.page.get('genderList').data}" var="gender" 
                                                       itemValue="#{gender}" itemLabel="#{gender}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="idcard" value="Identity" style="font-weight: bold" /> 
                                </p:column>
                                <p:column>                                        
                                    <p:selectOneMenu id="id-type" value="#{current.page.parent.get('employeeTable').selection.employee.person.identityInfo.idType}"
                                                     converter="#{current.page.get('idTypeList')}" var="t" label="Identity Type" >
                                        <f:selectItem itemLabel="Select Type" itemValue="" />
                                        <f:selectItems value="#{current.page.get('idTypeList').data}" var="idType" 
                                                       itemValue="#{idType}" itemLabel="#{idType}" />
                                        <p:column>
                                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                           onclick="PF('idTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                        </p:column>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:inputText id="idcard" value="#{current.page.parent.get('employeeTable').selection.employee.person.identityInfo.idNumber}" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="text-align: center!important">
                                    <p:commandButton icon="fa fa-camera" immediate="true"
                                                     update=":capture-frm"
                                                     oncomplete="PF('captureDlg').show()"  />
                                    <p:commandButton icon="fa fa-upload" immediate="true"
                                                     update=":capture-frm"
                                                     oncomplete="PF('uploadDlg').show()"  />
                                </p:column>
                                <p:column>
                                    <p:outputLabel for="marital" value="Marital Status" style="font-weight: bold" /> 
                                </p:column>
                                <p:column colspan="2">                                          
                                    <p:selectOneMenu id="marital" value="#{current.page.parent.get('employeeTable').selection.employee.person.maritalStatus}"
                                                     converter="#{maritalStatusDataList}" label="Marital Status" >
                                        <f:selectItem itemLabel="Select Status" itemValue="" />
                                        <f:selectItems value="#{maritalStatusDataList.data}" var="marital" 
                                                       itemValue="#{marital}" itemLabel="#{marital}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </p:panel>

                    <p:panel id="agreement" header="Agreement">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="type" value="Type" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">                        
                                    <p:selectOneMenu id="type" value="#{current.page.parent.get('employeeTable').selection.employment.agreementType}" 
                                                     converter="#{current.page.get('agreementTypeList')}" var="t">
                                        <f:selectItem itemLabel="Select Type" itemValue="" />
                                        <f:selectItems value="#{current.page.get('agreementTypeList').data}" var="type" 
                                                       itemValue="#{type}" itemLabel="#{type}" />
                                        <p:column>
                                            <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                            <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                           onclick="PF('agreementTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                        </p:column>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="from" value="From" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:calendar id="from" value="#{current.page.parent.get('employeeTable').selection.employment.fromDate}"
                                                navigator="true" yearRange="c-30:c+30"
                                                pattern="dd/MM/yyyy" showOn="button" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="thru" value="Thru" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:calendar id="thru" value="#{current.page.parent.get('employeeTable').selection.employment.thruDate}"
                                                navigator="true" yearRange="c-30:c+30"
                                                pattern="dd/MM/yyyy" showOn="button" />
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </p:panel>

                    <p:panel id="position" header="Position">
                        <p:panelGrid style="width:100%">
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="Position" style="font-weight: bold" />
                                </p:column>
                                <p:column>
                                    <h:outputText id="pos" value="#{current.page.parent.get('employeeTable').selection.position.name}"   />
                                    <p:spacer width="5" />
                                    <p:commandButton id="search-pos" icon="ui-icon-search" style="float:right"
                                                     oncomplete="PF('searchPosPanel').show()"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="unit" value="Work Unit" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <h:outputText id="unit" value="#{current.page.parent.get('employeeTable').selection.position.workUnits}" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <h:outputLabel value="Organization" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <h:outputText id="org" value="#{current.page.parent.get('employeeTable').selection.position.hiringOrganization}" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <h:outputLabel value="Onboarding" style="font-weight: bold" /> 
                                </p:column>
                                <p:column>
                                    <h:outputText value="Deffered" style="font-style: italic" />
                                    <!-- p:selectBooleanCheckbox value="{current.page.parent.get('employeeTable').selection.employee.onboarding}" /-->
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>

                    <p:panel id="address" header="Contact &amp; Address">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="address-line-1" value="Line 1" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:inputText id="address-line-1" size="50"
                                                 value="#{current.page.parent.get('employeeTable').selection.employee.person.postalAddresses.get(0).postalAddress.address1}">
                                        <p:watermark for="address-line-1" value="Type address here" />
                                    </p:inputText>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="address-line-2" value="Line 2" style="font-weight: bold" />
                                </p:column>
                                <p:column colspan="2">
                                    <p:inputText id="address-line-2" size="50"
                                                 value="#{current.page.parent.get('employeeTable').selection.employee.person.postalAddresses.get(0).postalAddress.address2}" >
                                        <p:watermark for="address-line-2" value="Type address here" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <p:dataScroller id="contacts" value="#{current.page.parent.get('employeeTable').selection.employee.person.contactMechanisms}" var="partyContact">
                                        <p:panelGrid>
                                            <p:column>                                                        
                                                <p:selectOneMenu  value="#{partyContact.contactMechanism.contactMechanismType}"
                                                                  converter="#{current.page.get('contactTypeList')}" label="Contact Type"
                                                                  var="t" required="true" >
                                                    <f:selectItem itemLabel="Contact Type" itemValue="" />
                                                    <f:selectItems value="#{current.page.get('contactTypeList').data}" var="type" 
                                                                   itemValue="#{type}" itemLabel="#{type}" />
                                                    <p:column>
                                                        <h:outputText rendered="#{not t.placeholder}" value="#{t.name}" />
                                                        <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                                       onclick="PF('contactMechanismTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column>
                                                <p:inputText value="#{partyContact.contactMechanism.contactValue}" required="true" label="Contact Value" />
                                            </p:column>
                                            <p:column>
                                                <p:commandButton icon="ui-icon-plus" immediate="true"
                                                                 actionListener="#{current.page.parent.get('employeeTable').addPartyContactMechanism}" 
                                                                 update="contacts"/>
                                                <p:commandButton icon="ui-icon-trash" immediate="true"
                                                                 action="#{current.page.parent.get('employeeTable').delPartyContactMechanism(partyContact)}"
                                                                 update="contacts"/>
                                            </p:column>
                                        </p:panelGrid>
                                    </p:dataScroller>
                                </p:column>                                    
                            </p:row>

                        </p:panelGrid>
                    </p:panel>

                </p:dashboard>
                
            <!--/p:panelGrid-->
        </h:form>
    </ui:define>

    <ui:define name="components">
        <p:dialog dynamic="true" id="capture-dlg" widgetVar="captureDlg" modal="false" resizable="false"
                  header="Capture Dialog" position="left top" >
            <p:ajax event="close" listener="#{current.page.get('camera').onClose}" />
            <h:form id="capture-frm">
                <p:panelGrid columns="2">
                    <p:panelGrid>
                        <p:row>
                            <p:column colspan="2">
                                <p:photoCam id="camera" widgetVar="pc" listener="#{current.page.get('camera').onCapture}"
                                            update=":capture-frm" width="480" height="360" />
                            </p:column>
                        </p:row>

                        <f:facet name="footer">
                            <p:row>
                                <p:column style="text-align: center">
                                    <p:commandButton type="button" value="Capture"
                                                     onclick="PF('pc').capture();" update=":capture-frm" />
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>

                    <p:panelGrid rendered="#{current.page.get('temporaryFileManager').tmpUrl ne null}">
                        <p:row>
                            <p:column colspan="2">
                                <p:imageCropper id="cropper" value="#{current.page.get('cropper').croppedImage}" 
                                                image="#{current.page.get('temporaryFileManager').tmpUrl}"
                                                minSize="#{current.page.get('cropper').w},#{current.page.get('cropper').h}"
                                                maxSize="#{current.page.get('cropper').w},#{current.page.get('cropper').h}" />
                            </p:column>
                        </p:row>

                        <f:facet name="footer">
                            <p:row>
                                <p:column style="text-align: center">
                                    <p:commandButton value="OK" action="#{current.page.get('cropper').onCrop}"
                                                     update=":editor-frm:general"                                                
                                                     oncomplete="PF('captureDlg').hide()" />
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>

