<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.std.hr.strings" var="msgs" />
        <h:outputStylesheet library="std" name="hr/css/widget.css" />
        #{internalOrganizationPage.initLayout}
    </ui:define>

    <ui:define name="explorer-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         actionListener="#{internalOrganizationPage.get('internalOrganizationTree').prepareTransient}"
                         update=":org-create-dlg :explorer-tool-frm" oncomplete="PF('orgCreateDlg').show()" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true"
                         disabled="#{internalOrganizationPage.get('internalOrganizationTree').updateContextEmpty}"
                         actionListener="#{internalOrganizationPage.get('internalOrganizationTree').clearCutNode}"
                         update=":org-edit-dlg :explorer-tool-frm" oncomplete="PF('orgEditDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{internalOrganizationPage.get('internalOrganizationTree').deleteContextEmpty}"
                         actionListener="#{internalOrganizationPage.get('internalOrganizationTree').clearCutNode}"
                         update=":org-delete-dlg :explorer-tool-frm" oncomplete="PF('orgDeleteDlg').show()" />

    </ui:define>

    <ui:define name="explorer">

        <h:form id="org-frm"> 
            <p:tree id="org-tbl" value="#{internalOrganizationPage.get('internalOrganizationTree').model.wrappedData}" var="item"
                    selectionMode="single" selection="#{internalOrganizationPage.get('internalOrganizationTree').nodeSelection}"
                    style="width: 99%" >

                <p:ajax event="select" listener="#{internalOrganizationPage.get('internalOrganizationTree').handleNodeSelected}"
                        update=":explorer-tool-frm :dt-frm:dt-tbl :editor-tool-frm :pos-create-dlg :org-create-dlg" />
                <p:ajax event="contextMenu" listener="#{internalOrganizationPage.get('internalOrganizationTree').handleNodeSelected}"
                        update=":explorer-tool-frm :dt-frm:dt-tbl :editor-tool-frm :pos-create-dlg :org-create-dlg" />

                <p:treeNode type="folder">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

                <p:treeNode type="document">
                    <h:outputText value="#{item.party.name}" />
                </p:treeNode>

            </p:tree>

            <p:contextMenu for="org-tbl">
                <p:menuitem value="Add Position" immediate="true"
                            actionListener="#{internalOrganizationPage.get('positionTable').prepareTransient}"
                            update=":pos-create-frm :unit-pick-frm:unit-pick-list :messages" oncomplete="PF('posCreateDlg').show()"/>
                <p:separator />
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true" 
                            actionListener="#{internalOrganizationPage.get('internalOrganizationTree').prepareTransient}"
                            update=":org-create-dlg :explorer-tool-frm" oncomplete="PF('orgCreateDlg').show()" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            actionListener="#{internalOrganizationPage.get('internalOrganizationTree').clearCutNode}"
                            update=":org-edit-dlg :explorer-tool-frm" oncomplete="PF('orgEditDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            actionListener="#{internalOrganizationPage.get('internalOrganizationTree').clearCutNode}"
                            update=":org-delete-dlg :explorer-tool-frm" oncomplete="PF('orgDeleteDlg').show()" />
            </p:contextMenu>
        </h:form>

    </ui:define>

    <ui:define name="editor-options">
        <p:menuitem value="Work Unit" icon="fa fa-list" immediate="true"
                    update=":workunit-dlg" oncomplete="PF('workUnitDlg').show()" />
        <p:menuitem value="Position Type" icon="fa fa-list" immediate="true"
                    update=":pos-type-dlg" oncomplete="PF('posTypeDlg').show()" />
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                         disabled="#{internalOrganizationPage.get('positionTable').createContextEmpty}"
                         actionListener="#{internalOrganizationPage.get('positionTable').prepareTransient}"
                         oncomplete="PF('posCreateDlg').show()" update=":pos-create-dlg :unit-pick-frm:unit-pick-list :messages" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{internalOrganizationPage.get('positionTable').updateContextEmpty}"
                         update=":pos-edit-dlg :unit-pick-frm:unit-pick-list :messages" oncomplete="PF('posEditDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{internalOrganizationPage.get('positionTable').deleteContextEmpty}"
                         update=":pos-delete-dlg" oncomplete="PF('posDeleteDlg').show()" />                   
        <!--span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span-->

    </ui:define>

    <ui:define name="editor-content">
        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{internalOrganizationPage.get('positionTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{internalOrganizationPage.get('positionTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":editor-tool-frm :messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":editor-tool-frm :messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":editor-tool-frm :messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column rowspan="2" headerText="Name" filterBy="#{item.name}" filterMatchMode="contains" />
                        <p:column rowspan="2" headerText="Work Unit" filterBy="#{item.workUnits}"
                                  filterOptions="#{internalOrganizationPage.get('workUnitList').typeList}" filterMatchMode="exact" />
                        <p:column rowspan="2" headerText="Type" width="100" filterBy="#{item.type}"
                                  filterOptions="#{internalOrganizationPage.get('positionTypeList').typeList}" filterMatchMode="exact" />
                        <p:column rowspan="2" headerText="Report To" />
                        <p:column colspan="3" headerText="Fulfillment" width="120" />
                        <p:column rowspan="2" headerText="Work Schedule" />
                    </p:row>
                    <p:row>
                        <p:column headerText="Req"  />
                        <p:column headerText="Fil" />
                        <p:column headerText="Vac" />
                    </p:row>
                </p:columnGroup>

                <p:column>
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.workUnits}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.type}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{internalOrganizationPage.get('reportingStructureTable').getManager(item)}" />
                </p:column>

                <p:column style="text-align: center" >
                    <h:outputText value="#{item.required}" />
                </p:column>

                <p:column style="text-align: center">
                    <h:outputText value="" />
                </p:column>

                <p:column style="text-align: center">
                    <h:outputText value="" />
                </p:column>

                <p:column>
                    <h:outputText value="#{internalOrganizationPage.get('positionTable').getCurrentSchedule(item)}" />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Report to..." icon="ui-icon-pencil" immediate="true"
                            update=":report-to-dlg" oncomplete="PF('reportToDlg').show()" />
                <p:separator />
                <p:menuitem value="Work Schedule" icon="fa fa-calendar" immediate="true"
                            update=":work-schedule-dlg" oncomplete="PF('workScheduleDlg').show()" />
                <p:separator />
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{internalOrganizationPage.get('positionTable').prepareTransient}"
                            oncomplete="PF('posCreateDlg').show()" update=":pos-create-dlg :unit-pick-frm:unit-pick-list :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":pos-edit-dlg :unit-pick-frm:unit-pick-list :messages" oncomplete="PF('posEditDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":pos-delete-dlg" oncomplete="PF('posDeleteDlg').show()" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="work-schedule-dlg" widgetVar="workScheduleDlg" modal="true" resizable="false"
                  header="Work Schedule" fitViewport="true" position="center,top" >
            <h:form id="work-schedule-frm">
                <p:commandButton icon="fa fa-chevron-left" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('workSchedule').onPrevWeek}"
                                 update="work-schedule-tbl :messages" />
                <p:commandButton icon="fa fa-chevron-right" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('workSchedule').onNextWeek}"
                                 update="work-schedule-tbl :messages" /> 
                <p:schedule id="work-schedule-tbl" value="#{internalOrganizationPage.get('workSchedule').model}"
                            binding="#{internalOrganizationPage.get('workSchedule').schedule}"
                            locale="#{userSession.lang}" showHeader="true" rightHeaderTemplate="" leftHeaderTemplate=""
                            view="basicWeek" aspectRatio="5" clientTimeZone="local" timeFormat="MM/D HH:mm" >
                    <p:ajax event="eventSelect" listener="#{internalOrganizationPage.get('workSchedule').onEventSelect}" />
                    <p:ajax event="dateSelect" listener="#{internalOrganizationPage.get('workSchedule').onDateSelect}" />
                    <p:ajax event="viewChange" listener="#{internalOrganizationPage.get('workSchedule').onViewChange}"
                            update=":messages" />
                </p:schedule>
            </h:form>                      
        </p:dialog> 

        <p:dialog dynamic="true" id="schedule-template-day-exception-create-dlg" widgetVar="scheduleTemplateDayExceptionCreateDlg"
                  modal="true" resizable="false" header="Create Schedule Exception Dialog" >
            <h:form id="schedule-template-day-exception-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{internalOrganizationPage.get('workSchedule').exception.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{internalOrganizationPage.get('workSchedule').exception.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{internalOrganizationPage.get('workSchedule').addException}"
                                         update=":work-schedule-frm:work-schedule-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionCreateDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="schedule-template-day-exception-edit-dlg" widgetVar="scheduleTemplateDayExceptionEditDlg" modal="true"
                  resizable="false" header="Edit Schedule Exception Dialog" >
            <h:form id="schedule-template-day-exception-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="from-date" value="From" /> 
                    <p:calendar id="from-date" value="#{internalOrganizationPage.get('workSchedule').exception.fromDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <p:outputLabel for="thru-date" value="Thru" />
                    <p:calendar id="thru-date" value="#{internalOrganizationPage.get('workSchedule').exception.thruDate}"
                                pattern="EEE, dd/MM/yyyy HH:mm" showOn="button"  readonlyInput="true" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{internalOrganizationPage.get('workSchedule').update}"
                                         update=":work-schedule-frm:work-schedule-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionEditDlg').hide()" icon="ui-icon-refresh" />
                        <p:commandButton value="Delete" actionListener="#{internalOrganizationPage.get('workSchedule').deleteException}" style="float:right"
                                         update=":work-schedule-frm:work-schedule-tbl :messages" oncomplete="PF('scheduleTemplateDayExceptionEditDlg').hide()" icon="ui-icon-trash" />
                    </f:facet>

                </p:panelGrid>            
            </h:form>
        </p:dialog>

        <p:overlayPanel dynamic="true" id="schedule-chooser-panel" widgetVar="scheduleChooserPanel" style="width:50%" >
            <h:form id="schedule-chooser-frm">
                <p:dataTable id="schedule-chooser-tbl" value="#{internalOrganizationPage.get('scheduleChooser').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" selection="#{internalOrganizationPage.get('scheduleChooser').value}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <p:ajax event="rowSelect" listener="#{internalOrganizationPage.get('scheduleChooser').onChoose}" process="schedule-chooser-tbl"
                            update=":schedule-chooser-frm:schedule-chooser-tbl :pos-create-frm:work-schedule :messages" />

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Remarks">
                        <h:outputText value="#{item.remarks}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:overlayPanel>

        <p:dialog dynamic="true" id="report-to-dlg" widgetVar="reportToDlg" modal="true" resizable="false"
                  header="Report To"  fitViewport="true" width="500" >
            <h:form id="report-to-frm">
                <p:dataTable id="report-to-tbl" value="#{internalOrganizationPage.get('reportingStructureTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{internalOrganizationPage.get('reportingStructureTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="report-to-tbl" update=":report-to-frm:report-to-tbl :messages" />
                    <p:ajax event="rowSelect" process="report-to-tbl" update=":report-to-frm:report-to-tbl :messages" />
                    <p:ajax event="rowUnselect" process="report-to-tbl" update=":report-to-frm:report-to-tbl :messages" />


                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{internalOrganizationPage.get('reportingStructureTable').prepareTransient}"
                                         update=":report-to-create-dlg" oncomplete="PF('reportToCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{internalOrganizationPage.get('reportingStructureTable').updateContextEmpty}"
                                         update=":report-to-edit-dlg" oncomplete="PF('reportToEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{internalOrganizationPage.get('reportingStructureTable').deleteContextEmpty}"
                                         update=":report-to-delete-dlg" oncomplete="PF('reportToDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Reporting To">
                        <h:outputText value="#{item.reportingToPosition}" />
                    </p:column>

                    <p:column headerText="From">
                        <h:outputText value="#{item.fromDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Thru">
                        <h:outputText value="#{item.thruDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Primary">
                        <p:selectBooleanCheckbox value="#{item.primaryFlag}"  >

                        </p:selectBooleanCheckbox>
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="report-to-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{internalOrganizationPage.get('reportingStructureTable').prepareTransient}"
                                oncomplete="PF('reportToCreateDlg').show()" update=":report-to-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":report-to-edit-dlg" oncomplete="PF('reportToEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":report-to-delete-dlg" oncomplete="PF('reportToDeleteDlg').show()" />
                </p:contextMenu>
            </h:form>       
        </p:dialog>

        <p:overlayPanel dynamic="true" id="search-pos-panel" widgetVar="searchPosPanel" style="width: 50%" >
            <h:form id="search-pos-frm">
                <p:dataTable id="search-pos-tbl" value="#{internalOrganizationPage.get('positionSelector').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" selection="#{internalOrganizationPage.get('reportingStructureTable').selection.reportingToPosition}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="rowSelect" process="search-pos-tbl" update=":report-to-create-frm:report-to :messages" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Name" filterBy="#{item.name}" filterMatchMode="contains" />
                            <p:column headerText="Work Unit" filterBy="#{item.workUnits}"
                                      filterOptions="#{internalOrganizationPage.get('workUnitList').typeList}" filterMatchMode="exact" />
                            <p:column rowspan="2" headerText="Type" width="100" filterBy="#{item.type}"
                                      filterOptions="#{internalOrganizationPage.get('positionTypeList').typeList}" filterMatchMode="exact" />
                            <p:column headerText="Organization" />
                        </p:row>
                    </p:columnGroup>

                    <p:column>
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column>
                        <h:outputText value="#{item.workUnits}" />
                    </p:column>

                    <p:column>
                        <h:outputText value="#{item.type}" />
                    </p:column>

                    <p:column>
                        <h:outputText value="#{item.hiringOrganization.canonicalName}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:overlayPanel>

        <p:dialog dynamic="true" id="report-to-create-dlg" widgetVar="reportToCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="report-to-create-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column style="font-weight: bold">
                            <p:outputLabel for="report-to" value="Reporting To" />
                        </p:column>
                        <p:column>
                            <h:outputText id="report-to" value="#{internalOrganizationPage.get('reportingStructureTable').selection.reportingToPosition.name}" />
                            <p:commandButton icon="ui-icon-search" style="float:right; margin-left: 5px"
                                             oncomplete="PF('searchPosPanel').show('#{component.clientId}')" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column style="font-weight: bold">
                            <p:outputLabel for="from" value="From" />
                        </p:column>
                        <p:column>
                            <p:calendar showOn="button" pattern="dd/MM/yyyy" value="#{internalOrganizationPage.get('reportingStructureTable').selection.fromDate}" id="from" label="From Date" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column style="font-weight: bold">
                            <p:outputLabel for="thru" value="Thru" />
                        </p:column>
                        <p:column>
                            <p:calendar showOn="button" pattern="dd/MM/yyyy" value="#{internalOrganizationPage.get('reportingStructureTable').selection.thruDate}" id="thru" label="Thru Date" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column style="font-weight: bold">
                            <p:outputLabel for="primary" value="Primary" />
                        </p:column>
                        <p:column>
                            <p:selectBooleanCheckbox id="primary" value="#{internalOrganizationPage.get('reportingStructureTable').selection.primaryFlag}" label="Primary Flag" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Create" actionListener="#{internalOrganizationPage.get('reportingStructureTable').create}"
                                                 update=":report-to-frm:report-to-tbl :messages" oncomplete="PF('reportToCreateDlg').hide()" icon="ui-icon-check" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="report-to-edit-dlg" widgetVar="reportToEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="report-to-edit-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column style="font-weight: bold">
                            <p:outputLabel for="thru" value="Thru" />
                        </p:column>
                        <p:column>
                            <p:calendar showOn="button" pattern="dd/MM/yyyy" value="#{internalOrganizationPage.get('reportingStructureTable').selection.thruDate}" id="thru" label="Thru Date" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column style="font-weight: bold">
                            <p:outputLabel for="primary" value="Primary" />
                        </p:column>
                        <p:column>
                            <p:selectBooleanCheckbox id="primary" value="#{internalOrganizationPage.get('reportingStructureTable').selection.primaryFlag}" label="Primary Flag" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Update" actionListener="#{internalOrganizationPage.get('reportingStructureTable').update}"
                                                 update=":report-to-frm:report-to-tbl :messages" oncomplete="PF('reportToEditDlg').hide()" icon="ui-icon-refresh" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="report-to-delete-dlg" widgetVar="reportToDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{internalOrganizationPage.get('reportingStructureTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('reportingStructureTable').delete}"
                                 oncomplete="PF('reportToDeleteDlg').hide()" update=":report-to-frm:report-to-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('reportToDeleteDlg').hide()" />
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="workunit-dlg" widgetVar="workUnitDlg" modal="true" resizable="false"
                  header="Create Work Unit Dialog" fitViewport="true" width="500" >
            <h:form id="workunit-frm">
                <p:dataTable id="workunit-tbl" value="#{internalOrganizationPage.get('workUnitTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{internalOrganizationPage.get('workUnitTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="workunit-tbl" update=":workunit-frm:workunit-tbl :messages" />
                    <p:ajax event="rowSelect" process="workunit-tbl" update=":workunit-frm:workunit-tbl :messages" />
                    <p:ajax event="rowUnselect" process="workunit-tbl" update=":workunit-frm:workunit-tbl :messages" />


                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{internalOrganizationPage.get('workUnitTable').prepareTransient}"
                                         update=":workunit-create-dlg" oncomplete="PF('workUnitCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{internalOrganizationPage.get('workUnitTable').updateContextEmpty}"
                                         update=":workunit-edit-dlg" oncomplete="PF('workUnitEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{internalOrganizationPage.get('workUnitTable').deleteContextEmpty}"
                                         update=":workunit-delete-dlg" oncomplete="PF('workUnitDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Code">
                        <h:outputText value="#{item.shortName}" />
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText value="#{item.description}"  />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="workunit-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{internalOrganizationPage.get('workUnitTable').prepareTransient}"
                                oncomplete="PF('workUnitCreateDlg').show()" update=":workunit-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":workunit-edit-dlg" oncomplete="PF('workUnitEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":workunit-delete-dlg" oncomplete="PF('workUnitDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="workunit-create-dlg" widgetVar="workUnitCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="workunit-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{internalOrganizationPage.get('workUnitTable').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="code" value="Code" />
                    <p:inputText value="#{internalOrganizationPage.get('workUnitTable').selection.shortName}" id="code" label="Code" />

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{internalOrganizationPage.get('workUnitTable').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{internalOrganizationPage.get('workUnitTable').create}"
                                         update=":workunit-frm:workunit-tbl :messages" oncomplete="PF('workUnitCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="workunit-edit-dlg" widgetVar="workUnitEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="workunit-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{internalOrganizationPage.get('workUnitTable').selection.name}" id="name" label="Name" />

                    <p:outputLabel for="code" value="Code" />
                    <p:inputText value="#{internalOrganizationPage.get('workUnitTable').selection.shortName}" id="code" label="Code" />

                    <p:outputLabel for="description" value="Description" />
                    <p:inputTextarea value="#{internalOrganizationPage.get('workUnitTable').selection.description}" id="description" label="Description" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{internalOrganizationPage.get('workUnitTable').update}"
                                         update=":workunit-frm:workunit-tbl :messages" oncomplete="PF('workUnitEditDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="workunit-delete-dlg" widgetVar="workUnitDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{internalOrganizationPage.get('workUnitTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('workUnitTable').delete}"
                                 oncomplete="PF('workUnitDeleteDlg').hide()" update=":workunit-frm:workunit-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('workUnitDeleteDlg').hide()" />
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="org-create-dlg" widgetVar="orgCreateDlg" modal="true" resizable="false" header="Create Organization Dialog" >
            <h:form id="org-create-frm">
                <p:panelGrid columns="1">

                    <p:fieldset legend="Identity" toggleable="true">
                        <p:panelGrid columns="2">
                            <p:outputLabel for="name" value="Name" />
                            <p:inputText id="name" value="#{internalOrganizationPage.get('internalOrganizationTree').selection.party.name}" />
                        </p:panelGrid>
                    </p:fieldset>

                    <f:facet name="footer">
                        <p:commandButton icon="ui-icon-check" value="Save"
                                         actionListener="#{internalOrganizationPage.get('internalOrganizationTree').create}"
                                         oncomplete="PF('orgCreateDlg').hide()" update=":org-frm:org-tbl :explorer-tool-frm :messages" />
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="org-edit-dlg" widgetVar="orgEditDlg" modal="true" resizable="false" header="Edit Organization Dialog" >
            <h:form id="org-edit-frm">
                <p:panelGrid columns="1">

                    <p:fieldset legend="Identity" toggleable="true" >
                        <p:panelGrid columns="2">
                            <p:outputLabel for="name" value="Name" />
                            <p:inputText id="name" value="#{internalOrganizationPage.get('internalOrganizationTree').selection.party.name}" />
                        </p:panelGrid>
                    </p:fieldset>

                    <f:facet name="footer">
                        <p:commandButton icon="ui-icon-refresh" value="Update"
                                         actionListener="#{internalOrganizationPage.get('internalOrganizationTree').update}"
                                         oncomplete="PF('orgEditDlg').hide()" update=":org-frm:org-tbl :messages"/>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="org-delete-dlg" widgetVar="orgDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{internalOrganizationPage.get('internalOrganizationTree').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('internalOrganizationTree').delete}"
                                 oncomplete="PF('orgDeleteDlg').hide()" update=":org-frm:org-tbl :dt-frm:dt-tbl :tool-content :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('orgDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:overlayPanel id="pick-list-panel" widgetVar="searchUnit" >
            <h:form id="unit-pick-frm">
                <p:pickList id="unit-pick-list" value="#{internalOrganizationPage.get('workUnitPickList').model}" var="unit" itemLabel="#{unit}"
                            itemValue="#{unit}" converter="#{internalOrganizationPage.get('workUnitPickList')}" >
                    <p:ajax event="transfer" listener="#{internalOrganizationPage.get('workUnitPickList').onTransfer}"
                            update=":pos-create-frm:unit :pos-edit-frm:unit :messages" />
                    <f:facet name="sourceCaption">Available Work Unit</f:facet>	
                    <f:facet name="targetCaption">Selected Work Unit</f:facet> 
                </p:pickList>
            </h:form>
        </p:overlayPanel>

        <p:overlayPanel id="search-org-panel" widgetVar="searchOrgPanel" >
            <h:form id="search-org-frm">
                <p:tree id="search-org-tbl" value="#{internalOrganizationPage.get('internalOrganizationSelector').model.wrappedData}" var="item"
                        selectionMode="single" selection="#{internalOrganizationPage.get('internalOrganizationSelector').nodeSelection}"
                        style="width: 99%" >

                    <p:ajax event="select" listener="#{internalOrganizationPage.get('internalOrganizationSelector').handleNodeSelected}"
                            update=":pos-create-frm:organization :messages" />

                    <p:treeNode type="folder">
                        <h:outputText value="#{item.party.name}" />
                    </p:treeNode>

                    <p:treeNode type="document">
                        <h:outputText value="#{item.party.name}" />
                    </p:treeNode>

                </p:tree>
            </h:form>
        </p:overlayPanel>

        <p:dialog dynamic="true" id="pos-create-dlg" widgetVar="posCreateDlg" resizable="false" modal="true" header="Create Position Dialog" >
            <h:form id="pos-create-frm">               

                <p:panelGrid>
                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="name" value="Name" />
                        </p:column>
                        <p:column>
                            <p:inputText id="name" value="#{internalOrganizationPage.get('positionTable').selection.name}" />
                        </p:column>                          
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="organization" value="Organization" />
                        </p:column>
                        <p:column colspan="3">
                            <h:outputText id="organization" value="#{internalOrganizationPage.get('positionTable').selection.hiringOrganization.canonicalName}" />
                            <p:commandButton id="search-org" icon="ui-icon-search" style="float:right; margin-left: 5px"
                                             oncomplete="PF('searchOrgPanel').show('#{component.clientId}')"/>
                        </p:column>  
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="type" value="Type" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="type" value="#{internalOrganizationPage.get('positionTable').selection.type}" 
                                             converter="#{internalOrganizationPage.get('positionTypeList')}" var="t" >
                                <f:selectItem itemLabel="Select Type" itemValue="" />
                                <f:selectItems value="#{internalOrganizationPage.get('positionTypeList').data}" var="type" 
                                               itemValue="#{type}" itemLabel="#{type}" />
                                <p:column>
                                    <h:outputText rendered="#{not t.placeholder}" value="#{t.title}" />
                                    <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                   onclick="PF('posTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                </p:column>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column style="font-weight:bold">
                            <h:outputText value="Work Schedule" />
                        </p:column>
                        <p:column style="vertical-align: top!important;" colspan="3">
                            <h:outputText id="work-schedule" value="#{internalOrganizationPage.get('scheduleChooser').value}" />
                            <p:commandButton id="work-schedule-btn" icon="ui-icon-search" style="float:right; margin-left: 5px"
                                             oncomplete="PF('scheduleChooserPanel').show('#{component.clientId}')"/>
                        </p:column>   
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="status" value="Status" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="status" value="#{internalOrganizationPage.get('positionTable').selection.status}" 
                                             converter="#{internalOrganizationPage.get('positionStatusList')}">
                                <f:selectItem itemLabel="Select Status" itemValue="" />
                                <f:selectItems value="#{internalOrganizationPage.get('positionStatusList').data}" var="status" 
                                               itemValue="#{status.name()}" itemLabel="#{status.name()}" />
                            </p:selectOneMenu>
                        </p:column> 
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="permanent" value="Permanent ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="permanent" value="#{internalOrganizationPage.get('positionTable').selection.permanent}" />
                        </p:column>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="fulltime" value="Full Time ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="fulltime" value="#{internalOrganizationPage.get('positionTable').selection.fullTime}" />
                        </p:column> 
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="est-from" value="Est. From" />
                        </p:column>
                        <p:column>
                            <p:calendar id="est-from" value="#{internalOrganizationPage.get('positionTable').selection.estimatedFromDate}" />
                        </p:column>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="salary" value="Salary ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="salary" value="#{internalOrganizationPage.get('positionTable').selection.salary}" />
                        </p:column>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="exempt" value="Tax Exempt ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="exempt" value="#{internalOrganizationPage.get('positionTable').selection.exempt}" />
                        </p:column>     
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="est-thru" value="Est. Thru" />
                        </p:column>
                        <p:column>
                            <p:calendar id="est-thru" value="#{internalOrganizationPage.get('positionTable').selection.estimatedThruDate}" />
                        </p:column>  
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="required" value="Required" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputText id="required" value="#{internalOrganizationPage.get('positionTable').selection.required}" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold" >
                            <h:outputText value="Work Unit" />
                        </p:column>
                        <p:column colspan="5">
                            <h:outputText id="unit" value="#{internalOrganizationPage.get('positionTable').selection.workUnits}" />
                            <p:commandButton id="search-unit" icon="ui-icon-search" style="float:right; margin-left: 5px"
                                             oncomplete="PF('searchUnit').show('#{component.clientId}')"/>
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="6">
                                <p:commandButton icon="ui-icon-check" value="Save"
                                                 actionListener="#{internalOrganizationPage.get('positionTable').create}"
                                                 oncomplete="PF('posCreateDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                            </p:column>
                        </p:row>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="pos-edit-dlg" widgetVar="posEditDlg" modal="true" resizable="false" header="Edit Position Dialog" >
            <h:form id="pos-edit-frm">               

                <p:panelGrid>
                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="name" value="Name" />
                        </p:column>
                        <p:column>
                            <p:inputText id="name" value="#{internalOrganizationPage.get('positionTable').selection.name}" />
                        </p:column>                          
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="organization" value="Organization" />
                        </p:column>
                        <p:column colspan="3">
                            <h:outputText id="organization" value="#{internalOrganizationPage.get('positionTable').selection.hiringOrganization.canonicalName}" />
                            <p:commandButton id="search-org" icon="ui-icon-search" style="float:right; margin-left: 5px"
                                             oncomplete="PF('searchOrgPanel').show('#{component.clientId}')"/>
                        </p:column>  
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="type" value="Type" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="type" value="#{internalOrganizationPage.get('positionTable').selection.type}" 
                                             converter="#{internalOrganizationPage.get('positionTypeList')}" var="t" >
                                <f:selectItem itemLabel="Select Type" itemValue="" />
                                <f:selectItems value="#{internalOrganizationPage.get('positionTypeList').data}" var="type" 
                                               itemValue="#{type}" itemLabel="#{type}" />
                                <p:column>
                                    <h:outputText rendered="#{not t.placeholder}" value="#{t.title}" />
                                    <p:commandLink rendered="#{t.placeholder}" immediate="true" value="+ Add Type"
                                                   onclick="PF('posTypeCreateDlg').show()" style="font-style: italic; font-weight: bold" />
                                </p:column>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column style="font-weight:bold">
                            <h:outputText value="Work Unit" />
                        </p:column>
                        <p:column style="vertical-align: top!important;" colspan="3">
                            <h:outputText id="unit" value="#{internalOrganizationPage.get('positionTable').selection.workUnits}" />
                            <p:commandButton id="search-unit" icon="ui-icon-search" style="float:right; margin-left: 5px"
                                             oncomplete="PF('searchUnit').show('#{component.clientId}')"/>
                        </p:column>   
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="status" value="Status" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="status" value="#{internalOrganizationPage.get('positionTable').selection.status}" 
                                             converter="#{internalOrganizationPage.get('positionStatusList')}">
                                <f:selectItem itemLabel="Select Status" itemValue="" />
                                <f:selectItems value="#{internalOrganizationPage.get('positionStatusList').data}" var="status" 
                                               itemValue="#{status.name()}" itemLabel="#{status.name()}" />
                            </p:selectOneMenu>
                        </p:column> 
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="permanent" value="Permanent ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="permanent" value="#{internalOrganizationPage.get('positionTable').selection.permanent}" />
                        </p:column>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="fulltime" value="Full Time ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="fulltime" value="#{internalOrganizationPage.get('positionTable').selection.fullTime}" />
                        </p:column> 
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="est-from" value="Est. From" />
                        </p:column>
                        <p:column>
                            <p:calendar id="est-from" value="#{internalOrganizationPage.get('positionTable').selection.estimatedFromDate}" />
                        </p:column>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="salary" value="Salary ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="salary" value="#{internalOrganizationPage.get('positionTable').selection.salary}" />
                        </p:column>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="exempt" value="Tax Exempt ?" />
                        </p:column>
                        <p:column style="text-align: center">
                            <p:selectBooleanCheckbox id="exempt" value="#{internalOrganizationPage.get('positionTable').selection.exempt}" />
                        </p:column>     
                    </p:row>

                    <p:row>
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="est-thru" value="Est. Thru" />
                        </p:column>
                        <p:column>
                            <p:calendar id="est-thru" value="#{internalOrganizationPage.get('positionTable').selection.estimatedThruDate}" />
                        </p:column>  
                        <p:column style="font-weight:bold">
                            <p:outputLabel for="required" value="Required" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputText id="required" value="#{internalOrganizationPage.get('positionTable').selection.required}" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="6">
                                <p:commandButton icon="ui-icon-check" value="Update"
                                                 actionListener="#{internalOrganizationPage.get('positionTable').update}"
                                                 oncomplete="PF('posEditDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                            </p:column>
                        </p:row>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="pos-delete-dlg" widgetVar="posDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{internalOrganizationPage.get('positionTable').selection.name}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('positionTable').delete}"
                                 oncomplete="PF('posDeleteDlg').hide()" update=":dt-frm:dt-tbl :tool-content :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('posDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="pos-type-dlg" widgetVar="posTypeDlg" modal="true" resizable="false"
                  header="Position Type" fitViewport="true" width="500" >
            <h:form id="pos-type-frm">
                <p:dataTable id="pos-type-tbl" value="#{internalOrganizationPage.get('positionTypeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{internalOrganizationPage.get('positionTypeTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="pos-type-tbl" update=":pos-type-frm:pos-type-tbl :messages" />
                    <p:ajax event="rowSelect" process="pos-type-tbl" update=":pos-type-frm:pos-type-tbl :messages" />
                    <p:ajax event="rowUnselect" process="pos-type-tbl" update=":pos-type-frm:pos-type-tbl :messages" />

                    <f:facet name="header">
                        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true" 
                                         actionListener="#{internalOrganizationPage.get('positionTypeTable').prepareTransient}"
                                         update=":pos-type-create-dlg" oncomplete="PF('posTypeCreateDlg').show()"/>
                        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                                         disabled="#{internalOrganizationPage.get('positionTypeTable').updateContextEmpty}"
                                         update=":pos-type-edit-dlg" oncomplete="PF('posTypeEditDlg').show()" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{internalOrganizationPage.get('positionTypeTable').deleteContextEmpty}"
                                         update=":pos-type-delete-dlg" oncomplete="PF('posTypeDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.title}" />
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText value="#{item.description}"  />
                    </p:column>

                </p:dataTable>

                <p:contextMenu for="pos-type-tbl">
                    <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                                actionListener="#{internalOrganizationPage.get('positionTypeTable').prepareTransient}"
                                oncomplete="PF('posTypeCreateDlg').show()" update=":pos-type-create-dlg :messages" />
                    <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                                update=":pos-type-edit-dlg" oncomplete="PF('posTypeEditDlg').show()" />
                    <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                                update=":pos-type-delete-dlg" oncomplete="PF('posTypeDeleteDlg').show()" />
                </p:contextMenu>

            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="pos-type-create-dlg" widgetVar="posTypeCreateDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="pos-type-create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{internalOrganizationPage.get('positionTypeList').selection.title}" id="name" label="Name" />

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{internalOrganizationPage.get('positionTypeList').selection.description}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{internalOrganizationPage.get('positionTypeList').create}"
                                         update=":pos-type-frm:pos-type-tbl :pos-create-frm:type :messages" oncomplete="PF('posTypeCreateDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="pos-type-edit-dlg" widgetVar="posTypeEditDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="pos-type-edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name" />
                    <p:inputText value="#{internalOrganizationPage.get('positionTypeList').selection.title}" id="name" label="Name" />

                    <p:outputLabel for="remarks" value="Remarks" />
                    <p:inputTextarea value="#{internalOrganizationPage.get('positionTypeList').selection.description}" id="remarks" label="Remarks" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{internalOrganizationPage.get('positionTypeTable').update}"
                                         update=":pos-type-frm:pos-type-tbl :pos-edit-frm:type :messages" oncomplete="PF('posTypeEditDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="pos-type-delete-dlg" widgetVar="posTypeDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{internalOrganizationPage.get('positionTypeTable').selection}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{internalOrganizationPage.get('positionTypeTable').delete}"
                                 oncomplete="PF('posTypeDeleteDlg').hide()" update=":pos-type-frm:pos-type-tbl  :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('posTypeDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>

