<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/templates/page.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions" >

    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.ext.utility.strings" var="msgs" />
        #{helpDeskPage.initLayout}
    </ui:define>

    <ui:define name="editor-tool">
        <p:commandButton title="Create" icon="ui-icon-plusthick" immediate="true"  
                         disabled="#{helpDeskPage.get('helpDeskCaseTable').createContextEmpty}"
                         actionListener="#{helpDeskPage.get('helpDeskCaseTable').prepareTransient}"
                         oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
        <p:commandButton title="Edit" icon="ui-icon-pencil" immediate="true" 
                         disabled="#{helpDeskPage.get('helpDeskCaseTable').updateContextEmpty}"
                         update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                         disabled="#{helpDeskPage.get('helpDeskCaseTable').deleteContextEmpty}"
                         update=":delete-dlg" oncomplete="PF('deleteDlg').show()" /> 
        <p:commandButton title="All Data" icon="ui-icon-script" immediate="true"
                         update=":alldata-dlg" oncomplete="PF('alldataDlg').show()" />        
    </ui:define>

    <ui:define name="editor-content">
        <h:outputStylesheet library="ext" name="utility/css/jquery.countup.css" />
        <h:outputScript library="ext" name="utility/js/jquery.countup.js" />
        <h:outputScript>
            function countingUp(idx, startFrom) {$('.countup').eq(idx).countup(startFrom)}
        </h:outputScript>

        <h:form id="dt-frm">

            <p:dataTable id="dt-tbl" value="#{helpDeskPage.get('helpDeskCaseTable').model}" var="item" rowIndexVar="rowIndexVar0"
                         selectionMode="multiple" selection="#{helpDeskPage.get('helpDeskCaseTable').selections}"
                         emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                         lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <p:ajax event="contextMenu" process="dt-tbl" update=":messages" />
                <p:ajax event="rowSelect" process="dt-tbl" update=":messages" />
                <p:ajax event="rowUnselect" process="dt-tbl" update=":messages" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="From" width="100" />
                        <p:column headerText="Problem" />
                        <p:column headerText="To"  width="100"/>
                        <p:column headerText="Logger" width="200" />
                        <p:column headerText="Time-lapse" width="150" />
                    </p:row>
                </p:columnGroup>

                <p:column style="text-align: center">
                    <h:outputText value="#{item.srcWorkUnit}" />
                </p:column>

                <p:column>
                    <h:outputText value="#{item.content}" />
                </p:column>

                <p:column style="text-align: center">
                    <h:outputText value="#{item.destWorkUnit}" />
                </p:column>

                <p:column style="text-align: center">
                    <h:outputText value="#{item.creator.person.name}" />
                </p:column>

                <p:column style="text-align: center">
                    <div class="countup"  style="text-align: center"><h:outputScript >countingUp(#{rowIndexVar0}, '#{item.strSubmitDate}')</h:outputScript></div>
                </p:column>

            </p:dataTable>           


            <p:contextMenu for="dt-tbl">
                <p:menuitem value="Create" icon="ui-icon-plusthick" immediate="true"
                            actionListener="#{helpDeskPage.get('helpDeskCaseTable').prepareTransient}"
                            oncomplete="PF('createDlg').show()" update=":create-dlg :messages" />
                <p:menuitem value="Edit" icon="ui-icon-pencil" immediate="true"
                            update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
                <p:menuitem value="Delete" icon="ui-icon-trash" immediate="true"
                            update=":delete-dlg" oncomplete="PF('deleteDlg').show()" />
                <p:menuitem value="Solved" icon="ui-icon-check" immediate="true"
                            actionListener="#{helpDeskPage.get('helpDeskCaseTable').solved}"
                            update=":dt-frm:dt-tbl :messages" />
            </p:contextMenu>

        </h:form>
    </ui:define>

    <ui:define name="statusbar">

    </ui:define>

    <ui:define name="components">

        <p:dialog dynamic="true" id="alldata-dlg" widgetVar="alldataDlg" modal="true" resizable="false" header="Helpdesk Archive " width="50%" >
            <h:form id="alldata-frm">

                <p:dataTable id="dt-tbl" value="#{helpDeskPage.get('alldataTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{helpDeskPage.get('helpDeskCaseTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="From" width="100" />
                            <p:column headerText="Problem" />
                            <p:column headerText="To"  width="100"/>
                            <p:column headerText="Submit" />
                            <p:column headerText="Solved" />
                        </p:row>
                    </p:columnGroup>

                    <p:column style="text-align: center">
                        <h:outputText value="#{item.srcWorkUnit}" />
                    </p:column>

                    <p:column>
                        <h:outputText value="#{item.content}" />
                    </p:column>

                    <p:column style="text-align: center">
                        <h:outputText value="#{item.destWorkUnit}" />
                    </p:column>

                    <p:column style="text-align: center">
                        <h:outputText value="#{item.submitDate}" >
                            <f:convertDateTime pattern="dd/MM/YYYY HH:mm" />
                        </h:outputText>
                    </p:column>

                    <p:column style="text-align: center">
                        <h:outputText value="#{item.solvedDate}" >
                            <f:convertDateTime pattern="dd/MM/YYYY HH:mm" />
                        </h:outputText>
                    </p:column>

                </p:dataTable> 
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="src" value="From" />
                    <p:selectOneMenu id="src" value="#{helpDeskPage.get('helpDeskCaseTable').selection.srcWorkUnit}" 
                                     converter="#{helpDeskPage.get('workUnitList')}" >
                        <f:selectItem itemLabel="Select Work Unit" itemValue="" />
                        <f:selectItems value="#{helpDeskPage.get('workUnitList').data}" var="unit" 
                                       itemValue="#{unit}" itemLabel="#{unit.name}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="dest" value="To" />
                    <p:selectOneMenu id="dest" value="#{helpDeskPage.get('helpDeskCaseTable').selection.destWorkUnit}" 
                                     converter="#{helpDeskPage.get('workUnitList')}" >
                        <f:selectItem itemLabel="Select Work Unit" itemValue="" />
                        <f:selectItems value="#{helpDeskPage.get('workUnitList').data}" var="unit" 
                                       itemValue="#{unit}" itemLabel="#{unit.name}" />
                    </p:selectOneMenu>              

                    <p:outputLabel for="content" value="Content" />
                    <p:inputTextarea value="#{helpDeskPage.get('helpDeskCaseTable').selection.content}" id="content" label="Content" />

                    <f:facet name="footer">
                        <p:commandButton value="Create" actionListener="#{helpDeskPage.get('helpDeskCaseTable').create}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="dest" value="To" />
                    <p:selectOneMenu id="dest" value="#{helpDeskPage.get('helpDeskCaseTable').selection.destWorkUnit}" 
                                     converter="#{helpDeskPage.get('workUnitList')}" >
                        <f:selectItem itemLabel="Select Work Unit" itemValue="" />
                        <f:selectItems value="#{helpDeskPage.get('workUnitList').data}" var="unit" 
                                       itemValue="#{unit}" itemLabel="#{unit.name}" />
                    </p:selectOneMenu>                

                    <p:outputLabel for="content" value="Content" />
                    <p:inputTextarea value="#{helpDeskPage.get('helpDeskCaseTable').selection.content}" id="content" label="Content" />

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{helpDeskPage.get('helpDeskCaseTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting it ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{helpDeskPage.get('helpDeskCaseTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

</ui:composition>
