<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="initializer">
        <f:loadBundle basename="net.ap57.tiger.ext.utility.strings" var="msgs" />
        <h:outputStylesheet library="ext" name="utility/css/line-counter.css" />
        <h:outputScript>
            function id() {return "#{userSession.uuid}"};
            function isLocked() {
            return eval("#{lineCounterPage.get('counterPositionTable').locking}");
            };
            function getWorkUnit() {
            return "#{lineCounterPage.get('counterPositionTable').workUnit.id}";
            }
        </h:outputScript>
        <h:outputScript library="ext" name="utility/js/uuid.js" />
        <h:outputScript library="ext" name="utility/js/linecounter.js" />
        <h:outputScript library="ext" name="utility/js/linecounter-manager.js" />
        <h:outputScript library="ext" name="utility/js/linecounter-sampler.js" />
        #{lineCounterPage.initLayout}
    </ui:define>

    <ui:define name="editor-options">
        <p:menuitem value="Controller Link" icon="fa fa-link" immediate="true"
                    update=":controller-dlg" oncomplete="PF('controllerDlg').show()" />
    </ui:define>

    <ui:define name="editor-tool">
        <p:selectOneMenu value="#{lineCounterPage.get('counterPositionTable').workUnit}" immediate="true" 
                         converter="#{lineCounterPage.get('workUnitList')}" style="float:left;"   >
            <p:ajax event="itemSelect" async="true" immediate="true" listener="#{lineCounterPage.get('counterPositionTable').onWorkUnitChange}"
                    update=":dt-frm:dt-tbl :dt-frm:qc-dt-tbl :editor-tool-frm :detail-frm" />
            <f:selectItem itemLabel="Select Work Unit" itemValue="null" />
            <f:selectItems value="#{lineCounterPage.get('workUnitList').data}" var="unit" 
                           itemValue="#{unit}" itemLabel="#{unit.name}" />
        </p:selectOneMenu>
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span>
        <p:commandButton title="Edit" icon="fa fa-edit" immediate="true" 
                         disabled="#{lineCounterPage.get('counterPositionTable').updateContextEmpty}"
                         update=":edit-dlg :messages" oncomplete="PF('editDlg').show()" />
        <p:remoteCommand name="notifyLocking" actionListener="#{lineCounterPage.get('counterPositionTable').notifyLocking}"
                         update="lock" />
        <p:selectBooleanButton id="lock" offLabel="Lock" onLabel="Unlock" immediate="true"
                               value="#{lineCounterPage.get('counterPositionTable').locking}" 
                               onchange="onLocking('#{lineCounterPage.get('counterPositionTable').workUnit.id} ')" />
        <span class="ui-separator">
            <span class="ui-icon ui-icon-grip-dotted-vertical" />
        </span>
        <p:commandButton title="Generate Counter Position" icon="fa fa-magic" immediate="true"
                         actionListener="#{lineCounterPage.get('counterPositionTable').generatePosition}"
                         update=":dt-frm:dt-tbl :dt-frm:qc-dt-tbl" />
        <p:commandButton title="Reset All Counter" icon="fa fa-refresh" immediate="true"                         
                         update=":dt-frm:dt-tbl :dt-frm:qc-dt-tbl" actionListener="#{lineCounterPage.get('counterPositionTable').resetAll}" />
    </ui:define>

    <ui:define name="editor-content">

        <h:form id="dt-frm" prependId="false">
            <p:remoteCommand name="notifyBean" actionListener="#{lineCounterPage.get('counterPositionTable').notifyBean}"
                             global="false" update="dt-tbl qc-dt-tbl" />
            <p:remoteCommand name="invalidateDisplay" global="false" async="true"
                             actionListener="#{lineCounterPage.get('counterPositionTable').invalidateDisplay}" />
            <p:remoteCommand name="invalidateSelection" async="true"
                             actionListener="#{lineCounterPage.get('counterPositionTable').invalidateSelection}" />
            <p:remoteCommand name="invalidateSampleData" async="true" global="false"
                             update=":detail-frm:sampler-dt-tbl" />

            <p:panelGrid columns="2" style="width: 100%;" >                

                <p:dataGrid id="qc-dt-tbl" value="#{lineCounterPage.get('counterPositionTable').qcPositions}" var="item"
                            columns="1" >
                    <p:commandLink id="counter-lnk" 
                                   oncomplete="invalidateSelection([{name: 'positionNumber', value: '#{item.positionNumber}'}])"  
                                   styleClass="counter-pos#{lineCounterPage.get('counterPositionTable').onSelection(item)}"
                                   style=" text-decoration: none">
                        <p:panelGrid columns="1" style="text-align: center; width: 100%; height: 120px; padding: 5px;" >

                            <f:facet name="header">
                                <h:outputText value="#{item.label}" style="font-weight: bold;font-size: large" />
                            </f:facet>

                            <h:outputText id="counter" value="#{item.lastCount}" styleClass="#{item.status}"/>
                        </p:panelGrid>
                        <f:setPropertyActionListener value="#{item}" target="#{lineCounterPage.get('counterPositionTable').selection}" />
                    </p:commandLink>

                </p:dataGrid>


                <p:dataGrid id="dt-tbl" value="#{lineCounterPage.get('counterPositionTable').positions}" var="item"
                            columns="23"  >

                    <p:commandLink id="counter-lnk" immediate="true"
                                   oncomplete="invalidateSelection([{name: 'positionNumber', value: '#{item.positionNumber}'}])" 
                                   styleClass="counter-pos#{lineCounterPage.get('counterPositionTable').onSelection(item)}" 
                                   style=" text-decoration: none">
                        <p:panelGrid columns="1" style="text-align: center; width: 100%; padding: .5em" >

                            <f:facet name="header">
                                <h:outputText value="#{item.label}" style="font-weight: bold;font-size: large" />
                            </f:facet>

                            <h:outputText id="counter" value="#{item.lastCount}" styleClass="#{item.status}"/>
                        </p:panelGrid>
                        <f:setPropertyActionListener value="#{item}" target="#{lineCounterPage.get('counterPositionTable').selection}" />
                    </p:commandLink>

                </p:dataGrid>

            </p:panelGrid>

        </h:form>

        <h:form id="detail-frm">
            <p:panelGrid columns="2" >
                <p:panelGrid>
                    <f:facet name="header">
                        <p:row>
                            <p:column colspan="4">
                                <h:outputText value="Properties" />
                            </p:column>
                        </p:row>

                    </f:facet>

                    <p:row>
                        <p:column rowspan="3" style=" padding: 4em 2em">
                            <p:panel>
                                <h:outputText value="#{lineCounterPage.get('counterPositionTable').selection.label}"
                                              style="font-weight: bolder; font-size: 6em" />
                            </p:panel>
                        </p:column>
                        <p:column>
                            <p:outputLabel for="employee" value="Employee" />
                        </p:column>
                        <p:column>
                            <p:inputText id="employee" value="#{lineCounterPage.get('counterPositionTable').selection.employee.person.name}" readonly="true" />
                        </p:column>
                        <p:column>
                            <p:commandButton icon="ui-icon-search" oncomplete="PF('searchEmployeePanel').show('#{component.clientId}')" />                        
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="machine" value="Machine" />
                        </p:column>
                        <p:column>
                            <p:inputText id="machine" value="#{lineCounterPage.get('counterPositionTable').selection.machine}" />
                        </p:column>
                        <p:column>
                            <p:commandButton icon="ui-icon-search" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="description" value="Remarks" />
                        </p:column>
                        <p:column colspan="2">
                            <p:inputTextarea id="description" value="#{lineCounterPage.get('counterPositionTable').selection.description}" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column style="text-align: center"> 
                            </p:column>
                            <p:column colspan="3">
                                <p:commandButton value="Save" actionListener="#{lineCounterPage.get('counterPositionTable').update}"
                                                 icon="fa fa-save" update=":detail-frm" />
                            </p:column>
                        </p:row>

                    </f:facet>

                </p:panelGrid>
                <p:dataTable id="sampler-dt-tbl" value="#{lineCounterPage.get('samplerDataTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{lineCounterPage.get('samplerDataTable').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="10 20" rows="10" style="clear:both"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <f:facet name="header">
                        <div style="height: 1.8em">
                            <p:outputLabel for="active" value="Sampling" style="float:left; margin-right: 1em; margin-top: .2em" />
                            <p:inputSwitch id="active" value="#{lineCounterPage.get('samplerDataTable').sampler.active}" style="float:left"  >
                                <p:ajax update=":messages" listener="#{lineCounterPage.get('samplerDataTable').onActivatedSwitching}" />
                            </p:inputSwitch>
                            <p:calendar id="sample-thru" value="#{lineCounterPage.get('samplerDataTable').sampleThru}" pattern="dd/MM/yyyy HH:mm" showOn="button" style="float: right">
                                <p:ajax event="dateSelect" update=":detail-frm:sampler-dt-tbl" />
                            </p:calendar>
                            <p:outputLabel for="sample-thru" value="Thru" style="float:right; margin-right: 1em; margin-top: .2em" />
                            <p:calendar id="sample-from" value="#{lineCounterPage.get('samplerDataTable').sampleFrom}" pattern="dd/MM/yyyy HH:mm" showOn="button" style="float: right" >
                                <p:ajax event="dateSelect" update=":detail-frm:sampler-dt-tbl" />
                            </p:calendar>
                            <p:outputLabel for="sample-from" value="From" style="float:right; margin-right: 1em; margin-top: .2em" />
                        </div>
                    </f:facet>

                    <p:column headerText="No" width="10%">
                        <h:outputText value="#{rowIndexVar0 + 1}" />
                    </p:column>
                    <p:column headerText="Sampling Time" width="25%" style="text-align: center">
                        <h:outputText value="#{item.dateTaken}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Count" style="text-align: center">
                        <h:outputText value="#{item.count}" />
                    </p:column>

                </p:dataTable>
            </p:panelGrid>
        </h:form>

    </ui:define>

    <ui:define name="components">

        <p:dialog id="sampling-prefs-dlg" widgetVar="samplingPrefsDlg" dynamic="true" modal="true" resizable="false" header="Sampling Preferences">
            <h:form id="sampling-prefs-frm">
                <p:panelGrid columns="2">

                    <p:outputLabel for="sampling-period" value="Period (minutes)" />
                    <p:inputText id="sampling-period" value="#{lineCounterPage.get('samplerDataTable').sampler.samplingPeriod}" />

                    <f:facet name="footer">
                        <p:commandButton value="Save" icon="fa fa-save" actionListener="#{lineCounterPage.get('samplerDataTable').activateSampler}"
                                         oncomplete="PF('samplingPrefsDlg').hide()" update=":messages" />
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:overlayPanel id="search-employee-panel" widgetVar="searchEmployeePanel" style="width: 50%" >
            <h:form id="search-employee-frm">
                <p:dataTable id="search-employee-tbl" value="#{lineCounterPage.get('employeeTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="rowSelect" process="search-employee-tbl" listener="#{lineCounterPage.get('counterPositionTable').onEmployeeSelect}" 
                            update=":detail-frm :messages" oncomplete="PF('searchEmployeePanel').hide()" />

                    <p:column headerText="Name" filterBy="#{item.employee.person.name}" filterMatchMode="contains">
                        <h:outputText value="#{item.employee.person.name}" />
                    </p:column>

                    <p:column headerText="Position" filterBy="#{item.position.name}" filterMatchMode="exact" style="text-align: center;">
                        <h:outputText value="#{item.position.name}" />
                    </p:column>

                    <p:column headerText="Work Unit" filterBy="#{item.position.workUnits}" filterMatchMode="exact"
                              filterOptions="#{employeePage.get('workUnitList').typeList}" >
                        <h:outputText value="#{item.position.workUnits}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:overlayPanel>

        <p:overlayPanel widgetVar="searchController" dynamic="true" dismissable="false" showCloseIcon="true" appendToBody="true" >
            <h:form>
                <p:dataTable id="search-controller-tbl" value="#{lineCounterPage.get('counterDeviceTable').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="single" style="width:500px" emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="5" paginatorPosition="top" paginatorTemplate="{PreviousPageLink}  {NextPageLink}">

                    <p:ajax event="rowSelect" process="search-controller-tbl" listener="#{lineCounterPage.get('counterDeviceTable').onCounterDeviceSelect}"
                            update=":controller-frm:controller-tbl" oncomplete="PF('searchController').hide()" />

                    <p:column headerText="Host">
                        <h:outputText value="#{item.hostname}" />
                    </p:column>

                    <p:column headerText="Address">
                        <h:outputText value="#{item.address}" />
                    </p:column>

                    <p:column headerText="Ready ?">
                        <p:selectBooleanCheckbox value="#{item.ready}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:overlayPanel>

        <p:dialog dynamic="true" id="controller-dlg" widgetVar="controllerDlg" modal="true" resizable="false"
                  header="Controller Link" width="50%" >
            <h:form id="controller-frm">
                <p:dataTable id="controller-tbl" value="#{lineCounterPage.get('usedCounterDevice').model}" var="item" rowIndexVar="rowIndexVar0"
                             selectionMode="multiple" selection="#{lineCounterPage.get('usedCounterDevice').selections}"
                             emptyMessage="Empty Data" paginator="true" paginatorAlwaysVisible="false"
                             lazy="true" rowsPerPageTemplate="5 10 15 20 25" rows="15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:ajax event="contextMenu" process="controller-tbl" update=":controller-frm:controller-tbl :messages" />
                    <p:ajax event="rowSelect" process="controller-tbl" update=":controller-frm:controller-tbl :messages" />
                    <p:ajax event="rowUnselect" process="controller-tbl" update=":controller-frm:controller-tbl :messages" />

                    <f:facet name="header">
                        <p:commandButton title="Add" icon="ui-icon-plusthick" immediate="true"                                         
                                         oncomplete="PF('searchController').show('#{component.clientId}')"
                                         update=":controller-frm:controller-tbl" />
                        <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true"
                                         disabled="#{lineCounterPage.get('usedCounterDevice').deleteContextEmpty}"
                                         update=":controller-delete-dlg" oncomplete="PF('controllerDeleteDlg').show()" />
                    </f:facet>

                    <p:column headerText="Host">
                        <h:outputText value="#{item.hostname}" />
                    </p:column>

                    <p:column headerText="Address">
                        <h:outputText value="#{item.address}" />
                    </p:column>

                    <p:column headerText="Ready ?">
                        <p:selectBooleanCheckbox value="#{item.ready}" />
                    </p:column>

                </p:dataTable>

            </h:form>
        </p:dialog>

        <p:confirmDialog id="controller-delete-dlg" widgetVar="controllerDeleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{lineCounterPage.get('usedCounterDevice').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{lineCounterPage.get('usedCounterDevice').delete}"
                                 oncomplete="PF('controllerDeleteDlg').hide()" update=":controller-frm:controller-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('controllerDeleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="columns-dlg" widgetVar="columnsDlg" modal="true" resizable="false" header="Set Columns" >
            <h:form id="columns-frm">
                <p:panelGrid columns="2">
                    <p:outputLabel for="columns" value="Columns" />
                    <p:inputText id="columns" value="#{lineCounterPage.get('counterPositionTable').columns}" />
                    <f:facet name="footer">
                        <p:commandButton icon="ui-icon-check" value="Update" update=":dt-frm:dt-tbl" oncomplete="PF('columnsDlg').hide()" />
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="create-dlg" widgetVar="createDlg" modal="true" resizable="false" header="Create Dialog" >
            <h:form id="create-frm">
                <p:panelGrid>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="label" value="Label" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{lineCounterPage.get('counterPositionTable').selection.label}" id="label" label="label" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Create" actionListener="#{lineCounterPage.get('counterPositionTable').create}"
                                                 update=":dt-frm:dt-tbl :messages" oncomplete="PF('createDlg').hide()" icon="ui-icon-check" />
                            </p:column>
                        </p:row>
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="edit-dlg" widgetVar="editDlg" modal="true" resizable="false" header="Edit Dialog" >
            <h:form id="edit-frm">
                <p:panelGrid columns="2">

                    <p:row>
                        <p:column>
                            <p:outputLabel for="label" value="Label" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{lineCounterPage.get('counterPositionTable').selection.label}" id="label" label="label" />
                        </p:column>
                    </p:row>

                    <f:facet name="footer">
                        <p:commandButton value="Update" actionListener="#{lineCounterPage.get('counterPositionTable').update}"
                                         update=":dt-frm:dt-tbl :messages" oncomplete="PF('editDlg').hide()" icon="ui-icon-refresh" />
                    </f:facet>

                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="delete-dlg" widgetVar="deleteDlg" closable="false" header="Confirmation"
                         message="Are you sure about deleting &quot;#{lineCounterPage.get('counterPositionTable').selections}&quot; ?">
            <h:form>
                <p:commandButton value="Yes Sure" icon="ui-icon-check" immediate="true"
                                 actionListener="#{lineCounterPage.get('counterPositionTable').delete}"
                                 oncomplete="PF('deleteDlg').hide()" update=":dt-frm:dt-tbl :messages" />
                <p:commandButton value="Not Yet" icon="ui-icon-closethick" type="button" onclick="PF('deleteDlg').hide()"/>
            </h:form>
        </p:confirmDialog>
    </ui:define>

    <ui:define name="statusbar">
    </ui:define>

</ui:composition>
