/*
Copyright 2016 Arief Prihasanto <aphasan57 at gmail.com>.
All rights reserved

A lot of time, effort and money is spent designing and implementing the software.
All system design, text, graphics, the selection and arrangement thereof, and
all software compilations, underlying source code, software and all other material
on this software are copyright Arief Prihasanto <aphasan57 at gmail.com> and any affiliates.

In simple terms, every element of this software is protected by copyright.
Unless you have our express written permission, you are not allowed
to copy partially and or completely, modify partially and or completely,
use partially and or completely and or reproduce any part of this  software
in any way, shape and or form.

Taking material from other source code and or document Arief Prihasanto <aphasan57 at gmail.com> and affiliates has designed is
also prohibited. You can be prosecuted by the licensee as well as by us as licensor.

Any other use of materials of this software, including reproduction for purposes other
than that noted in the business agreement, modification, distribution, or republication,
without the prior written permission of Arief Prihasanto <aphasan57 at gmail.com> is strictly prohibited.

The source code, partially and or completely, shall not be presented and or shown
and or performed to public and or other parties without the prior written permission
of Arief Prihasanto <aphasan57 at gmail.com>

*/
/* 
    Created on : Mar 18, 2016, 5:35:22 PM
    Author     : Arief Prihasanto <aphasan57 at gmail.com>
*/

.counter-unused {
    font-weight: bolder;
    font-size: x-large;
    color: lightgray;
}

.counter-used {
    font-weight: bolder;
    font-size: x-large;
    color: green;    
}

.counter-error {
    font-weight: bolder;
    font-size: x-large;
    color: red;
}

.counter-pos:hover .ui-widget {
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
}

.counter-pos-selected .ui-widget {
    border-width: 2px;
    border-style: solid;
    border-color:  dodgerblue;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}
.ui-panelgrid-cell {
    vertical-align: top;
}

